<script type="text/javascript">
  var image_count = #if($advertisementimages.Images.Count)$advertisementimages.Images.Count #else 0 #end  + 2;
</script>

<h3>Advertisement</h3>

#if($Flash.error)
<p style="color: red; font-weight: bold;">
    $Flash.error
</p>
#end

<form action="update.castle" method="post">
$Form.HiddenField("advertisement.Id")
<div #**# id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
  <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
      <a href="#tabs-1">Settings</a>
    </li>
    <li class="ui-state-default ui-corner-top">
      <a href="#tabs-2">Image ad</a>
    </li>
    <li class="ui-state-default ui-corner-top">
      <a href="#tabs-3">Custom ad</a>
    </li>
    <li class="ui-state-default ui-corner-top">
      <a href="#tabs-4">Tags</a>
    </li>
  </ul>

  <div id="tabs-1">
    
    <input type="submit" value="Submit" style="float:right" />
    <h3>Advertisment Settings</h3>
    <p>
      Advertisement Name:<br/>
      #*$Form.TextField("advertisement.name") *#
      <input type="text" value="$!advertisement.name" name="advertisement.name" id="advertisement_name" class="ui-widget ui-widget-content ui-corner-all " />
    </p>


    #*<p>ClassifiedType : </p>
    $Form.TextField("advertisement.classifiedtype")*#
    <p>
      Positioning:<br/>
      $Form.Select("advertisement.Location.Id", $location, "%{value='Id', text='Name', firstoption='-select-',firstoptionvalue=''}")
    </p>



    <div>
      <p style="display:inline-block;float:left;">
        Maximum Clicks :<br/>
        #*$Form.TextField("advertisement.maxClicks") *#
        <input type="text" value="$!advertisement.maxClicks" name="advertisement.maxClicks" id="advertisement_maxClicks" class="ui-widget ui-widget-content ui-corner-all " />
      </p>
      #if($advertisement.Clicked)
      <p style="margin-left:15px;display:inline-block;float:left;">
        Current Numbers of Clicks:<br/>
        $!advertisement.Clicked
      </p>
      #end
      <div style="clear:both;">
      </div>

    </div>
    <div>
      <p style="display:inline-block;float:left;">
        Maximum Impressions :<br/>
        #*$Form.TextField("advertisement.maxImpressions") *#
        <input type="text" value="$!advertisement.maxImpressions" name="advertisement.maxImpressions" id="advertisement_maxImpressions" class="ui-widget ui-widget-content ui-corner-all " />
      </p>
      #if($advertisement.Views)
      <p style="margin-left:15px;display:inline-block;float:left;">
        Current  Numbers of Impressions :<br/>
        $!advertisement.Views
      </p>
      #end
      <div style="clear:both;"></div>
    </div>
    <p>
      Start Date :<br/>
      #*$Form.TextField("advertisement.startdate") *#
      <input type="text" value="$!advertisement.startdate" name="advertisement.startdate" id="advertisement_startdate" class="ui-widget ui-widget-content ui-corner-all " />
    </p>
    <p>
      Expiration Date :<br/>
      #*$Form.TextField("advertisement.expiration") *#
      <input type="text" value="$!advertisement.expiration" name="advertisement.expiration" id="advertisement_expiration" class="ui-widget ui-widget-content ui-corner-all " />
    </p>
    <div class="clear"></div>
    <br/>
    <input type="submit" value="Submit" />
    <br/>
  </div>

  <div id="tabs-2">
    <input type="submit" value="Submit" style="float:right" />
    <h3>Image Based Advertisment</h3>
    <p>
      Url :<br/>
      #*$Form.TextField("advertisement.Url") *#
      <input type="text" value="$!advertisement.Url" name="advertisement.Url" id="advertisement_Url" class="ui-widget ui-widget-content ui-corner-all w500" />
    </p>

    <br/>
    <div id="ImageDiv">
      <h5>Images</h5>
      Select an image <br/>
      #set($count = 0)
      #set($id = 0)

      #foreach($advertisementimage in $advertisementimages)
      <div>
        <select name="images[$!count].id"  class="imagedropDown" id="image$advertisementimage.id">
          <option class="" value="">-select-</option>
          #foreach($image in $images)
          <option class="image" value="$image.id" #if($advertisementimage == $image) selected="selected" #end>$!image.FileName</option>
          #set($id = $advertisementimage.id)

          #end
        </select>
        #if($id!=0)
        <a  title="$id" rel="$advertisement.id" style="cursor:pointer;display: inline-block;" class="DeleteImage ui-state-error ui-corner-all">
          <span class="ui-icon ui-icon-trash"></span>
        </a>#end
        <br/>
        #if($advertisementimage.id)
          <img class="selectedImage" width='100px' src="$siteroot/image/download.castle?id=$!advertisementimage.id"/>
        #end
      </div>
      #set($count = $count + 1)
      #end
      #if($advertisementimages)<div>
        <select name="images[$!count].id" id="image"  class="imagedropDown">
          <option class="" value="">-select-</option>
          #foreach($image in $images)
          <option class="image" value="$image.id" >$!image.FileName</option>
          #end
        </select>
        <br/>
      </div>
      #end
      #*<!--<a href="$siteroot/Tag/list.castle" target="_blank">+ add additional tags</a>-->*#
      <div id="NewImageHolderDiv"></div>
      <a style="cursor:pointer;" id="add_ad_image">+ add additional images</a>
    </div>

    
    <div class="clear"></div>
    <br/>
    <input type="submit" value="Submit" />
    <br/>
  </div>
  <div id="tabs-3">
    <input type="submit" value="Submit" style="float:right" />
    <h3>Custom Advertisment</h3>
    <p>Advertisment HTMLText : </p>
    <em>
      <strong>Note:</strong>By setting this you will overwrite the image and it's url.  Use for falsh based or text/html based ads
    </em>
   #*  $Form.TextArea("advertisement.HtmlText")*#
    <textarea class="tinyEditor" name="advertisement.HtmlText" id="tinyedit">$!classified.Text</textarea>
    <div class="clear"></div>
    <br/>
    <input type="submit" value="Submit" />
    <br/>
  </div>
  <div id="tabs-4">
    
    <input type="submit" value="Submit" style="float:right" />
    <h3>Tags and Ties</h3>
    <p>
      Tie to Breaking News:<br/>
      $Form.CheckBoxField("advertisement.BreakingNews") - yes
    </p>
    <div id="TagDiv">
      <h5>Tags</h5>
      Select or create new tag (if one isn't already created)<br/>
      #set($count = 0)
      #set($id = 0)
      #foreach($advertisementtag in $advertisementtags)
      <div id="div$advertisementtag.id">
        <select name="tags[$!count].id" id="tag$advertisementtag.id">
          <option class="" value="">-select-</option>
          #foreach($tag in $tags)
            <option class="tag" value="$tag.id" #if($advertisementtag == $tag) selected="selected" #end>$!tag.Name</option>
            #set($id = $advertisementtag.id)
          #end
        </select>
        <!--<input type="text" class="tag" name="newtag" value="" id="tag"> -->
        #if($id!=0)
        <a onclick="DeleteTag('$id','$advertisement.id')" style="cursor:pointer;display: inline-block;" class="ui-state-error ui-corner-all">
          <span class="ui-icon ui-icon-trash"></span>
        </a>#end
      </div>
      #set($count = $count + 1)
      #end

      <select name="tags[$!count].id" id="tag">
        <option class="" value="">-select-</option>
        #foreach($tag in $tags)
        <option class="tag" value="$tag.id" #if($advertisementtag == $tag) selected="selected" #end>$!tag.Name</option>
        #end
      </select>

      <input type="text" class="tag" name="newtag" value="" id="newtag">


        <input type="hidden" id="NextTagID" name="NextTagID" value="" />
        <!--<a href="$siteroot/Tag/list.castle" target="_blank">+ add additional tags</a>-->
        <div id="NewTagHolderDiv"></div>
      </div>
    <a style="cursor:pointer;" onclick="AddTag()">+ add additional tags</a>
    <div class="clear"></div>
    <br/>
    <input type="submit" value="Submit" />
    <br/>
  </div>
</div>










</form>
