
#if($Flash.error)
<p style="color: red; font-weight: bold;">
    $Flash.error
</p>
#end

<form action="_update_${action}.castle" method="post">
  <input type="hidden" value="$!itmes.id" name="${action}.id" />
  <h3>Place Type</h3>
  <p>Name:<br/>
      <input type="text" value="$!itmes.name" name="${action}.name" id="type_name" class="ui-widget ui-widget-content ui-corner-all " />
  </p>
  <p><input type="submit" value="Submit" /></p>
</form>
