#*<!-- NOTE: DUE TO VS AND IT'S AUTO FORMATING THE LOGIC BELOW IN THE tr GETTS MESSED UP should be <tr #if($c%2>0) class="even" #else class="odd" #end> -->*#
#if($Flash.error)
<p style="color: red; font-weight: bold;">
    $Flash.error
</p>
#end

<h3>Authorized User List</h3>
<p>

  <a href="new.castle" class="creation buttons ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
    <span class="ui-icon ui-icon-plusthick inlineIcon"></span>New User
  </a>
</p>

<table  width="100%" class="ui-widget ui-widget-content">
  <thead>
    <tr class="ui-widget-header ">
    <th>Id</th>
    <th>Network ID</th>
    <th>Access Level</th>
	<th>Email</th>
    <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    #set ($c=0)
    #foreach($author in $authors)
    <tr #if($c%2>0) class="even" #else class="odd" #end>
      <td>$!author.id</td>
      <td>$!author.Nid</td>
      <td>
        $!author.access_levels.title
      </td>
      <td>
        #if($author.email)<a href="mailto:$!author.email">$!author.email</a>
      </td>
      <td class='actionArea'>

        <span style='font-size:0.7em;'>
          <a href="edit.castle?id=$!{author.id}" title="Edit" class="buttons ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
            <span class="ui-icon ui-icon-pencil"></span>
          </a>
          <a href="delete.castle?id=$!{author.id}" title="Delete" #*onclick="return confirm('Are you sure you want to Delete?(Y/N)?')"*# class="buttons ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
            <span class="ui-icon ui-icon-trash"></span>
          </a>
        </span>
      </td>
    </tr>
    #set ($c=$c+1)
    #end
  </tbody>
</table>




