<div class="tab_tar">
	#set($c=0)
	#foreach($item in $list_items)#set($c=$c+1)#end
	#if($list_items && $c>0)
		#set($Pagination_location='top')
		#parse("admin/listings/areas/pagination.vm")
		<ul class="editablelistUL list_1">
			#foreach($item in $list_items)
				<li class="ui-widget-content ui-corner-all item_$!item.id con">
					#parse("admin/listings/item.vm")
				</li>
		  #end
		</ul>
		#set($Pagination_location='bottom')
		#parse("listing_parts/areas/pagination.vm")
	#end
</div>