	<div class="listing_switch">
		<a href="#_Listing" id="Listing_choice"  class="ui-state-default ui-corner-left ListingChoices ui-state-hover active">
			<span>${controller.getView()} List</span>
		</a>
		#if($types && $userService.checkPrivleage("modify_place_types"))
			<a href="#_Types" id="Types_choice" class="ui-state-default ListingChoices ">
				<span>Types</span>
			</a>
		#end
		#if($styles && $userService.checkPrivleage("modify_styles"))
			<a href="#_styles" id="styles_choice" class="ui-state-default ListingChoices ">
				<span>Styles</span>
			</a>
		#end
		#if($place_name_types && $userService.checkPrivleage("modify_place_name_types"))
			<a href="#_name_types" id="name_types_choice" class="ui-state-default ListingChoices ">
				<span>Name Types</span>
			</a>
		#end
		#if($templates && $userService.checkPrivleage("modify_templates"))	
			<a href="#_template" id="template_choice" class="ui-state-default ListingChoices ">
				<span>Infotab Templates</span>
			</a>
		#end		
		
		#if($fields && $userService.checkPrivleage("modify_fields"))	
			<a href="#_Fields" id="Fields_choice" class="ui-state-default ui-corner-right ListingChoices ">
				<span>Fields</span>
			</a>
		#end
	</div>
	<div class="clear"></div>
	
	<div id="_Listing" class="tabedArea tabactive" >
		<h3>${controller.getView()} List :</h3>
		<div style="position:relative;" >
			<div id="${controller.getView()}TypeDiv" style="position: absolute; top: 5px; z-index: 1; line-height: 15px; right: 8px;color:#fff;">
			
				<a href="$siteroot/${controller.getView()}/new.castle" class="creation buttons ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" style="display:inline-block;">
				  <span class="ui-icon ui-icon-plusthick inlineIcon"></span>New ${controller.getView()}
				</a>
				<span style="display:inline-block;">
					Categories:<br/>
					<select id="list${controller.getView()}Type" class="fliterList">
						<option value="-3" #if($searchId == -3) selected="selected" #end>Your Sections</option>
						<option value="-2" #if($searchId == -2) selected="selected" #end>Your ${controller.getView()}</option>
						<option value="-1" #if($searchId == -1) selected="selected" #end>All</option>
						#foreach($cat in $listcats)
							<option value="$cat.id" #if($searchId == $cat.id) selected="selected" #end>$Controller.repeatStr("- ",$cat.level)$cat.name</option>
						#end
					</select>
				</span>
			</div>
			
			<div id="tabs" class="${controller.getView()}list ui-tabs ui-widget ui-widget-content ui-corner-all">
				<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
					#set($c=0)
					#foreach($status in $statuses)
						<li class="ui-state-default ui-corner-top #if($c<=0) ui-tabs-selected ui-state-active #end">
							<a href="#${status.title}">${status.title} ($controller.getVar("${status.title}_list").TotalItems)</a>
						</li>
						#set($c=$c+1)
					#end
				</ul>
				#foreach($STATUS in $statuses)
				  <div id="${STATUS.title}">
						#set($buttons=$controller.getVar("${STATUS.title}ButtonSet"))
						#set($list_items=$controller.getVar("${STATUS.title}_list"))
						#parse("admin/listings/general.vm")
						<div class="clear"></div>
				  </div>
				#end
			</div>
		</div>
	</div>

	#if($types && $userService.checkPrivleage("modify_place_types"))
		<div id="_Types" class="tabedArea ui-tabs-panel"><div class="tab_tar">
		<div class="placelist ui-tabs ui-widget ui-widget-content ui-corner-all">
			<div style="float: right; height: 37px; margin-top: 9px; position: relative; width: auto; z-index: 1;top:0px;">
			  <p>
				<a href="$siteroot/${controller.getView()}/new_type.castle" class="creation buttons ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
				  <span class="ui-icon ui-icon-plusthick inlineIcon"></span>Create Type
				</a>&nbsp;
			  </p>
			</div>
			<h3 style="float: left; display:inline-block;">${controller.getView()} Types ($types.TotalItems)</h3>
			#parse("/admin/types/list.vm")	
		</div>
	</div></div>
	#end	
	#if($styles && $userService.checkPrivleage("modify_styles"))
		<div id="_styles" class="tabedArea ui-tabs-panel"><div class="tab_tar">
			<div class="placelist ui-tabs ui-widget ui-widget-content ui-corner-all">
				<div style="float: right; height: 37px; margin-top: 9px; position: relative; width: auto; z-index:1;top:0px;">
				  <p>
					<a href="$siteroot/${controller.getView()}/new_style.castle" class="creation buttons ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
					  <span class="ui-icon ui-icon-plusthick inlineIcon"></span>Create style
					</a>&nbsp;
				  </p>
				</div>
				<h3 style="float: left; display:inline-block;">${controller.getView()} Styles ($styles.TotalItems)</h3>
				#parse("/admin/maps/styles/list.vm")	
			</div>
		</div></div>	
	#end
	#if($place_name_types && $userService.checkPrivleage("modify_place_name_types"))
		<div id="_name_types" class="tabedArea ui-tabs-panel"><div class="tab_tar">
			<div class="placelist ui-tabs ui-widget ui-widget-content ui-corner-all">
				<div style="float: right; height: 37px; margin-top: 9px; position: relative; width: auto; z-index: 1;top:0px;">
				  <p>
					<a href="$siteroot/${controller.getView()}/new_name_type.castle" class="creation buttons ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
					  <span class="ui-icon ui-icon-plusthick inlineIcon"></span>Create Name Type
					</a>&nbsp;
				  </p>
				</div>
				<h3 style="float: left; display:inline-block;">${controller.getView()} Name Types ($place_name_types.TotalItems)</h3>
				#parse("/admin/place_name_type/list.vm")	
			</div>
		</div></div>	
	#end

	#if($templates && $userService.checkPrivleage("modify_templates"))
		<div id="_template" class="tabedArea ui-tabs-panel"><div class="tab_tar">
			<div class="placelist ui-tabs ui-widget ui-widget-content ui-corner-all">
				<div style="float: right; height: 37px; margin-top: 9px; position: relative; width:auto; z-index: 1;top:0px;">
				  <p>
					<a href="$siteroot/${controller.getView()}/new_template.castle" class="creation buttons ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
					  <span class="ui-icon ui-icon-plusthick inlineIcon"></span>New template
					</a>&nbsp;
				  </p>
				</div>
				<h3 style="float: left; display:inline-block;">${controller.getView()} templates ($templates.TotalItems)</h3>
				#parse("/admin/templates/list.vm")
			</div>
		</div></div>
	#end	
	#if($fields && $userService.checkPrivleage("modify_fields"))
		<div id="_Fields" class="tabedArea ui-tabs-panel"><div class="tab_tar">
			<div class="placelist ui-tabs ui-widget ui-widget-content ui-corner-all">
				<div style="float: right; height: 37px; margin-top: 9px; position: relative; width:auto; z-index: 1;top:0px;">
				  <p>
					<a href="$siteroot/${controller.getView()}/new_field.castle" class="creation buttons ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
					  <span class="ui-icon ui-icon-plusthick inlineIcon"></span>New Field
					</a>&nbsp;
				  </p>
				</div>
				<h3 style="float: left; display:inline-block;">${controller.getView()} Fields ($fields.TotalItems)</h3>
				#parse("/admin/fields/list.vm")
			</div>
		</div></div>
	#end	

	
	
<!-- <div> -->