<li class="pod opRow ui-state-highlight op_marker" #if($hidden) style="display: none;"#end>
<span class="option_handle"></span>

	<span class="lable">Icon</span>
	<span class="controll">
		<input type="hidden" value="$!{event.id}" title="${event.name}" name="style.value[${opt.id}].${opt.name}.user_event[${event.id}]" />
<br/>
		<lable>url</lable><input type="text" value="$!ele.options[$opt].val" name="${opt.name}.url"  rel="${opt.name}.url" class="required"/><br/>
		<lable>anchor</lable><input type="text" value="$!ele.options[$opt].val" name="${opt.name}.anchor"  rel="${opt.name}.anchor"/><br/>
		<lable>origin</lable><input type="text" value="$!ele.options[$opt].val" name="${opt.name}.origin"  rel="${opt.name}.origin"/><br/>
		<lable>scaledSize</lable><input type="text" value="$!ele.options[$opt].val" name="${opt.name}.scaledSize"  rel="${opt.name}.scaledSize"/><br/>
		<lable>size</lable><input type="text" value="$!ele.options[$opt].val" name="${opt.name}.size"  rel="${opt.name}.size"/>
		
	</span>
</li>