<li class="pod opRow ui-state-highlight op_polyline op_polygon op_rectangle op_circle" #if($hidden) style="display: none;"#end>
<span class="option_handle"></span>

	<span class="lable">Stroke Color</span>
	<span class="controll">
<br/>
		<input type="text" value="$!{opt.value}" name="style._zoom[1].events[${event.id}].options[${opt.id}]" class="color_picker"  rel="${opt.name}"/>
	</span>
</li>