<li class="pod opRow ui-state-highlight op_marker op_polyline op_polygon op_rectangle op_circle" #if($hidden) style="display: none;"#end>
<span class="option_handle"></span>

	<span class="lable">Visible</span>
	<span class="controll">
<br/>
		<input type="checkbox" value="true" name="style._zoom[1].events[${event.id}].options[${opt.id}]" rel="${opt.name}"/> 
	</span>
</li>