#capturefor(html)

#capturefor(jsfolder)
#if($Controller.isLocal()==false) dis #else build #end
#end

<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		
		<title>Sorry, page not found.</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link type='text/css' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css' rel='stylesheet' media='screen' />
		<link href="https://repo.wsu.edu/spine/1/spine.min.css" rel="stylesheet" type="text/css" />		
		<script src="//use.typekit.net/roi0hte.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>
		$scriptsService.Css("~/Content/${jsfolder.Trim()}/css/map.rescue.styles.css",true)
		<link rel="shortcut icon" href="http://images.wsu.edu/favicon.ico" />
	</head>
	
	<body>
		$childContent
		
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		$scriptsService.Js("~/Content/js/modernizr-2.0.6/modernizr.min.js,~/Content/js/jquery.defaultvalue.js,~/Content/js/jquery.colorbox-min.js,~/Content/js/error_page_ini.js",false)
	</body>
</html>
#end$Controller.stripNonSenseContent($html,true)