




<div style="position:absolute;top:10%;right:0px; z-index: 1;">

    <ul style=" list-style:none;">
    <li class="optionsLink"><a href="#">MapView Options</a>
    <ul class="options"  style=" list-style:none;">
        <li><button onclick="turnOnPOI()" style="display:block;">Turn on all POI</button>
    <button onclick="turnOffPOI()" style="display:block;">Turn Off all POI</button>
    <button onclick="applyType('poi.school')" style="display:block;">Turn on just one POI of schools</button><br/>
    </li>
    </li>
    </ul>
</div>

<div style="display:none;">
  <div id="mapSearch">
    <h3>Search types</h3>
    <h4>Geo coded</h4>
    <input type="text" value="" id="searchbox"  />
    <h4>places</h4>
    <input id="searchTextField" type="text" size="50" placeholder="Anything you want!" />
    <div>
      <h4>local search</h4>
      <input type="text" id="queryInput" value="pullman" style="width: 250px;"/>
      <input type="button" value="Find" onclick="doSearch()"/>
    </div>
  </div>
</div>

<div class="ui-widget ui-widget-content ui-corner-left" style="position:absolute;bottom:10%;right:0px; z-index: 1;  ">
  <div id="searchwell"></div>
</div>


  <div id="map_canvas" style="width:1000em;height:100em;max-width:100%;min-height:100%;max-height:100%;"></div>

