<table width="60%" border="0" style="float:right;margin-right:5px;margin-top:7px;">
  <tr>
    <td>Showing $publishedPlaces.FirstItem - $publishedPlaces.LastItem of $publishedPlaces.TotalItems</td>
    <td align="right">
      #if($publishedPlaces.HasPrevious) $PaginationHelper.CreatePageLink( 1, "first",null, "%{searchId=$!searchId,status='published'}" )  #end
      #if(!$publishedPlaces.HasPrevious) first #end
      #if($publishedPlaces.HasPrevious) | $PaginationHelper.CreatePageLink( $publishedPlaces.PreviousIndex, "prev",null, "%{searchId=$!searchId,status='published'}" )  #end
      #if(!$publishedPlaces.HasPrevious) | prev #end
      #if($publishedPlaces.HasNext) | $PaginationHelper.CreatePageLink( $publishedPlaces.NextIndex, "next",null, "%{searchId=$!searchId,status='published'}" )  #end
      #if(!$publishedPlaces.HasNext) | next #end
      #if($publishedPlaces.HasNext) | $PaginationHelper.CreatePageLink( $publishedPlaces.LastIndex, "last",null, "%{searchId=$!searchId,status='published'}" )  #end
      #if(!$publishedPlaces.HasNext) | last #end
    </td>
  </tr>
</table>

<ul class="placelistUL list_3">

  #foreach($place in $publishedPlaces)
  #* set up authors*#
  #set($authors='')
  #capturefor(authors)
  #foreach ($author in $place.Authors)
  #each
  <span class="emailCol" rel="$!author.id">$!author.Name</span>
  #between
  /
  #end
  #end
  #* EOF set up  *#

  <li class="ui-widget-content ui-corner-all place_$!place.id con">
    #if($place.editing!=""  && $place.editing != $user)<span class="UinEdit ui-corner-bottom">
      &nbsp;&nbsp;&nbsp;$place.CheckedOutBy is editing this Place <a href="#" title="Published" rel="$place.id" class="buttons steal ui-button ui-widget ui-state-default ui-corner-all">
        <span class="ui-icon ui-icon-unlocked"> </span> Click to Release Place
      </a>
    </span><div class="inEdit ui-corner-all"> </div>#end
    <div class="place_aTar place_$!place.id" title="$!place.id">
      <div class='summaryCol'>
        <ul>
          #if($place.Title)<li class='Title'>
            <span>Title: </span>$!place.Title
          </li>#end
          #if($authors!='')<li class='Authors'>
            <span>Authors: </span>$authors
          </li>#end
          #if($place.Teaser)<li class='Teaser'>
            <span>Teaser: </span>
            <span class="Teaser">
              $Text.Fold($Controller.StripHtml($!place.Teaser,false),200)<br/>
            </span>
            <a href="$!siteroot/place/readmore.castle?id=$!{place.id}">more</a>
          </li>#end
          #if($place.BodyText)<li class="Body">
            <span>Body: </span>
            <span class="Body">$Text.Fold($Controller.StripHtml($!place.BodyText,false),100)</span>
            <a href="$!siteroot/place/readmore.castle?id=$!{place.id}">more</a>
          </li>#end
        </ul>
      </div>
      <div class='detailCol'>
        <ul>
          #if($place.Publishtime)<li class='date'>
            <span>Date: </span>$!place.Publishtime.ToString().Replace('12:00:00 AM','')
          </li>#end
          #if($place.Status.Title)<li class='Status'>
            <div>
              <span>Status: </span>$!place.Status.Title
            </div>
          </li>#end
          #if($place.BreakingNews)<li>
            <span>Breaking: </span>$!place.BreakingNews
          </li>#end
          #if($place.Hottopic)<li>
            <span>Hottopic: </span>$!place.Hottopic
          </li>#end
          #* #if($place.Location)<li>
            <span>Location: </span>$!place.Location
          </li>#end*#
          #if($place.PlaceType.Name)<li>
            <span>Type: </span>$!place.PlaceType.Name
          </li>#end
          #if($place.id)<li>
            <span>Id: </span>$!place.id
          </li>#end
        </ul>
      </div>
      <div class='actionCol'>
        <ul>
          #if($Controller.canEdit($place,$user.id) || $place.editing == $user || $place.isCheckedOutNull())
          <li>
            <a href="#if($place.editing=="" || $place.editing == $user)$siteroot/place/Edit_place.castle?id=$!{place.id} #else # #end" title="#if($place.editing)Is being edited by $place.editing.name #else Edit #end" class="buttons editIt ui-button ui-widget ui-state-default ui-corner-all ">
              <span class="ui-button-icon-primary ui-icon ui-icon-pencil"></span>
              <span class="actionText">Edit</span>
              <span class="actionpropt">&#187;</span>
            </a>
          </li>
          <li>
            <a href="$siteroot/place/delete.castle?id=$!{place.id}" title="Delete"  class="buttons ui-button ui-widget ui-state-default ui-corner-all ">
              <span class="ui-button-icon-primary ui-icon ui-icon-trash"> </span>
              <span class="actionText">Delete</span>
              <span class="actionpropt">&#187;</span>
            </a>
          </li>
          #end
          #if($Controller.canPublish($user))
          <li>
            <a href="$siteroot/place/setStatus.castle?id=$!{place.id}" title="Published" class="buttons pubState ui-button ui-widget ui-state-default ui-corner-all">
              <span class="ui-button-icon-primary ui-icon ui-icon-star"> </span>
              <span class="actionText">Status</span>
              <span class="actionpropt">&#187;</span>
            </a>
          </li>
          <li>
            <a href="$siteroot/place/send_breaking_single.castle?id=$!{place.id}" title="Send a breaking News for this ONLY" class="buttons sendBR ui-button ui-widget ui-state-default ui-corner-all">
              <span class="ui-button-icon-primary ui-icon ui-icon-signal-diag"> </span>
              <span class="actionText">Broadcast</span>
              <span class="actionpropt">&#187;</span>
            </a>
          </li>
          #end
          <li>
            <a href="$siteroot/read/${place.CustomUrl}" target="_blank" title="View" class="buttons ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
              <span class="ui-button-icon-primary ui-icon ui-icon-search"> </span>
              <span class="actionText">View</span>
              <span class="actionpropt">&#187;</span>
            </a>
          </li>

          #if($searchId!=0&&$searchId!=-1)
          <li>
            #if($place.id != $firstplace.id )
            <a href="$siteroot/place/moveup.castle?searchId=$!searchId&id=$!{place.id}" title="Move Up"  class="buttons  ui-button ui-widget ui-state-default ui-corner-all">
              <span class="ui-button-icon-primary ui-icon ui-icon-circle-arrow-n"> </span>
              <span class="actionText">Up</span>
              <span class="actionpropt">&#187;</span>
            </a>
            #end
          </li>
          <li>
            #if($place.id != $lastplace.id )
            <a href="$siteroot/place/movedown.castle?searchId=$!searchId&id=$!{place.id}"  title="Move down" class="buttons  ui-button ui-widget ui-state-default ui-corner-all">
              <span class="ui-button-icon-primary ui-icon ui-icon-circle-arrow-s"> </span>
              <span class="actionText">Down</span>
              <span class="actionpropt">&#187;</span>
            </a>
            #end
          </li>
          #end
        </ul>
      </div>
    </div>
  </li>
  #end
</ul>


<table width="60%" border="0" >
  <tr>
    <td>Showing $publishedPlaces.FirstItem - $publishedPlaces.LastItem of $publishedPlaces.TotalItems</td>
    <td align="right">
      #if($publishedPlaces.HasPrevious) $PaginationHelper.CreatePageLink( 1, "first",null, "%{searchId=$searchId,status='published'}" ) #end
      #if(!$publishedPlaces.HasPrevious) first #end
      #if($publishedPlaces.HasPrevious) | $PaginationHelper.CreatePageLink( $publishedPlaces.PreviousIndex, "prev",null, "%{searchId=$searchId,status='published'}" ) #end
      #if(!$publishedPlaces.HasPrevious) | prev #end
      #if($publishedPlaces.HasNext) | $PaginationHelper.CreatePageLink( $publishedPlaces.NextIndex, "next",null, "%{searchId=$searchId,status='published'}" ) #end
      #if(!$publishedPlaces.HasNext) | next #end
      #if($publishedPlaces.HasNext) | $PaginationHelper.CreatePageLink( $publishedPlaces.LastIndex, "last",null, "%{searchId=$searchId,status='published'}" ) #end
      #if(!$publishedPlaces.HasNext) | last #end
    </td>
  </tr>
</table>