

[Oo]bj
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad


/**/properties.config

log.txt
/CampusMap2010/cache/**/*.ext
/cache/**/*.css
/cache/**/*.js
/CampusMap2010/uploads/media/image/**/
