Thumbs.db
ehthumbs.db

[Oo]bj
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad


/**/properties.config

CampusMap2010/log.txt*
CampusMap2010/log*.txt
CampusMap2010/node_modules/**/
/CampusMap2010/cache/**/*.ext
/cache/**/*.css
/cache/**/*.js
/CampusMap2010/uploads/media/image/**/
/CampusMap2010/Content/node_modules/**/*
/CampusMap2010/Content/build/**/*
CampusMap2010/Content/.sass-cache/**/*scssc
.sass-cache


