#if($Flash.error)
<p style="color: red; font-weight: bold;">
    $Flash.error
</p>
#end
<h3>#if($style.Id!=0)Edit#else Add #end Element Style</h3>

#capturefor(formbuttons)
    <input type="submit" value="Cancel" name="cancel" style="float:right"  class="cancel_btn ui-button ui-widget ui-state-default ui-corner-all"/>
    <input type="submit" value="#if($style.id!=0) Apply #else Save #end" name="apply" style="float:right" title="#if($style.id!=0)Apply #else Save #end and Return" class="ui-button ui-widget ui-state-default ui-corner-all" />
    <input type="submit" value="Submit" style="float:right" class="submit_btn ui-button ui-widget ui-state-default ui-corner-all" />
#end

#capturefor(gtype)
#if($selectedType)#foreach($type in $style_types)#if($style.type==$type || $selectedType==$type)$type.name#end#end#else$!{style.type.name}#end
#end

<form action="update_style.castle" method="post">
	$Form.Hiddenfield("style.id")
	<div class="style_controlls">
		<fieldset>
			<legend>Basic setup for #foreach($type in $style_types)#if($style.type==$type || $selectedType==$type.id)  $type.name #end#end</legend>
				<input type="hidden"  name="style.type.id" value="#if($selectedType)$selectedType.id#else$!{style.type.id}#end"/>
				<input type="hidden"  name="" value="$gtype.Trim()"  id="style_of"/>
			<p>Name:<br/>
				<input type="text" value="$!style.name" name="style.name" id="type_name" class="ui-widget ui-widget-content ui-corner-all " />
			</p>
		</fieldset>
	
		#if( !$ajaxed )
			<div id="smaple_area">
				<fieldset>
					<legend>Sample</legend>
					<div id="style_map" style="width: 500px;height: 520px;"></div>
				</fieldset>
			</div>
		#end
	
		<div class="TABS EVENT_TABS ui-tabs ui-widget ui-widget-content ui-corner-all place_new">
			<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
				#foreach($event in $style_events)
					<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
						<a href="#${event.name}">#if(${event.friendly_name}!='')${event.friendly_name}#else${event.name}#end</a>
					</li>
				#end
			</ul>
			#foreach($event in $style_events)
				<div class="tabed" id="${event.name}">
					<fieldset>
						<legend>#if(${event.friendly_name}!='')${event.friendly_name}#else${event.name}#end setup:</legend>
						<fieldset id="optionsSelection_hover" >
							<legend>Style options</legend>
								#foreach($opt in $event.getOptions(${gtype}))
								
									#set($val="")
									#if($events.TryGetValue(${event.name},$evt))
										#if($events.get_item($event.name).TryGetValue(${opt},$value))
											#set($val=$events.get_item($event.name).get_item($opt))
										#end
									#end
								
								
									<div class="accordion">
										<h3><a href="#"><input type="checkbox" name="style.${event.name}.${opt}.used" #if($val.Trim()!="")checked="checked"#end/>${opt}</a></h3>
										<div> 
											
											#parse("admin/maps/styles/options/${gtype}/${opt}.vm")
										</div>
									</div>
								#end
						</fieldset>
						<fieldset>
							<legend>Javascript Callbacks</legend>
							<div class="accordion">
								<h3><a href="#">Start of event</a></h3>
								
								#set($val="")
								#if($events.TryGetValue(${event.name},$evt))
									#if($events.get_item($event.name).TryGetValue("onStart",$value))
										#set($val=$events.get_item($event.name).get_item("onStart"))
									#end
								#end
								
								
								<div> <textarea name="${event.name}.onStart">$!val</textarea> </div>
							</div>
							<div class="accordion">
								<h3><a href="#">End of event</a></h3>
								
								#set($val="")
								#if($events.TryGetValue(${event.name},$evt))
									#if($events.get_item($event.name).TryGetValue("onEnd",$value))
										#set($val=$events.get_item($event.name).get_item("onEnd"))
									#end
								#end
								
								<div> <textarea name="${event.name}.onEnd">$!val</textarea> </div>
							</div>
						</fieldset>
					</fieldset>
				</div>
			#end
			<div style="clear:both;"></div>
			$formbuttons
			<div style="clear:both;"></div>
		</div>
	</div>
</form>