<div id="localfooter">
  <a href="mailto:jeremy.bass@wsu.edu">
    <b>Contact Us/Comment</b>
  </a> | <a href="mailto:jeremy.bass@wsu.edu">
    <b>Website Suggestions</b>
  </a> | <a href="mailto:jeremy.bass@wsu.edu">
    <b>Problems with our Website</b>
  </a>
</div>
<!--localfooter-->