
<div id="mainsplash" class="row side-left">

	<div id="sideinfo" class="column one ui-widget-content ui-corner-all">
		<h1  class="head ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">Welcome</h1>
		<h3><a href="$helper.getAdminUrl("authors/edit")?id=$user.id">$user.name</a></h3>
		<hr/>
		<span>You currently have:</span>
		<table width="100%" class="ui-widget ui-widget-content">
		  <tbody>
			#capturefor(tmp)
				#if($user.Places && $user.Places.Count()>0)
					<tr #if($c%2>0) class="even" #else class="odd" #end>
						<td align="center">Places : $user.Places.Count</td>
					</tr>
				#end
				#if($user.views && $user.views.Count()>0)
					<tr #if($c%2>0) class="even" #else class="odd" #end>
						<td align="center">Maps : $user.views.Count</td>
					</tr>
				#end
			#end
			#if($tmp.Trim()!="")
				$tmp
			#else
				<tr #if($c%2>0) class="even" #else class="odd" #end>
					<td align="center">No Assets</td>
				</tr>
			#end			
		  </tbody>
		</table>
		<div id="activeUsers" class="ui-widget-content ui-corner-all">
			<span class="head ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">Other Active Users</span>
			<table width="100%" class="ui-widget ui-widget-content">
			  <tbody>
				#if($activeUsers)
					#set ($c=0)
					#foreach($user in $activeUsers)
						<tr #if($c%2>0) class="even" #else class="odd" #end>
							<td align="center">
								<span class="status ui-icon 
									#if($user.LastActive < $DateTime.Now.AddMinutes(-35) )
										ui-icon-radio-on
									#else
										#if( $user.LastActive < $DateTime.Now.AddMinutes(-15) )
											ui-icon-radio-off
										#else
											ui-icon-bullet
										#end
									#end
								 "></span> $user.name 
							</td>
						</tr>
						#set ($c=$c+1)
					#end
				#else
					<tr #if($c%2>0) class="even" #else class="odd" #end>
						<td align="center">
							There are currently no other users online.
						</td>
					</tr>
				#end
			  </tbody>
			</table>
		</div>
	</div>


	<div class="column two">
		#if($Flash.message)
			<div style="margin-top: 20px; padding: 0 .7em;" class="ui-state-highlight ui-corner-all">
				<p style="line-height: 15px;padding-bottom: 0;">
					<span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-info"></span><strong>Note:</strong>$Flash.message
				</p>
			</div><br/>
		#end
		<div style="margin-top: 20px; padding: 0 .7em;" class="ui-state-highlight ui-corner-all">
			<p style="line-height: 15px;padding-bottom: 0;">
				<span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-info"></span><strong>Notice:</strong>Site is under development, please report any bugs found.
			</p>
		</div><br/>
		
		<div class="displaybox ui-widget-content ui-corner-all " style="width:550px">
			<span class="head ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">Analytics Overview</span>
	
	<!-- Add Google Analytics authorization button -->
	  <button id="authorize-button" style="visibility: hidden">
			Authorize Analytics</button>
	
	  <!-- Div element where the Line Chart will be placed -->
	  
	
	
	<div id="tabs" style="width:550px">
		<ul>
			<li><a href="#tabs-1">Central Overview</a></li>
			<li><a href="#tabs-2">Events</a></li>
			<li><a href="#tabs-3">Visits</a></li>
		</ul>
		<div id="tabs-1">
			<div id='line-chart-example'><img
		  src="//chart.googleapis.com//chart?chs=400x150&chxt=x,y&chtt=Visitors+By+Type&chts=000000,15&cht=lc&chdl=Returning+Visitors|New+Visitors&chco=a3d5f7,389ced&chbh=a,5,20&chd=t:10,20,30,40,45,55,45,60,50,40|30,50,60,40,45,30,40,20,10,15&chxl=0:|1|2|3|4|5|6|7|8|9|10&chds=0,100&chxr=1,0,100,20" width="100%"/></div>
		</div>
		<div id="tabs-2">
			<div id='line-chart-example2'><img
		  src="//chart.googleapis.com//chart?chs=400x150&chxt=x,y&chtt=Visitors+By+Type&chts=000000,15&cht=lc&chdl=Returning+Visitors|New+Visitors&chco=a3d5f7,389ced&chbh=a,5,20&chd=t:10,20,30,40,45,55,45,60,50,40|30,50,60,40,45,30,40,20,10,15&chxl=0:|1|2|3|4|5|6|7|8|9|10&chds=0,100&chxr=1,0,100,20" width="100%"/></div>
		  
				<div id='line-chart-example4'><img
		  src="//chart.googleapis.com//chart?chs=400x150&chxt=x,y&chtt=Visitors+By+Type&chts=000000,15&cht=lc&chdl=Returning+Visitors|New+Visitors&chco=a3d5f7,389ced&chbh=a,5,20&chd=t:10,20,30,40,45,55,45,60,50,40|30,50,60,40,45,30,40,20,10,15&chxl=0:|1|2|3|4|5|6|7|8|9|10&chds=0,100&chxr=1,0,100,20" width="100%"/></div>
		  
		  
		</div>
		<div id="tabs-3">
			<div id='line-chart-example3'><img
		  src="//chart.googleapis.com//chart?chs=400x150&chxt=x,y&chtt=Visitors+By+Type&chts=000000,15&cht=lc&chdl=Returning+Visitors|New+Visitors&chco=a3d5f7,389ced&chbh=a,5,20&chd=t:10,20,30,40,45,55,45,60,50,40|30,50,60,40,45,30,40,20,10,15&chxl=0:|1|2|3|4|5|6|7|8|9|10&chds=0,100&chxr=1,0,100,20" width="100%"/></div>
		</div>
	</div>
	
	
	
	
	
	
	  <!-- Load all Google JS libraries -->
	  <script src="https://www.google.com/jsapi"></script>
	  <script src="/Content/js/gadash-1.0.js"></script>
	  <script src="https://apis.google.com/js/client.js?onload=gadashInit"></script>
	  <script>
		// Configure these parameters before you start.
		var API_KEY = 'AIzaSyA5jMS-UT-M9i5k5BtlpDLIltd2f38Ci-o';
		var CLIENT_ID = '705643341974.apps.googleusercontent.com';
		var TABLE_ID = 'ga:61987756';
		// Format of table ID is ga:xxx where xxx is the profile ID.
	
		gadash.configKeys({
		  'apiKey': API_KEY,
		  'clientId': CLIENT_ID
		});
	
		// Create a new Chart that queries visitors for the last 30 days and plots
		// visualizes in a line chart.
		
		var chart1 = new gadash.Chart({
		  'type': 'LineChart',
		  'divContainer': 'line-chart-example',
		  'last-n-days':30,
		  'query': {
			'ids': TABLE_ID,
			'metrics': 'ga:visitors',
			'dimensions': 'ga:date'
		  },
		  'chartOptions': {
			height:200,
			width:500,
			title: 'Visits in the last 30 days',
			hAxis: {title:'Date'},
			vAxis: {title:'Visits'},
			curveType: 'function'
		  }
		}).render();
		
		var chart2 = new gadash.Chart({
		  'type': 'LineChart',
		  'divContainer': 'line-chart-example2',
		  'last-n-days':30,
		  'query': {
			'ids': TABLE_ID,
			'metrics': 'ga:totalEvents,ga:uniqueEvents,ga:visitsWithEvent',
			'dimensions': 'ga:date'
		  },
		  'chartOptions': {
			height:200,
			width:500,
			title: 'Visits in the last 30 days',
			hAxis: {title:'Date'},
			vAxis: {title:'Events'},
			curveType: 'function'
		  }
		}).render();	
		
		var chart3 = new gadash.Chart({
		  'type': 'LineChart',
		  'divContainer': 'line-chart-example3',
		  'last-n-days':30,
		  'query': {
			'ids': TABLE_ID,
			'metrics': 'ga:percentNewVisits,ga:newVisits,ga:visitors',
			'dimensions': 'ga:date'
		  },
		  'chartOptions': {
			height:200,
			width:500,
			title: 'Visits in the last 30 days',
			hAxis: {title:'Date'},
			vAxis: {title:'Visits'},
			curveType: 'function'
		  }
		}).render();	
		
		  var chart4 = new gadash.Chart({
			'type': 'BarChart',
			'divContainer': 'line-chart-example4',
			'last-n-days':30,
			'query': {
				'ids': TABLE_ID,
				
				'dimensions': 'ga:eventCategory',
				'metrics': 'ga:uniqueEvents,ga:totalEvents'
			  },
			  'chartOptions': {
				height:200,
				width:500,
				title: 'Visits in the last 30 days',
				hAxis: {title:'type'},
				vAxis: {title:'Events'},
				curveType: 'function',
				"animation.easing":"inAndOut",
				"animation.duration":500
			  }
		}).render();
		
	  </script>
	
	<!--  
	
	
	https://www.googleapis.com/analytics/v3/data/ga?ids=ga%3A61999535&metrics=ga%3AtotalEvents%2Cga%3AuniqueEvents%2Cga%3AvisitsWithEvent&start-date=2012-09-12&end-date=2012-09-26&max-results=50
	
	https://www.googleapis.com/analytics/v3/data/ga?ids=ga%3A61999535&metrics=ga%3ApercentNewVisits%2Cga%3AnewVisits%2Cga%3Avisitors&start-date=2012-09-12&end-date=2012-09-26&max-results=50
	UA-22127038-5
	var myFeedUri = "https://www.googleapis.com/analytics/v3/data/ga?ids=ga%3A61999535&dimensions=ga%3AvisitorType&metrics=ga%3AavgTimeOnPage&segment=gaid%3A%3A-2&start-date=2012-09-12&end-date=2012-09-26&max-results=50";		
		  <div id="visitorDiv"><img
		  src="//chart.googleapis.com//chart?chs=400x150&chxt=x,y&chtt=Visitors+By+Type&chts=000000,15&cht=lc&chdl=Returning+Visitors|New+Visitors&chco=a3d5f7,389ced&chbh=a,5,20&chd=t:10,20,30,40,45,55,45,60,50,40|30,50,60,40,45,30,40,20,10,15&chxl=0:|1|2|3|4|5|6|7|8|9|10&chds=0,100&chxr=1,0,100,20" /></div>
				
	 https://chart.googleapis.com//chart?chs=400x150&chxt=x,y&chtt=Visitors+By+Type&chts=000000,15&cht=lc&chdl=Returning+Visitors|New+Visitors&chco=a3d5f7,389ced&chbh=a,5,20&chd=t:10,20,30,40,45,55,45,60,50,40|30,50,60,40,45,30,40,20,10,15&chxl=0:|1|2|3|4|5|6|7|8|9|10&chds=0,100&chxr=1,0,100,20      
			-->
	
		</div>
	
		<div class="displaybox ui-widget-content ui-corner-all">
			<span class="head ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">Drafts</span>
			<table width="100%" class="ui-widget ui-widget-content">
			  <tbody>
				#set ($c=0)
				#foreach($item in $places)
					<tr #if($c%2>0) class="even" #else class="odd" #end>
						<td align="center">
						<a href="$helper.getAdminUrl("place/_edit")?id=$!{item.id}" title="Edit">
							$item.prime_name
							<span class="ui-icon ui-icon-pencil"></span>
						  </a>
						</td>
					</tr>
					#set ($c=$c+1)
				#end
			  </tbody>
			</table>
			<span><a href="$helper.getAdminUrl("place/list")">View All Places</a></span>
		</div>
		
		
		<div class="displaybox ui-widget-content ui-corner-all">
			<span class="head ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">Places that can't render (with errors)</span>
			<table width="100%" class="ui-widget ui-widget-content">
			  <tbody>
				#set ($c=0)
				#foreach($item in $erroredPlaces)
					<tr #if($c%2>0) class="even" #else class="odd" #end>
						<td align="center">
						<a href="$helper.getAdminUrl("place/_edit")?id=$!{item.id}" title="Edit">
							$item.prime_name
							<span class="ui-icon ui-icon-pencil"></span>
						  </a>
						</td>
					</tr>
					#set ($c=$c+1)
				#end
			  </tbody>
			</table>
			<span><a href="$helper.getAdminUrl("place/list")">View All Places</a></span>
		</div>
		
	
	</div>
</div>
<div style="clear:both;"></div>