#macro(showexception $exc)
	$exc.GetType().Name

	Message:
	$exc.Message

	#if($exc.StackTrace)
	StackTrace:
	$exc.StackTrace
	#end

	#if($exc.InnerException)
	<b>Inner exception:</b>
	#set($inner = $exc.InnerException)
	#showexception($inner)
	#end
#end
<div id="container" class="fluid">
  <h1>Sorry! That Page Doesn't Seem To Exist.</h1>
  <p>The page you requested does not exist on this server. It might have been removed, had its name changed, or is temporarily unavailable.</p> 
  <h2>Here are a few links that may help:</h2>
  <ol>
    <li>
      <a href="http://map.wsu.edu/">Go &raquo; Back to the Central Map</a>
    </li>
    <li>
      <a href="#" class="errorReporting">Contact suport</a>
    </li>
  </ol>
  <img src="/Content/images/error/butch.png" width="451" style="max-width:451px;" height="558" alt="Butch leads the way!" id="butch" class="fluid" />
  <img src="/Content/images/error/img-logo.png" alt="Washington State University" style="max-width:192px" class="fluid" />
</div>
