#capturefor(html)<!doctype html>
<!--[if IE 7]><html class="no-js ie7 ie" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js ie8 ie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html itemscope="itemscope" itemtype="http://schema.org/WebPage" class="no-js" lang="en"> <!--<![endif]-->
	<head>
		#* all the JS and CSS that is site wide *#
		#parse("layouts/assets_central/global_header_html.vm")
	</head>
	<body id='campusmap' class="#if($embeded)embeded #end central_layout ${controller.getView()} ${controller.getAction()}">
		#if(!$embeded)
			<div id="header_bar">
				#parse("layouts/assets_central/header_html.vm")
			</div>
			<div style="float: left;left: 0; position: static;top: 0;width: 201px;z-index: 999;background: url(../../../../../Content/images/bg-nav.png) no-repeat scroll -99px 0 transparent;">
                <form action="#" id="placeSearch" style="margin: 19px 0 10px 33px;">
                    <input type="text" value="" placeholder="Search for a place" /><input type="submit" class="submit" value="placeSearching" />
                </form>
                
                <div id="navwrap_outer">
                    <div id="navwrap">
                        <div id="nav">
                            #parse("layouts/assets_central/main_menu.vm")
                            #*#parse("layouts/assets_central/footer.vm")*#
                        </div>
                    </div>
                </div>

			</div>
		#end
		
		$childContent
		
		#if(!$embeded)
			
			
			#parse("layouts/assets_central/aerial.vm")
		#end
		#parse("layouts/assets_central/global_footer_JS.vm")

	</body>
</html>

#end$Controller.stripNonSenseContent($html,true)