#if($Flash.error)
<p style="color: red; font-weight: bold;">
    $Flash.error
</p>
#end
<h3>Authorized User</h3>
<br/>
<form action="update.castle" method="post" enctype="multipart/form-data" >
$Form.HiddenField("authuser.Id")
$Form.HiddenField("image.id") 


<p>Name : <br/>
   #*$Form.TextField("person.name")*#
  <input type="text" value="$!authuser.name" name="authuser.name" id="authuser_name" class="ui-widget ui-widget-content ui-corner-all " />
  </p>
   
   <p> Email :<br/>
   #*$Form.TextField("person.email") *#
  <input type="text" value="$!authuser.email" name="authuser.email" id="authuser_email" class="ui-widget ui-widget-content ui-corner-all " />
  </p>
  <p>Phone :<br/>
   #*$Form.TextField("person.phone")*#
  <input type="text" value="$!authuser.phone" name="authuser.phone" id="authuser_phone" class="ui-widget ui-widget-content ui-corner-all " />
  </p>
  <p>Position :<br/>
   #*$Form.TextField("person.position")*#
  <input type="text" value="$!authuser.position" name="authuser.position" id="authuser_position" class="ui-widget ui-widget-content ui-corner-all " />
  </p>


<p>User Network ID:<br/>
  #*$Form.TextField("authuser.Nid")*#
	<input type="text" value="$!authuser.Nid" name="authuser.Nid" id="authuser_Nid" class="ui-widget ui-widget-content ui-corner-all " /></p>

	#if($controller.canChangeLevel($currentUser))
	<p> Access Levels :<br/>
		$Form.Select("authuser.AccessLevel.Id", $accesslevels, "%{value='Id', text='Title', firstoption='-select-',firstoptionvalue=''}") <br/>
		<div class="right">
			1.)  A <strong>Contributor</strong> can submit places but can't publish it.<br/>
			2.)  An <strong>Author</strong> can submit places and publish their own places.<br/>
			3.)  An <strong>Editor</strong> can submit places, publish their places, and publish anyone elses places also.  Plus a few other admin level items likes classifieds.
		</div>
	</p>
	#end


<p>
  Load Mugshot:<br/>
  <input class="file" name="newimage" value="image_load" id="authuser.image.id" type="file" />
</p>
<span style="font-size:12px;line-height:12px;">
	<strong>Note:</strong>
	<em>Images are auto sized down if they have a width or height of more then 1000px to 1000px;  It will not size up.</em>
</span>
#if($authuser.Images)<br/>
			#foreach($authuserImages in $authuserimages)

  <span>
    Image:<br/>
    <img id="selectedImage" style="max-width:180px" src="$siteroot/image/download.castle?id=${authuserImages.Id}&mug=true&m=crop&w=180&h=180" alt=""/>
  </span>
  #end
#end
<br/>
	<p>Sections :<br/>
		<select name="Sections" id="sections" class="authorSelect" multiple="multiple">
			#foreach($section in $sections)
				<option class="section" value="$section.Id" #if($authuser.Sections.Contains($section)) selected="selected" #end>$section.Name</option>
			#end
		</select>
	</p>

<p><input type="submit" value="Submit" /></p>

</form>
