#* 
NOTE COMMENTED OUT PARTS ARE THE PART THAT THOU WORK FOR THE MOST PART ARE THERE AS A SHELL FOR FEATURE PARTS
*#


#capturefor(formbuttons)
    <input type="submit" value="Exit" name="cancel" style="float:right"  class="cancel_btn ui-button ui-widget ui-state-default ui-corner-all"/>
    <input type="submit" value="Save and Return" title="Save and Return"  name="apply" style="float:right" class="ui-button ui-widget ui-state-default ui-corner-all" />
    <input type="submit" value="Save and Exit" title="Save and Exit"  style="float:right" class="submit_btn ui-button ui-widget ui-state-default ui-corner-all" />
#end

<div id="runningOptions">$!options_json</div>
<div id="shape" style="position:absolute;top:-9999em;left:-9999em;">$!shapes</div>

<script type="text/javascript">
	var base = {#if(${baseJson})"mapTypeId":google.maps.MapTypeId.${baseJson}#end};
</script>
#if($Flash.error)
	<p style="color: red; font-weight: bold;">
		$Flash.error
	</p>
#end

<form action="update.castle" method="post" id="editor_form">
	$formbuttons

	<style>
	#resizable { width: 150px; height: 150px; padding: 0.5em; }
	#resizable h3 { text-align: center; margin: 0; }
	.ui-resizable-helper { border: 2px dotted #00F; }
	</style>
		
	#if($view.height>0)
		#set($height = "${view.height}px")
	#else
		#set($height = "520px")
	#end
	
	#if($view.width>0)
		#set($width = "${view.width}px")
	#else
		#set($width = "100%")
	#end
	<lable for="dragCenter"><input type="checkbox" value="" id="dragCenter" /><strong>dragable</strong><b class="tips" title="">?<em>Turn this on if you have your option to include "dragable:no" so that you may use the drag feature of the map to set the center.  This will not overwirte the option set in the Options tab on output of this map view.  Only temperatally set this preview to be dragable.</em></b>
	</lable> | 
	<lable for="setZoom"><input type="checkbox" value="" id="setZoom" /><strong>Set Zoom</strong><b class="tips" title="">?<em>Turn this on if you have your options set to include "scaleControl:no", "zoomControl:no", and "scrollwheel:no" (which make the map un zoom-able) you may use this zoom feature of the map to set the zoom level.  This will not overwirte the option set in the Options tab on output of this map view.  Only temperatally set this scroll zoom to be working. <br/><strong>NOTE: this will only set the scrollwheel </strong></em></b>
	</lable>
	<div class="clear"></div>
	<!--<div id="size_guide_ticks"><div id="size_guide"><a href="http://identity.wsu.edu/web/guidelines/dimensions.aspx" target="_blank" style="float:right;">Other WSU sizes</a></div></div>-->
	<div id="campusmap">
		<div id="place_drawing_map" style="width:${width}; height:${height};"></div>
	</div>


	<div id="settings_wrap">
		<div id="side_tabs" class=" ui-tabs ui-widget ui-widget-content ui-corner-left place_new" >
			<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-left">
				<li class="ui-state-default ui-corner-left #if( $view.id==0 || $view.tmp) ui-state-active #end">
					<a href="#tabs_Basic" title="Basic"><i class="fa fa-cog"></i></a>
				</li>
				<li class="ui-state-default ui-corner-left">
					<a href="#tab_map_items" title="Map Items"><i class="fa fa-map-marker"></i></a>
				</li>
				<li class="ui-state-default ui-corner-left">
					<a href="#tabs_Options" title="Map Options"><i class="fa fa-sliders"></i></a>
				</li>
				<li class="ui-state-default ui-corner-left">
					<a href="#tabs_Detail" title="Display and Details"><i class="fa fa-users"></i></a>
				</li>
				<li class="ui-state-default ui-corner-left">
					<a href="#tabs_OUTPUT" title="Output/Embed"><i class="fa fa-info-circle"></i></a>
				</li>
				#if($comments.TotalItems&&$comments.TotalItems!=0)<li class="ui-state-default ui-corner-left">
					<a href="#tabs_COMMENTS">Comments</a>
				</li>#end
			</ul>
			<div id="tabs_Basic" class="mainAreaTabs" #if( $view.id!=0 && !$view.tmp) style="display: none;" #end>#parse("view/assests/tab_basics.vm")</div>  
			<div id="tab_map_items" class="mainAreaTabs" style="display: none;">#parse("view/assests/tab_map_items.vm")</div>  
			<div id="tabs_Options" class="mainAreaTabs" style="display: none;">#parse("view/assests/tab_map_options.vm")</div>
			#*
			<div id="tabs_Text" class="mainAreaTabs" style="display: none;">#parse("view/assests/tab_content.vm")</div>
			*#
			<div id="tabs_Detail" class="mainAreaTabs" style="display: none;">#parse("view/assests/tab_display.vm")</div>
			<div id="tabs_OUTPUT" class="mainAreaTabs" style="display: none;">#parse("view/assests/tab_output.vm")</div>
		
			#if($comments.TotalItems&&$comments.TotalItems!=0)
			<div id="tabs_COMMENTS" class="mainAreaTabs">
				<h3>Comment List</h3>
			
				<table width="100%" border="0" style="float:right;margin-right:5px;margin-top:7px;">
				  <tr>
					<td>Showing $comments.FirstItem - $comments.LastItem of $comments.TotalItems</td>
					<td align="right">
					  #if($comments.HasPrevious) $PaginationHelper.CreatePageLink( 1, "first" )
					  | $PaginationHelper.CreatePageLink( $comments.PreviousIndex, "prev" ) #end
					  #if($comments.HasNext) | $PaginationHelper.CreatePageLink( $comments.NextIndex, "next" )
					  | $PaginationHelper.CreatePageLink( $comments.LastIndex, "last" ) #end
					</td>
				  </tr>
				</table>
				<table  width="100%" class="ui-widget ui-widget-content">
				  <thead>
					<tr class="ui-widget-header ">
					  <th>Place</th>
					  <th>Comments</th>
					  <th>Flagged</th>
					  <th>Published</th>
					  <th>&nbsp;</th>
					</tr>
				  </thead>
				  <tbody>
			
					#set ($c=0)
					#foreach($comment in $comments)
					<tr class="#if($c%2>0) even #else odd #end #if($comment.adminRead==false) ui-state-highlight #end ">
					  <td>$!comment.view.id</td>
					  <td>$Text.Fold($Controller.StripHtml($!comment.Comments,false),100)</td>
					  <td #if($comment.Flagged==true) class="ui-state-error" #end>$!comment.Flagged</td>
					  <td>$!comment.published</td>
					  <td class='actionArea'>
			
						<span style='font-size:0.7em;'>
						  <a href="../comment/edit.castle?id=$!{comment.id}" title="Edit" class="buttons ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
							<span class="ui-icon ui-icon-pencil"></span>
						  </a>
						  <a href="../comment/delete.castle?id=$!{comment.id}" title="Delete" class="buttons ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
							<span class="ui-icon ui-icon-trash"></span>
						  </a>
						</span>
					  </td>
					</tr>
					#set ($c=$c+1)
					#end
				  </tbody>
				</table>
				<table width="100%" border="0" >
				  <tr>
					<td>Showing $comments.FirstItem - $comments.LastItem of $comments.TotalItems</td>
					<td align="right">
					  #if($comments.HasPrevious) $PaginationHelper.CreatePageLink( 1, "first" )
					  | $PaginationHelper.CreatePageLink( $comments.PreviousIndex, "prev" ) #end
					  #if($comments.HasNext) | $PaginationHelper.CreatePageLink( $comments.NextIndex, "next" )
					  | $PaginationHelper.CreatePageLink( $comments.LastIndex, "last" ) #end
					</td>
				  </tr>
				</table>
			  </div>
		  #end
		</div>
	</div>
</form>

	<div id="page_dialog">
		<form id="taber" name="">
			<fieldset class="ui-helper-reset">
				<label for="tab_title">Title</label>
				<input type="text" name="tab_title" id="tab_title" value="" class="ui-widget-content ui-corner-all" />
				<label for="tab_content">Content</label>
				<textarea name="tab_content" id="tab_content" class="ui-widget-content ui-corner-all"></textarea>
			</fieldset>
		</form>
	</div>


