<h3>tags List</h3>

<p>
<a href="new.castle">Create tags</a>
</p>

<table width="100%" border="1" cellpadding="2" cellspacing="0">
<tr>
    <th>Id</th>
    <th>Name</th>
    <th>&nbsp;</th>
</tr>

#foreach($tag in $tags)
<tr>
    <td align="center">$!tag.Id</td>
    <td align="center">$!tag.Name</td>
    <td align="center">
        <a href="edit.castle?id=$!{tag.Id}">Edit</a> | 
        <a href="delete.castle?id=$!{tag.Id}">Delete</a>
    </td>
    

</tr>
#end
</table>