#if($Flash.error)
<p style="color: red; font-weight: bold;">
    $Flash.error
</p>
#end

<form action="update.castle" method="post">
$Form.HiddenField("tag.id")

<h3>New tags</h3>
<p>tags Name:
$Form.TextField("tag.Name")
<p>
</br>    
</p>
    <input type="submit" value="Submit" />
    </p>

</form>
