#if($Flash.error)
<p style="color: red; font-weight: bold;">
    $Flash.error
</p>
#end

<form action="update_template.castle" method="post">
  $Form.HiddenField("template.Id")
  <h3>Place Infotabs template</h3>
  <p>Name:<br/>
      <input type="text" value="$!template.name" name="template.name" id="template_name" class="ui-widget ui-widget-content ui-corner-all " />
  </p>
  <p>Alias name:<br/>
      <input type="text" value="$!template.alias" name="template.alias" id="template_alias" class="ui-widget ui-widget-content ui-corner-all " />
  </p>
  <p>Process template</br>
	<input type="checkbox" value="$!template.process" name="template.process" id="template_process" class="ui-widget ui-widget-content ui-corner-all " />
	<h6><em><strong>Note:</strong> This will make it where any short codes will be processed thru the render engine of this app.</em></h6>
  </p>
  <p>Template:<br/>
      <textarea name="template.content" id="template_content" class="ui-widget ui-widget-content ui-corner-all" style="width:100%;min-height:350px;">$!{template.content}</textarea>
  </p>
  
<hr/>
	<h3>Short codes <a href="#" title="show" id="shortcode">+</a></h3>
	<div id="shortcodes">
		#foreach($short_code in $short_codes)
			$short_code<br/>
		#end
	</div>
	<h5><em><strong>Note:</strong> Shortcode presented here are a list of all fields that are under the place model.  Ie: you will not find a geometric model field alias here.  Also you will you'll want to note that the place type (Building/area/place/etc..) are all listed here.  It'd be suggestted that a template is made for each type.</em></h5>
	<h6><em>When using the short codes, adding the ! mark between the $ and { ( ie: &#36;!{notes_comments} ) will let the code retrun nothing if there is a value is unset.</em></h6>
<br/> 
  
  
  <p><input type="submit" value="Submit" /></p>
</form>
