#if($templates)
	<table width="50%" border="0" class="pagination" style="float:right;margin-right:5px;margin-top:7px;">
	  <tr>
		<td>Showing $templates.FirstItemIndex - $templates.LastItemIndex of $templates.TotalItems</td>
		<td align="right">
		  #if($templates.HasPreviousPage) $PaginationHelper.CreatePageLink( 1, "first",null, "%{target='templates'}" )  #end
		  #if(!$templates.HasPreviousPage) first #end
		  #if($templates.HasPreviousPage) | $PaginationHelper.CreatePageLink( $templates.PreviousPageIndex, "prev",null, "%{target='templates'}" )  #end
		  #if(!$templates.HasPreviousPage) | prev #end
		  #if($templates.HasNextPage) | $PaginationHelper.CreatePageLink( $templates.NextPageIndex, "next",null, "%{target='templates'}" )  #end
		  #if(!$templates.HasNextPage) | next #end
		  #if($templates.HasNextPage) | $PaginationHelper.CreatePageLink( $templates.TotalPages, "last",null, "%{target='templates'}" )  #end
		  #if(!$templates.HasNextPage) | last #end
		</td>
	  </tr>
	</table>	

	<table  width="100%" class="ui-widget ui-widget-content">
	  <thead>
		<tr class="ui-widget-header ">
		<th>Name</th>
		<th style="width:75px;">&nbsp;</th>
		</tr>
	  </thead>
	  <tbody>
	
		#set ($c=0)
		#foreach($template in $templates)
			<tr class="#if($c%2>0) even #else odd #end ">
			  <td><a href="edit_template.castle?id=$!{template.Id}" title="Edit" class="name">
					$template.name
				  </a></td>
			  <td>
				<span style='font-size:0.7em;'>
				  <a href="edit_template.castle?id=$!{template.Id}" title="Edit" class="buttons ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
					<span class="ui-icon ui-icon-pencil"></span>
				  </a>
				  <a href="delete_template.castle?id=$!{template.Id}" title="Delete" class="buttons ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
					<span class="ui-icon ui-icon-trash"></span>
				  </a>
				</span>
			  </td>
			</tr>
			#set ($c=$c+1)
		#end
	  </tbody>
	</table>
	<table width="50%" border="0"  class="pagination">
	  <tr>
		<td>Showing $templates.FirstItemIndex - $templates.LastItemIndex of $templates.TotalItems</td>
		<td align="right">
		  #if($templates.HasPreviousPage) $PaginationHelper.CreatePageLink( 1, "first",null, "%{target='templates'}" )  #end
		  #if(!$templates.HasPreviousPage) first #end
		  #if($templates.HasPreviousPage) | $PaginationHelper.CreatePageLink( $templates.PreviousPageIndex, "prev",null, "%{target='templates'}" )  #end
		  #if(!$templates.HasPreviousPage) | prev #end
		  #if($templates.HasNextPage) | $PaginationHelper.CreatePageLink( $templates.NextPageIndex, "next",null, "%{target='templates'}" )  #end
		  #if(!$templates.HasNextPage) | next #end
		  #if($templates.HasNextPage) | $PaginationHelper.CreatePageLink( $templates.TotalPages, "last",null, "%{target='templates'}" )  #end
		  #if(!$templates.HasNextPage) | last #end
		</td>
	  </tr>
	</table>	

#else
	<h1>There are currently no templates</h1>
#end