<div id="localfooter">
  &copy; Washington State University | <a href="mailto:webeditor@dailycampusMap.com">
    <b>Accessiblility</b>
  </a>
   | <a href="mailto:webmanager@dailycampusMap.com">
    <b>Policies</b>
  </a>
  | <a href="mailto:webmanager@dailycampusMap.com">
    <b>Copyright</b>
  </a>
  | <a href="">
    <b>Contact Us</b>
  </a> 

</div>
<!--localfooter-->