<div id="localfooter">
 <a href="http://publishing.wsu.edu/copyright/WSU.html">&copy; 2012</a>
 <a href="http://www.wsu.edu">Washington State University</a> | 
 <a href="http://access.wsu.edu/">Accessibility</a> | 
 <a href="http://policies.wsu.edu/">Policies</a> | 
 <a href="http://publishing.wsu.edu/copyright/WSU.html">Copyright</a> | 
 <a href="">Contact Us</a> 
</div>
