  <div id="footer_area">
    #if($leader)<a href="http://www.wsucougars.com">
      <img src="$siteroot/images/template/leaderboard.jpg" width="728" height="90" alt="WSU Cougar Athletics" border="0" />
    </a>
    #end
    <div id="local_footer">
      <a href="#">The Daily Evergreen</a>, PO Box 642510, 113 Murrow East, Pullman, WA, 99164-2510, <a href="#">Contact Us</a>
    </div>
    <!--#local_footer-->
    <div id="global_footer">
      &copy; 2011 WSU Student Publications Board | <a href="http://www.wsu.edu/sp/policies.html#bylaws">WSU Student Publications Bylaws</a>
    </div>
    <!--#global_footer-->
  </div>
  <!--#footer_area-->
