#set($hasanimage = "false")

#if($FeaturedNews.Count > 0)
	#set($Sc =0)
	<div id="slider">
	#foreach($place in $FeaturedNews)
		#if($Sc<=10)
			#set($hasanimage = "false")
			#if($place.getFirstImage().id) 
				#set($hasanimage = "true") 
			#end
			#if($hasanimage == "true")
				<div class="slider_content">
					<div class="slider_photo"> 
						<a href="$siteroot/read/${place.CustomUrl}">
							<img src="$siteroot/media/download.castle?id=${place.getFirstImage().id}&m=crop&w=377&h=245" alt="Evergreen" class="img-main "/>
						</a> 
					</div>
					<div class="slider_text">
						<div class="headline">
							<a title="$!place.Title" href="$siteroot/read/${place.CustomUrl}">$!place.Title</a>
						</div> 
						<div class="subhead">$!place.subHead</div>
						<div class="byline">By 
							#foreach($author in $place.Authors) 
								$author.Name 
							#end <br />
						Published $!place.PublishTime.toString().Replace('12:00:00 AM','')
						</div> 
					</div><!--.slider_text--> 
				</div><!--.slider_content-->
				#set($Sc =$Sc+1)
			#end
		#end
	#end
	</div><!--#slider--> 
	<div class="slider_nav"> 
		<a href="#" id="prev">Prev</a> | <a href="#" id="next">Next</a> 
	</div>
	<div id="slider_pager"></div>
#else
	<style>
		#home #two_cols  {padding-top:0px;}
	</style>
#end

<div id="left_col">
#foreach($block in $blocks)
	#odd
		#set($firstPlace ="")
		#set($firstPlace = $block.Placetype.getFirstPlace())
		#if($!block.Placetype.PublishedPlaces.Count > 0)
			<a title="$!block.Placetype.Name" href="$siteroot/public/list.castle?id=$!{block.Placetype.id}" class="section">$!block.Placetype.Name</a>
			<div class="headline">
				<a title="$!firstPlace.Title" href="$siteroot/read/${firstPlace.CustomUrl}">$!firstPlace.Title</a>
			</div> <!--headline-->
			<div class="subhead">
				$!firstPlace.subHead
			</div> <!--subhead-->
			<p>#if($!firstPlace.Location != "")<span class="upper">$!firstPlace.Location - </span>#end$!firstPlace.getTeaser()</p>
			#if($block.Placetype.getRestOfPlaces().Count>0)
				<ul>
				#foreach ($place in $block.Placetype.getRestOfPlaces())
					<li><a title="$!place.Title" href="$siteroot/read/${place.CustomUrl}">$!place.Title</a></li>
				#end
				</ul>
			#end
		#end
#end  

</div><!--#left_col--> 
<div id="middle_col"> 
#set($firstPlace ="")
#foreach($block in $blocks)
	#even
		#set($firstPlace ="")
		#set($firstPlace = $block.Placetype.getFirstPlace())
		#if($!block.Placetype.PublishedPlaces.Count > 0)
			<a title="$!block.Placetype.Name" href="$siteroot/public/list.castle?id=$!{block.Placetype.id}" class="section">$!block.Placetype.Name</a>
			<div class="headline">
				<a title="$!firstPlace.Title" href="$siteroot/read/${firstPlace.CustomUrl}">$!firstPlace.Title</a>
			</div> <!--headline-->
			<div class="subhead">
				$!firstPlace.subHead
			</div> <!--subhead-->
			<p>#if($!firstPlace.Location != "")<span class="upper">$!firstPlace.Location - </span>#end$!firstPlace.getTeaser()</p>
			#if($block.Placetype.getRestOfPlaces().Count>0)
				<ul>
				#foreach ($place in $block.Placetype.getRestOfPlaces())
					<li><a title="$!place.Title" href="$siteroot/read/${place.CustomUrl}">$!place.Title</a></li>
				#end
				</ul>
			#end
		#end
		#set($firstPlace ="")
#end  

</div><!--#middle_col-->





<!-- Twitter Feed -->
<div id="twtr-search-widget" style="clear:left;margin-left:15px;margin-bottom:15px"></div>
<script src="http://widgets.twimg.com/j/1/widget.js" type="text/javascript"></script>
<link href="http://widgets.twimg.com/j/1/widget.css" type="text/css" rel="stylesheet" />
<script  type="text/javascript">
  new TWTR.Widget({
  search: 'from:DailyEvergreen',
  id: 'twtr-search-widget',
  loop: true,
  title: 'The Daily Evergreen on Twitter',
  subject: '',
  width: 728,
  height: 50,
  features: {
  scrollbar: true,
  loop: true,
  live: true,
  hashtags: true,
  timestamp: true,
  avatars: true,
  behavior: 'default'
  },
  theme: {
  shell: {
  background: '#7f9d6a',
  color: '#ffffff'
  },
  tweets: {
  background: '#ffffff',
  color: '#444444',
  links: '#1985b5'
  }
  }
  }).render().start();
</script>
<!-- End of Twitter Feed -->

<!-- <br /> 
<br /> -->


<!-- Huffington Post Feed -->
<!-- <script type="text/javascript" src="http://www.huffingtonpost.com/include/lib/ad_drivers/traffic_driver.php?metric=most_read&amp;width=304&amp;height=250&amp;vert=college&amp;header=1">
</script> -->
<!-- End of Huffington Post Feed -->
<!-- <br /> -->






