#if($userService.checkPrivilege("can_publish"))
  <li>
	<a href="$helper.getAdminUrl("${controller.getView()}/setStatus")?id=$!{item.id}" title="Published" class="buttons pubState ui-button ui-widget ui-state-default ui-corner-all">
	  <i class="fa fa-star"></i>
	  <span class="actionText">Status</span>
	  <span class="actionpropt">&#187;</span>
	</a>
  </li>
#end