
	<li>
	<a href="$siteroot/${controller.getView()}/_edit.castle?id=$!{item.id}" title="#if($item.CheckedOutBy)Is being edited by $item.CheckedOutBy.name #else Edit #end" class="buttons editIt ui-button ui-widget ui-state-default ui-corner-all ">
	  <span class="ui-button-icon-primary ui-icon ui-icon-pencil"> </span>
	  <span class="actionText">Edit</span>
	  <span class="actionpropt">&#187;</span>
	</a>
	</li>
    #if($userService.checkPrivleage("make_edits") && !$item.isCheckedOut())
    
    
#end