
	<li class="share">
		<a href="$siteroot/${controller.getView()}/_share.castle?id=$!{item.id}" title="Copy this item" class="buttons editIt ui-button ui-widget ui-state-default ui-corner-all ">
		  <span class="ui-button-icon-primary ui-icon ui-icon-person"> </span>
		  <span class="actionText">Share</span>
		  <span class="actionpropt">&#187;</span>
		</a>
	</li>
