#if($searchId!=0&&$searchId!=-1)
          <li>
            #if($item.id != $firstitem.id )
            <a href="$siteroot/${controller.getView()}/moveup.castle?searchId=$!searchId&id=$!{item.id}" title="Move Up"  class="buttons  ui-button ui-widget ui-state-default ui-corner-all">
              <span class="ui-button-icon-primary ui-icon ui-icon-circle-arrow-n"> </span>
              <span class="actionText">Up</span>
              <span class="actionpropt">&#187;</span>
            </a>
            #end
          </li>
          <li>
            #if($item.id != $lastitem.id )
            <a href="$siteroot/${controller.getView()}/movedown.castle?searchId=$!searchId&id=$!{item.id}"  title="Move down" class="buttons  ui-button ui-widget ui-state-default ui-corner-all">
              <span class="ui-button-icon-primary ui-icon ui-icon-circle-arrow-s"> </span>
              <span class="actionText">Down</span>
              <span class="actionpropt">&#187;</span>
            </a>
            #end
          </li>
          #end