<div id="tabs" class="${controller.getView()}list ui-tabs ui-widget ui-widget-content ui-corner-all">
	<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
		<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
			<a href="#campuses">Campuses</a>
		</li>
		<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
			<a href="#colleges">Colleges</a>
		</li>
		<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
			<a href="#departments">Academic Departments</a>
		</li>
		<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
			<a href="#admindepartments">Administrative Departments</a>
		</li>
		<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
			<a href="#programs">Programs</a>
		</li>
		<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
			<a href="#schools">Schools</a>
		</li>
	</ul>
	<div id="campuses">
		#set($items=$campuses)
		#set($action="campuses")
		#parse("admin/wsu_matrix/genral_listings.vm")
		<div class="clear"></div>
	</div>
	<div id="colleges">
		#set($items=$colleges)
		#set($action="colleges")
		#parse("admin/wsu_matrix/genral_listings.vm")
		<div class="clear"></div>
	</div>
	<div id="departments">
		#set($items=$departments)
		#set($action="departments")
		#parse("admin/wsu_matrix/genral_listings.vm")
		<div class="clear"></div>
	</div>
	<div id="admindepartments">
		#set($items=$admindepartments)
		#set($action="admindepartments")
		#parse("admin/wsu_matrix/genral_listings.vm")
		<div class="clear"></div>
	</div>
	<div id="programs">
		#set($items=$programs)
		#set($action="programs")
		#parse("admin/wsu_matrix/genral_listings.vm")
		<div class="clear"></div>
	</div>
	<div id="schools">
		#set($items=$schools)
		#set($action="schools")
		#parse("admin/wsu_matrix/genral_listings.vm")
		<div class="clear"></div>
	</div>	  
</div>