<div class="headline">Advertise With Us</div>

<div style="margin-left: 25px; text-align: left">
<img src="$siteroot/images/template/pdfBig.gif" style="float: right">
     <div><b>Are you representing a student group and looking to advertise?</b> 
     You may qualify for the Student Advertising Fund. 
     <a title="Apply here for the Student Advertising Fund" href="http://studentinvolvement.wsu.edu/saf">Apply here</a>
</div><br/>
<h4>Daily Evergreen Advertising Rate Card</h4>
   <ul class="" style="list-style-type: none;">
	<li style="border-bottom: 4px solid transparent;">Please download our 
	<a href="$siteroot/Content/pdfdownload/web_ratecard.pdf">
	<img style="height: 15px; text-decoration: none" src="http://dailyevergreen.com/images/icons/pdf.png">Adobe PDF rate card</a>.
	</li>
   </ul><br/>
	<h4>Acrobat Reader</h4>
	<ul class="">
	<li>This requires Adobe Reader or Acrobat version 6.0 or later.<br>Adobe Reader is available free of charge here:<br>
	<a href="http://www.adobe.com/products/reader/">http://www.adobe.com/products/reader/</a>
	</li>
	</ul>
</div>
<p>If you have any questions, please contact us at (509)-335-4573.</p>
<p>If for some reason you are unable to acquire our rate card due to technical difficulties,<br>please call the Student Publications Online department at (509)-335-1571.</p>
<div>
<!---
<h3><a href="http://dailyevergreen.com/classified/start.php" style="text-decoration: underline">
Buy classified advertisements online through our website!</a></h3>--->
</div>