<style type="text/css">
.title{
	font-family:Lucida Sans Unicode,Lucida Grande,arial,helvetica,sans-serif;
	color:#ffffff;
	font-size:16px;
	line-height:20px;
	font-weight:normal;
	margin-bottom:15px;
	text-transform:uppercase;
	text-decoration:none;
	letter-spacing:1px;
	display:block;
	width:130px;
	background-color:#7f9d6a;
	padding:2px 5px 1px 5px;
}
.adv{font-family:Lucida Sans Unicode,Lucida Grande,arial,helvetica,sans-serif;
	color:#ffffff;
	font-size:16px;
	line-height:20px;
	font-weight:normal;
	margin-bottom:15px;
	text-transform:uppercase;
	text-decoration:none;
	letter-spacing:1px;
	display:block;
	width:180px;
	background-color:#7f9d6a;
	padding:2px 5px 1px 5px;}
</style> 
<div class="headline">Daily Evergreen Staff</div>
<table width="100%">
<tbody>
<tr>
<td width="20%" class="border">
<div class="title">Name</div>	
<td width="23%" class="border"><div class="title">Position</div>
<td width="33%" class="border"><div class="title">Email</div>
<td width="24%" class="border"><div class="title">Phone</div>
</td>
</tr>
<tr>
<td class="border">Kari Bray</td>
<td class="border">Editor</td>
<td class="border"><a href="mailto:editor@dailyevergreen.com">editor@dailyevergreen.com</a></td>
<td class="border">509-335-3194</td>
</tr> 
<td class="border">Morgan Smith</td>
<td class="border">Managing Editor</td>
<td class="border"><a href="mailto:meditor@dailyevergreen.com">meditor@dailyevergreen.com</a></td>
<td class="border">509-335-1099</td>
</tr>

<tr>
<td class="border">Ryan Horlen</td>
<td class="border">Copy Chief</td>
<td class="border"><a href="mailto:"></a></td>
<td class="border"></td>
</tr>
<tr>
<td class="border">Kaitlin Gillespie</td>
<td class="border">Copy Editor</td>
<td class="border"><a href="mailto:"</a></td>
<td class="border"></td>
</tr> 
<tr>
<td class="border">Amanda Guay</td>
<td class="border">Copy Editor</td>
<td class="border"><a href="mailto:"></a></td>
<td class="border"></td> 
</tr>
<tr>
<td class="border">Lillian Nolan</td>
<td class="border">Copy Editor</td>
<td class="border"><a href="mailto:"></a></td>
<td class="border"></td>
</tr>
<tr>
<td class="border">Caleb Palmquist</td>
<td class="border">Copy Editor</td>
<td class="border"><a href="mailto:"></a></td>
<td class="border"></td> 
</tr>
<tr>
<td class="border">Kyle Kinard</td>
<td class="border">Life Editor</td>
<td class="border"><a href="mailto:life@dailyevergreen.com">life@dailyevergreen.com</a>
</td>
<td class="border">509-335-1140 </td>
</tr>
<tr>
<td class="border">Brian Sorensen</td>
<td class="border">Assistant Life Editor</td>
<td class="border"><a href="mailto:"></a></td>
<td class="border"></td> 
</tr>
<tr>
<td class="border">Rochelle Adams</td>
<td class="border">News Editor</td>
<td class="border"><a href="mailto:news@dailyevergreen.com">news@dailyevergreen.com</a></td>
<td class="border">509-335-2465</td>
</tr>
<tr>
<td class="border">Stephanie Schendel</td>
<td class="border">Assistant News </td> 
<td class="border"><a href="mailto:"></a>
</td> 
<td class="border"></td>
</tr> 

<tr>
<td class="border">Caleb Palmquist</td>
<td class="border">Opinion Editor</td>
<td class="border"><a href="mailto:opinion@dailyevergreen.com">opinion@dailyevergreen.com</a></td>
<td class="border">509-335-2290</td>
</tr>

<tr>
<td class="border">Dylan Hoff</td>
<td class="border">Assistant Opinion Editor</td>
<td class="border"><a href="mailto:opinion@dailyevergreen.com">opinion@dailyevergreen.com</a></td>
<td class="border">509-335-2290</td>
</tr>

<tr>
<td class="border">Ryan Burnett</td>
<td class="border">Sports Editor</td>
<td class="border"><a href="mailto:sports@dailyevergreen.cm">sports@dailyevergreen.cm</a></td>
<td class="border">509-335-1140</td>
</tr>

<tr>
<td class="border">Dylan Hoff</td>
<td class="border">Assistant Sports Editor</td>
<td class="border"><a href="mailto:sports@dailyevergreen.cm">sports@dailyevergreen.cm</a></td>
<td class="border">509-335-1140</td>
</tr>

<tr>
<td class="border">Kevin Elkins</td>
<td class="border">Photo Editor</td>
<td class="border"><a href="mailto:photo@dailyevergreen.com">photo@dailyevergreen.com</a></td>
<td class="border">509-335-2292</td>
</tr>
 
<tr>
<td colspan="4"></td>
</tr>
<tr>
<th colspan="4"><div class="adv">Advertising Staff</div></th>
</tr>
<tr> 
<td class="border">Tracy Milano</td>
<td class="border">Circulation/Classified</td>
<td class="border"><a href="mailto:classifieds@dailyevergreen.com">classifieds@dailyevergreen.com</a></td>
<td class="border">(509) 335-4573</td>
</tr>
<tr>
<td class="border">Stephanie Moul</td>
<td class="border">Advertising Manager</td>
<td class="border"><a href="mailto:advertise@dailyevergreen.com">advertise@dailyevergreen.com</a></td>
<td class="border">(509) 335-1572</td>
</tr>
<tr>
<td class="border">Andrea Slonecker</td>
<td class="border">Graphics Manager</td>
<td class="border"><a href="mailto:graphics@dailyevergreen.com">graphics@dailyevergreen.com</a><td/>
<td class="border"></td>
</tr>
<tr>
<td colspan="4"></td>
</tr>
<tr>
<th colspan="4">
<div class="title">Content</div></th>
</tr>
</tbody>
</table>
<p class="border">To contact news reporters: <a href="mailto:news@dailyevergreen.com">news@dailyevergreen.com</a>(509) 335-2465</p>
<p class="border">To contact sports reporters:<a href="mailto:sports@dailyevergreen.com">sports@dailyevergreen.com</a>(509) 335-1140</p>
<p class="border">To contact life writers:<a href="mailto:life@dailyevergreen.com">life@dailyevergreen.com</a>(509) 335-1140 </p>
<p class="border">To contact columnists or cartoonists:<a href="mailto:opinion@dailyevergreen.com">opinion@dailyevergreen.com</a>(509) 335-2290</p>
<br/>
<p class="border">Letters to the editor:<a href="mailto:opinion@dailyevergreen.com">opinion@dailyevergreen.com</a><br/>
News tips: <a href="mailto:news@dailyevergreen.com">news@dailyevergreen.com</a>(509) 335-2465<br/>
Corrections or complaints: <a href="mailto:editor@dailyevergreen.com">editor@dailyevergreen.com</a>(509) 335-3194<br/>
Photo reprints: (509) 335-4573
</p><br/>
<p>Correction policy: The Daily Evergreen is committed to publishing accurate information. 
Whenever the Evergreen does not meet this standard, our policy is to print the correct information as soon as possible on Page 2. 
The Evergreen welcomes readers who believe a correction is warranted. E-mail or call the Editor at <a href="mailto:editor@dailyevergreen.com">editor@dailyevergreen.com</a>
or (509) 335-3194.</p><br/>
<p>Our mission and bylaws can be found at: 
<a href="http://www.wsu.edu/sp">http://www.wsu.edu/sp</a></p>
<p>
Address: P.O. Box 642510; Pullman, Wa.; 99164</p>


<p>Copyright © 2011 WSU Student Publications Board. All WSU Student Publications articles, 
photographs and graphics are the property of the WSU Student Publications Board and may not be reproduced without expressed written consent.</p>
<br/>
<p>First-class semester subscriptions are $110 if mailed daily; $70 if mailed weekly. 
One-year subscriptions are $190 if mailed daily, $120 if mailed weekly. USPS Permit No. 142-860.
</p>
<br/>
<p>The full report of the Pullman Police log can be found at <a href="http://ci.pullman.wa.us">http://ci.pullman.wa.us</a>
</p>
<br/>

<p>
The Daily Evergreen offices are located in the bottom floor of Murrow East. The Evergreen newsroom is located in Room 122.</p>
