#capturefor(site)
	#if($Controller.isLocal()==false)
		https://beta.maps.wsu.edu/
	#else
		#if($siteroot && $siteroot !='')
			$siteroot
		#elseif($Controller.isLocal())
			$Controller.getRootUrl()
		#else
			https://beta.maps.wsu.edu/
		#end
	#end
#end
#capturefor(site_base)
	#if($Controller.isLocal()==false)
		//beta.maps.wsu.edu/
	#else
		#if($siteroot && $siteroot !='')
			$siteroot.Replace('http:','')
		#elseif($Controller.isLocal())
			$Controller.getRootUrl().Replace('http:','')
		#else
			//beta.maps.wsu.edu/
		#end
	#end
#end
#capturefor(folder)
#if($Controller.isLocal()==false) dis #else build #end
#end

#capturefor(view)
$Controller.getView()
#end

#*#set($libs="places,geometry,weather,visualization")*#
#set($libs="places,geometry")
#*#set($signed_in="&signed_in=true")*#
#set($signed_in="")

#if($!map.geometrics)
#set($c=0)
	#capturefor(shapes) #foreach($geo in $map.geometrics) $!geo.id,#end 0#end
#end

#if($!map.places)
#set($c=0)
	#capturefor(places) #foreach($place in $map.places) $!place.id,#end 0#end
#end

#capturefor(output)
var map_view =  {
	inview:true,
	debug : $!debug,
	siteroot : '$site.Trim()',
	view_id : window.map_view_id ||"WSU_MAPS_NS",
	map_view_scripts_block : window.map_view_scripts_block || false,
	alias : '$map.alias',
	view : '$view.Trim()/',
	error_reporting : false,
#if($urlQueries && $urlQueries!="")	startingUrl : 'cat[]=$urlQueries', #end
#if($activePlace && $activePlace != "")	activePlace : $!activePlace, #end
	campus : #if($campus.name!="")'$campus.name'#else "Pullman" #end,
#if($campus.url!="")	url : '$campus.url', #end
	campus_latlng_str : #if($campus.latitude!="" && $campus.longitude!="")'$campus.latitude,$campus.longitude'#else '46.73304697156661,-117.15406340441444' #end,
	pos : { 
		"center" : "$map.getLat(),$map.getLong()"
	},
	json_style_override : #if(${map.json_style_override}) ${map.json_style_override} #else false #end,
#if($!map.places)
	embeded_place_ids : "${places.Replace(", 0","").Replace(" 0","")}",
#end
#if($!map.geometrics)
	embeded_shape_ids : "${shapes.Replace(", 0","").Replace(" 0","")}",
#end
	show_global_nav : #if(${map.show_global_nav})true, #else false, #end
	running_options : '$!options_json',
	fit_to_bound : '$!map.fit_to_bound',
};

var map_scripts = [];
//map_scripts.push('http://www.google.com/uds/api?file=uds.js&v=1.0');

map_scripts.push('${site_base.Trim()}content/${folder.Trim()}/js/maps.wsu.edu.js');

if( map_view.map_view_scripts_block === false ){
	if ( typeof( $ ) === "undefined" || typeof(jQuery) === "undefined" ) {
		map_scripts.push('//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js');
	}
	if ( typeof( $['ui'] ) === "undefined" || typeof(jQuery.ui) === "undefined" ) {
		map_scripts.push('//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js');
	}
	map_scripts.push('//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css');
	map_scripts.push('${site_base.Trim()}content/${folder.Trim()}/css/map.view.styles.css');
}


(function(i,s,o,g,r,t,a,m){

	t = document.scripts[document.scripts.length - 1];
	m = document.getElementById(r);
	if(m===null){
		a = document.createElement('div');
		a.setAttribute( "style", "width:100%;padding-top:66%;min-height: 0px;" );
		a.setAttribute( "class", "WSU_MAPS_NS" );
		a.id=r;
		t.parentNode.insertBefore(a,t.nextSibling);
	}else{
		m.setAttribute( "class", "WSU_MAPS_NS" );
		m.setAttribute( "style", "width:100%;padding-top:66%;min-height: 0px;" );
	}
	a=s.createElement(o);
	a.async=0;
	a.src='https://maps.googleapis.com/maps/api/js?v=3.exp${signed_in}&libraries=${libs}&sensor=false&callback=startEmbeded';
	t.parentNode.insertBefore(a,t);	
	i.startEmbeded = function(){
		(function($) {
			$(document).ready(function(){
				var base = {#if(${baseJson})"mapTypeId":google.maps.MapTypeId.${baseJson}#end};
				for (j = 0; j < g.length; j++) { 
					if(g[j].indexOf('.js')>-1){
						a=s.createElement(o);
						a.async=1;
						a.src=g[j];
					}else{
						a=s.createElement("link");
						a.setAttribute("rel", "stylesheet");
						a.setAttribute("type", "text/css");
						a.setAttribute("href", g[j]);
					}
					t.parentNode.insertBefore(a,t);
				}
			});
		})(jQuery);
	};
})(window,document,'script',map_scripts,map_view.view_id);
#end $Controller.cacheMapView($upload_path, $file, $output)
$output