#capturefor(site)
	#if($Controller.isLocal()==false)
		http://map.wsu.edu/
	#else
		#if($siteroot && $siteroot !='')
			$siteroot
		#elseif($Controller.isLocal())
			$Controller.getRootUrl()
		#else
			http://map.wsu.edu/
		#end
	#end
#end
#capturefor(view)
$Controller.getView()
#end
var map_view = true;
var siteroot = '$site.Trim()';
var view = '$view.Trim()/';
#if($urlQueries && $urlQueries!="")var startingUrl = 'cat[]=$urlQueries'; #end
#if($activePlace && $activePlace != "")var activePlace = $!activePlace; #end
var campus = #if($campus.name!="")'$campus.name'#else "Pullman" #end;
#if($campus.url!="")var url = '$campus.url'; #end
var campus_latlng_str = #if($campus.latitude!="" && $campus.longitude!="")'$campus.latitude,$campus.longitude'#else "46.73304697156661,-117.15406340441444"; #end;
var pos = {"center":"$map.getLat(),$map.getLong()"};

#if($!map.places)
#set($c=0)
#capturefor(places) #foreach($place in $map.places) $!place.id,#end 0#end
var embeded_place_ids = "${places.Replace(", 0","").Replace(" 0","")}";
#end
#if($!map.geometrics)
#set($c=0)
#capturefor(shapes) #foreach($geo in $map.geometrics) $!geo.id,#end 0#end
var embeded_shape_ids = "${shapes.Replace(", 0","").Replace(" 0","")}";
#end
var show_global_nav = #if(${map.show_global_nav})true; #else false; #end
var running_options = '$!options_json';

(function(i,s,o,g,r,t,a,m){
	t =  document.scripts[document.scripts.length - 1];
	a = document.createElement('div');
	a.id='centralMap';
	a.setAttribute("style", "width:100%;padding-top:66%;min-height: 0px;");
	a.setAttribute("class","WSU_MAPS_NS");
	t.parentNode.insertBefore(a,t.nextSibling);
	i['GoogleAnalyticsObject']=r;
	i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)
	},
	i[r].l=1*new Date();
	
	
	a=s.createElement(o);
	a.async=0;
	a.src='https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places,geometry,weather,visualization&sensor=false&callback=startEmbeded';
	t.parentNode.insertBefore(a,t);	
	
	i.startEmbeded = function(){
		var base = {#if(${baseJson})"mapTypeId":google.maps.MapTypeId.${baseJson}#end};
		for (j = 0; j < g.length; j++) { 
			if(g[j].indexOf('.js')>-1){
				a=s.createElement(o);
				a.async=0;
				a.src=g[j];
			}else{
				a=s.createElement("link");
				a.setAttribute("rel", "stylesheet");
				a.setAttribute("type", "text/css");
				a.setAttribute("href", g[j]);
			}
			t.parentNode.insertBefore(a,t);
		}
	};
})(window,document,'script',
	[
		//'http://www.google.com/uds/api?file=uds.js&v=1.0',
		'http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js',
		'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js',
		'/content/src/js/bootstrap.js',
		'/content/build/js/maps.wsu.edu.js',
		'/content/dis/css/map.view.styles.css'
	]
,"WSUMAPS");
