<a href="pdf.castle"></a>
<div class="subhead">Print Version</div>

<p>From here you can see all of the pages from The Daily Evergreen for every printed edition, from your own home! <br/><br/>
Print versions are displayed per week, so if you want to see the paper from another week, use the calendar to the right to guide you to whatever you want to see!
</p>

<div class="subhead">
Online places from this print page:</div>

#foreach($place in $placesfortoday)
<li>
 <a href="$siteroot/public/readmore.castle?id=$!{place.Id}">$!place.Title</a>     
</li>
#end

#foreach( $pdf in $pdfsfortoday)
    <li>
    	    $!pdf.Description <br/>
			$!pdf.Date
			<img id="selectedPdf" width='600px' src="$siteroot/Pdf/download.castle?id=$pdf.Id" >
			<a href="$siteroot/pdf/download.castle?id=$!{pdf.Id}">Download Pdf Here</a>
	</li>
#end


 
           


  
        

