<style type="text/css">
#placebyuser_First
{
   width:500px;
}
#placebyuser_Last
{
   width:500px;
}
#placebyuser_Email
{
 width:500px;
}
#placebyuser_Placetext
{
 width:500px;
}
</style>

<form action="/public/placebyuserupdate.castle" method="post">
$Form.HiddenField("placebyuser.Id")

<h5>Please enter your information :</h5>
<p>First Name:</p>
   
    $Form.TextField("placebyuser.First")
   
    <p>Last Name:</p>
    $Form.TextField("placebyuser.Last")
   
    <p>Email :  </p>
    $Form.TextField("placebyuser.Email") 
   
   <p>Place Text :</p> 
    $Form.TextArea("placebyuser.Placetext")<br/>
  
       
<input type="submit" value="Submit" />

</form>
