#*<div class="section">
 	<a title="placetype" href="index.castle">$tag.Name</a>
</div> 

#foreach($place in $tag.Places)
 <div class="headline">
	<a title="$!place.Title" href="readmore.castle?id=$!{place.id}">$!place.Title</a>
 </div>
  <div class="subhead">$!place.Teaser</div>
  <div class="byline"> By
  #foreach ($author in $place.Authors)
     $!author.Name
  #end
  </div>
  <div class="byline"> Published : $!place.Publishtime.toString().Replace('12:00:00 AM','')</div>
  #foreach ($image in $!place.images)
	<img id="selectedImage" width='100px' src="$siteroot/media/download.castle?id=$!image.id"/>
  #end
  <hr/>
#end
*#
#if($tag.Name)<h2 class="section" style="color:#FFF;">&nbsp;$tag.Name</h2>#end
<ul id="listings">
  #set ($c=0)
  #foreach($place in $tag.Places)
  <li #if($c%2>0) class="even" #else class="odd" #end>
			#if($place.getFirstImage().id)<img src="$siteroot/image/download.castle?id=${place.getFirstImage().id}&m=crop&w=175&h=175" alt="$!{place.Title}" class="list_img lazy"/>#end
			<h3 title="$!place.Title" href="$siteroot/read/${place.CustomUrl}" class="headline" #if(!$place.getFirstImage().id)style="display:inline-block;"#end><a href="$siteroot/read/${place.CustomUrl}">$!place.Title</a></h3>
			
			#if(!$place.getFirstImage().id)<div class="byline" style="display:inline-block;">-$!{place.Publishtime}</div>#end
			
			
			#if($place.subHead)<h4 class="subhead">$!place.subHead</h4>#end
			#if($place.getFirstImage().id)<p>#if($place.Location)<span class="upper">$!place.Location - </span>#end $!place.getTeaser()</p>
			<a href="$siteroot/read/${place.CustomUrl}">more</a>
			<div class="byline"> 
				#foreach($author in $place.Authors)
				$!author.Name<br/>
				#end
				$!place.Publishtime.toString().Replace('12:00:00 AM','')<br/>
			</div>#end
			<hr/>
		</li>
		#set ($c=$c+1)
	#end
</ul>