<div class="headline">Useful Links :</div>
<ul> 

<li><div class="section"><a href='rss.castle'>RSS Feeds</a></div></li> 


<li><div class="section"><a href='http://dailyevergreen.com/multimedia/'>Multimedia</a></div></li> 


<li><div class="section"><a href='http://www.alert.wsu.edu/'>WSU Alert</a></div></li> 

<li><div class="section"><a href='../public/mallcam.castle'>Weather &amp; Mall Cam</a></div></li> 

<li><div class="section"><a href='../public/contactus.castle'>Contact Us</a></div></li> 

</ul>
