<a href="viewPlace.castle?id=$!{place.id}"></a>
<h3>Place</h3>
<div id="title">$!place.Title</div>
<div id="Author">$!place.Author.Name</div>  
<div id="publishTime">$!place.Publishtime</div>
<div id="Body">$!place.BodyText</div>
  
           


  
        

