<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style type="text/css">
#app input {
background-color:#B4D99F;
}
#app textarea {
background-color:#B4D99F;
}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
</head>
<body>

<div id="app" style="width:800px; font-family:georgia; margin-left:auto; margin-right:auto;">
<div class="headline">Application For Employment</div>
<center><img src="/multimedia/App/flag.jpg"></center>

<form action="UpdateApplicant.castle" method="post">
$Form.HiddenField("applicant.Id")

<table width="600px" align="center">
<tr>
        <td><strong>I am applying for:</strong></td>
      	<td><input name="applicant.EvergreenType.Id" type="radio" value="1" />The Daily Evergreen</td>
		<td><input name="applicant.EvergreenType.Id" type="radio" value="2" />The Summer Evergreen</td>
		<td><input name="applicant.EvergreenType.Id" type="radio" value="3" />Both</td></tr>
</table>
<br/>
<table width="600px" align="center">
	<tr>

    <td><strong>Desired position:</strong></td>
    <td>Columnist<input name="applicant.Position.Id" type="checkbox" value="1" /></td>
	<td>Reporter<input name="applicant.Position.Id" type="checkbox" value="2" /></td>
	<td>Photographer<input name="applicant.Position.Id" type="checkbox" value="3" /></td>
	<td>Mix Editor<input name="applicant.Position.Id" type="checkbox" value="4" /></td></tr>
</table>
<br /><br />

<table width="800px">
<tr>
<td>Name: 
<input name="applicant.Name" type="text" size="70" /></td>
<td align="right">WSU ID#&nbsp;&nbsp;
<input type="text" name="applicant.WSUid" size="35"/></td></tr>
</table>
<br />
<table width="800px">
	<tr><td width="50px">Year:</td><td>
	<input name="applicant.Year.Id" type="radio" name="Year" value="1" />&nbsp;<strong>Senior</strong></td>
    <td colspan="2" align="right">Major:<input type="text" name="applicant.Major" size="25"/></td>
    <td align="right" colspan="2">GPA:&nbsp;<input type="text" name ="applicant.Gpa" size="15"/></td></tr>
    <tr>
	<td>&nbsp;</td><td>
	<input name="applicant.Year.Id" type="radio" value="2" />&nbsp;<strong>Junior</strong></td>
	<td colspan="3">&nbsp;</td><td colspan="2" align="right">Expected graduation date:
	<input type="text" name="applicant.Graduationdate" size="20" /></td></tr>
<tr>
<td>&nbsp;</td>
<td><input name="applicant.Year.Id" type="radio" value="3" />&nbsp;<strong>Sophomore</strong>   </td>
<td colspan="3">&nbsp;</td><td colspan="2" rowspan="2" align="right">
 E-mail address:
<input type="text" size="30" name="appplicant.Email" /></td></tr>
<tr><td>&nbsp;</td><td><input name="applicant.Year.Id" type="radio" value="4" />&nbsp;<strong>Freshman</strong></td></tr>
<tr>
<td colspan="6">&nbsp;</td>
</tr>
<tr>
<td align="left" colspan="4">Local phone number<input type="text" size="25" name="applicant.Localphone"/></td>
<td>&nbsp;</td>
<td colspan="2" align="right">Alternate phone number:<input type="text" name="applicant.Alternatephone" size="20"/></td>
</tr></table>
<br />
<table>
<tr>
<td colspan="6">What other organizations and/or committees will you belong to during your appointment at WSU Student Publications (e.g. ASWSU, GPSA, clubs, etc?):<br />
<textarea style="margin-top:10px;" name="applicant.OtherOrganization" cols="80" rows="3"></textarea></td>
</tr>
<tr>
<td colspan="4" style="padding-top:10px">Will you be employed elsewhere during your appointment?&nbsp;&nbsp;&nbsp;
<input type="checkbox" value="true" name="applicant.AnyWhere" />    Yes&nbsp;&nbsp;&nbsp;
<input type="checkbox" value="false" name="applicant.AnyWhere" />No</td></tr>
<tr><td width="50px">&nbsp;</td><td>If so, where? <input name="applicant.EmploymentPlace" type="text" size="50"/></td></tr>
<tr><td colspan="2" style="padding-top:10px">How many credit hours are you planning on taking during your appointment?
<input type="text" name="applicant.CreditHours" size="5" /></td></tr>
</table><br />
Is there any specific section you would like to work for, or other information you feel we should know?<br />
<textarea name="applicant.SpecificSection" cols="80" rows="3"></textarea>
<br />
<br />
<strong>After you click submit, you will be taken to a page where you will have the opportunity to upload a resume and writing samples. Note that these are not required, but it will make it easier for us to evaluate your strengths and where you would best fit in with the paper.</strong>
	<ul style="margin-top:5px;">
		<li>You can upload up to three samples of the type of writing you wish to do (column or news writing)</li>
		<li>We would also like to see a resume including the following:
		<ul><li>College background, including related courses</li>
        <li>Professional experience, if any</li>
        <li>Any publication experience, especially with Student Publications</li></ul>
		</li>
    </ul>
    <em>Qualified applicants must have a minimum 2.5 GPA and be enrolled in at least six credit hours for a regular semester and three credit hours during the summer session. You <strong>must</strong> be an enrolled student at WSU to work at the newspaper</em>
    <br/><br/>
    <p style="font-size:10pt">By clicking the "Submit" button below, you agree that the information provided is accurate to the best of your knowledge, and that the writing samples submitted are entirely the work of the above-named applicant. You also give permission to Student Publications to release information regarding your grades, included with this application, to those individuals responsible for hiring decisions in the Student Publications area. You understand you must meet the minimum qualifications as stated above to be considered for any position within Student Publications. This information is confidential and will be released only to those individuals involved in the hiring of employees for the Student Publications area.</p>
    <input type="submit" name="name" value="Submit" />
    <input type="reset" name="name" value="Reset" />

    </form>
    </div>
</body>
</html>



