<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<components>
    <component id="place.controller" type="campusMap.Controllers.placeController, campusMap2010" />
    <component id="geometrics.controller" type="campusMap.Controllers.geometricsController, campusMap2010" />
    <component id="view.controller" type="campusMap.Controllers.viewController, campusMap2010" />
    <component id="admin.controller" type="campusMap.Controllers.adminController, campusMap2010" />
    <component id="public.controller" type="campusMap.Controllers.publicController, campusMap2010" />
    <component id="home.controller" type="campusMap.Controllers.HomeController, campusMap2010" />
    <component id="login.controller" type="campusMap.Controllers.LoginController, campusMap2010" />
    <component id="media.controller" type="campusMap.Controllers.mediaController, campusMap2010" />
    <component id="tag.controller" type="campusMap.Controllers.tagsController, campusMap2010" />
    <component id="person.controller" type="campusMap.Controllers.PersonController, campusMap2010" />
    <component id="advertisement.controller" type="campusMap.Controllers.advertisementController, campusMap2010" />
    <component id="comment.controller" type="campusMap.Controllers.CommentController, campusMap2010" />
    <component id="accesslevel.controller" type="campusMap.Controllers.AccessLevelController, campusMap2010" />
    <component id="authors.controller" type="campusMap.Controllers.authorsController, campusMap2010" />
    <component id="fields.controller" type="campusMap.Controllers.fieldsController, campusMap2010" />
  </components>
</configuration>