<?xml version="1.0" encoding="utf-8"?>
<configuration> 
  <configSections>
    <section name="monorail" type="Castle.MonoRail.Framework.Configuration.MonoRailSectionHandler, Castle.MonoRail.Framework" />
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <!-- 
		For more on MonoRail configuration see 
		http://www.castleproject.org/monorail/documentation/v1rc3/index.html
	-->
  <monorail smtpHost="mail.wsu.edu" useWindsorIntegration="true">
    <viewEngines viewPathRoot="Views">
      <add xhtml="false" type="Castle.MonoRail.Framework.Views.NVelocity.NVelocityViewEngine, Castle.MonoRail.Framework.Views.NVelocity" />
    </viewEngines>
    <routing>
       
      <!--
      <rule>
        <pattern>/</pattern>
        <replace><![CDATA[ ~/public/render.castle?everUrl=$1 ]]></replace>
      </rule>
       <rule>
        <pattern>/home</pattern>
        <replace><![CDATA[ /public/index.castle ]]></replace>
      </rule>
      -->
       <rule>
        <pattern>/central/</pattern>
        <replace><![CDATA[ /public/central.castle ]]></replace>
      </rule>
      <!--<rule>
        <pattern>/public/(.+)</pattern>
        <replace><![CDATA[ /public/render.castle?everUrl=$1 ]]></replace>
      </rule>
      
      <rule>
        <pattern>/$</pattern>
        <replace><![CDATA[ ~/public/index.castle ]]></replace>
      </rule>
      <rule>
        <pattern>/index.html$</pattern>
        <replace><![CDATA[ ~/public/index.castle ]]></replace>
      </rule>
      <rule>
        <pattern>/manager$</pattern>
        <replace><![CDATA[ ~/place/list.castle ]]></replace>
      </rule>
      <rule>
        <pattern>/sitemap.xml</pattern>
        <replace><![CDATA[ ~/public/render.castle?everUrl=$1 ]]></replace>
      </rule>
      <rule>
        <pattern>/home</pattern>
        <replace><![CDATA[ ~/public/render.castle?everUrl=$1 ]]></replace>
      </rule>
      <rule>
        <pattern>/place-image/(.+)</pattern>
        <replace><![CDATA[ ~/public/render.castle?everUrl=$1 ]]></replace>
      </rule>
      <rule>
        <pattern>/media/download.castle?id=(.+)</pattern>
        <replace><![CDATA[ ~/media/download.castle?id=$1 ]]></replace>
      </rule>
      <rule>
        <pattern>/discussion/(.+)</pattern>
        <replace><![CDATA[ ~/public/render.castle?everUrl=$1 ]]></replace>
      </rule>
      <rule>
        <pattern>/read/(.+)</pattern>
        <replace><![CDATA[ /public/render.castle?everUrl=$1 ]]></replace>
      </rule>-->
      <controllers>
        <assembly>Castle.Monorail.ViewComponents</assembly>
      </controllers>
    </routing>
  </monorail>
  <system.web>
    <sessionState timeout="1" />
    <httpHandlers>
      <!-- block direct user access to template files -->
      <add verb="*" path="*.vm" type="System.Web.HttpForbiddenHandler" />
      <add verb="*" path="*.njs" type="System.Web.HttpForbiddenHandler" />
      <add verb="*" path="*.brail" type="System.Web.HttpForbiddenHandler" />
      <add verb="*" path="*.brailjs" type="System.Web.HttpForbiddenHandler" />
      <add verb="*" path="*.st" type="System.Web.HttpForbiddenHandler" />
      <add verb="*" path="*.castle" type="Castle.MonoRail.Framework.MonoRailHttpHandlerFactory, Castle.MonoRail.Framework" />
      <add verb="*" path="TinyMCEHandler.aspx" type="Moxiecode.TinyMCE.Web.HttpHandler, Moxiecode.TinyMCE" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="routing" type="Castle.MonoRail.Framework.RoutingModule, Castle.MonoRail.Framework" />
      <add name="monorail" type="Castle.MonoRail.Framework.EngineContextModule, Castle.MonoRail.Framework" />
      <add name="ar_sessionscope" type="Castle.ActiveRecord.Framework.SessionScopeWebModule, Castle.ActiveRecord" />
    </httpModules>
    <customErrors mode="Off" />
    <httpRuntime executionTimeout="19600" maxRequestLength="1048576" />
    <compilation>
      <assemblies>
        <add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.Protocols, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.RegularExpressions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
  </system.web>
  <!--Container configuration. For more information see http://www.castleproject.org/container/documentation/trunk/manual/windsorconfigref.html-->
  <!--and http://www.castleproject.org/container/documentation/trunk/usersguide/compparams.html-->
  <castle>
    <include uri="file://Config/properties.config" />
    <include uri="file://Config/facilities.config" />
    <include uri="file://Config/controllers.config" />
    <include uri="file://Config/components.config" />
  </castle>
  <system.webServer>
    <handlers accessPolicy="Read, Execute, Script">
      <!--
        <add name="*.st_*" path="*.st" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0" />
        <add name="*.brailjs_*" path="*.brailjs" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0" />
        <add name="*.brail_*" path="*.brail" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0" />
        <add name="*.njs_*" path="*.njs" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0" />
        <add name="*.vm_*" path="*.vm" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0" />
        <add name="*.castle_*" path="*.castle" verb="*" type="Castle.MonoRail.Framework.MonoRailHttpHandlerFactory, Castle.MonoRail.Framework" preCondition="integratedMode,runtimeVersionv2.0" />
	      <add name="routing" path="*" verb="*" type="Castle.MonoRail.Framework.MonoRailHttpHandlerFactory, Castle.MonoRail.Framework" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="Castle" path="*" verb="*" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv2.0,bitness32" />-->
      <add name="Castle" path="*" verb="*" modules="IsapiModule" scriptProcessor="c:\windows\microsoft.net\framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv2.0,bitness32" />
      <add name="TinyMCE spell checker" path="TinyMCEHandler.aspx" verb="*" type="Moxiecode.TinyMCE.Web.HttpHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="*.st_*" path="*.st" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.brailjs_*" path="*.brailjs" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.brail_*" path="*.brail" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.njs_*" path="*.njs" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.vm_*" path="*.vm" verb="*" type="System.Web.HttpForbiddenHandler" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="*.castle_*" path="*.castle" verb="*" type="Castle.MonoRail.Framework.MonoRailHttpHandlerFactory, Castle.MonoRail.Framework" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="static" path="*.html" verb="*" preCondition="integratedMode" type="System.Web.StaticFileHandler" />
      <add name="content1" path="/images/**/*.*" verb="*" preCondition="integratedMode" type="System.Web.StaticFileHandler" />
      <add name="content" path="/content/**/*.*" verb="*" preCondition="integratedMode" type="System.Web.StaticFileHandler" />
      <add name="content2" path="/content/**/**/*.*" verb="*" preCondition="integratedMode" type="System.Web.StaticFileHandler" />
      <add name="content3" path="/content/**/**/**/*.*" verb="*" preCondition="integratedMode" type="System.Web.StaticFileHandler" />
      <add name="content4" path="/content/**/**/**/**/*.*" verb="*" preCondition="integratedMode" type="System.Web.StaticFileHandler" />
      <add name="content5" path="/content/**/**/**/**/**/*.*" verb="*" preCondition="integratedMode" type="System.Web.StaticFileHandler" />
      <add name="content6" path="/content/**/**/**/**/**/**/*.*" verb="*" preCondition="integratedMode" type="System.Web.StaticFileHandler" />
      <add name="content7" path="/content/**/**/**/**/**/**/**/*.*" verb="*" preCondition="integratedMode" type="System.Web.StaticFileHandler" />
      <add name="content8" path="/content/**/**/**/**/**/**/**/**/*.*" verb="*" preCondition="integratedMode" type="System.Web.StaticFileHandler" />
      <add name="content9" path="/content/**/**/**/**/**/**/**/**/**/*.*" verb="*" preCondition="integratedMode" type="System.Web.StaticFileHandler" />
      <add name="content10" path="/content/**/**/**/**/**/**/**/**/**/**/*.*" verb="*" preCondition="integratedMode" type="System.Web.StaticFileHandler" />
      <add name="routing" path="*" verb="*" type="Castle.MonoRail.Framework.MonoRailHttpHandlerFactory, Castle.MonoRail.Framework" preCondition="integratedMode,runtimeVersionv2.0" />
     </handlers>
        <defaultDocument>
            <files>
                <clear />
              <!--<add value="default.aspx" />
                <add value="features.castle" />-->
              <add value="index.html" />
            </files> 
        </defaultDocument>
        <modules>
            <add name="routing" type="Castle.MonoRail.Framework.RoutingModule, Castle.MonoRail.Framework" preCondition="managedHandler" />
            <add name="monorail" type="Castle.MonoRail.Framework.EngineContextModule, Castle.MonoRail.Framework" preCondition="managedHandler" />
            <add name="ar_sessionscope" type="Castle.ActiveRecord.Framework.SessionScopeWebModule, Castle.ActiveRecord" preCondition="managedHandler" />
        </modules>
        <validation validateIntegratedModeConfiguration="false" />
        <httpErrors errorMode="Detailed" />
    </system.webServer>
</configuration>