<div class='summaryCol'>
	<ul>
	#if($item.prime_name)
		 #set($name=$!item.prime_name) 
	#elseif($item.name)
		  #set($name=$!item.name)
	#end
	
	#if($name)<li class='name #if($name.Length>35)
	fsize_1
	#elseif($name.Length>30)
	fsize_2
	#elseif($name.Length>25)
	fsize_3
	#elseif($name.Length>20)
	fsize_4
	#elseif($name.Length>15)
	fsize_5
	#end'><h3><span>Name: </span>$!name</h3><hr/></li>
	#end
	#if($item.coordinate || $item.encoded)
		#if($item.coordinate)
			<li class='previewMap'>
				<img src="$siteroot/media/getmap.castle?path=$siteroot${item.staticMap}#*http://maps.google.com/staticmap?center=${item.getLat()},${item.getLong()}&amp;size=250x145&amp;maptype=mobile&amp;markers=${item.getLat()},${item.getLong()},red&amp;sensor=false*#" alt="map #if($item.prime_name)of $!item.prime_name#elseif($item.name)of $!item.name#end @${item.getLat()},${item.getLong()}"/>
			</li>
		#else
			<li class='previewMap'>
			#if($item.default_type.name == 'polygon' || $item.default_type.name == 'rectangle')
				<img src="http://maps.googleapis.com/maps/api/staticmap?size=250x145&amp;path=weight:0%7Cfillcolor:0xAA000033%7Cenc:${item.encoded}&amp;sensor=false" alt="map #if($item.prime_name)of $!item.prime_name#elseif($item.name)of $!item.name#end"/>
				#elseif($item.default_type.name == 'polyline')
				<img src="http://maps.googleapis.com/maps/api/staticmap?size=250x145&amp;path=weight:3%7Ccolor:0xAA000033%7Cenc:${item.encoded}&amp;sensor=false" alt="map #if($item.prime_name)of $!item.prime_name#elseif($item.name)of $!item.name#end"/>
				#end
			</li>
		#end
	#else
		  #if($item.authors!='')<li class='Authors'><span>Authors: </span>$!item.authors</li>#end
		  #if($item.tags && $item.tags!="")
			  <li class="Body"><span>Tag: </span>
				#foreach($tag in $item.tags)
					$!tag.name
				#between
					,
				#end
			  </li>
		  #end
	  #end
	</ul>
</div>