
#if($Flash.message)
<div style="margin-top: 20px; padding: 0 .7em;" class="ui-state-highlight ui-corner-all">
  <p style="line-height: 15px;padding-bottom: 0;">
    <span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-info"></span><strong>Note:</strong>$Flash.message
  </p>
</div>
#end
#if($Flash.error)
<div style="margin-top: 20px; padding: 0 .7em;" class="ui-state-error ui-corner-all">
  <p style="line-height: 15px;padding-bottom: 0;">
    <span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-alert"></span><strong>Alert:</strong>$Flash.error
  </p>
</div>
#end



<h3>Media Repo</h3>
<div id="tabs" class="placelist ui-tabs ui-widget ui-widget-content ui-corner-all">
	<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
	<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
	<a href="#tabs_place">Place</a>
	</li>
	<li class="ui-state-default ui-corner-top">
	<a href="#tabs_geo">Geometric</a>
	</li>
	<li class="ui-state-default ui-corner-top">
	<a href="#tabs_ads">Advertisment</a>
	</li>
	</ul>
	<div id="tabs_place">
		<div class="sub_tabs placelist ui-tabs ui-widget ui-widget-content ui-corner-all">
			<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
			#foreach($type in $mediatypes)
				<li class="ui-state-default ui-corner-top">
				  <a href="#tabs_place_$type.name.Replace(" ","_")">$Controller.capitalize($type.name.Replace("_"," ")) (#*$item.TotalItems*#0)</a>
				</li>
			#end
			</ul>
			#foreach($type in $mediatypes)
				<div id="tabs_place_$type.name.Replace(" ","_")">
					#parse("list.vm")
				</div>
			#end
		</div>
	</div>
	<div id="tabs_geo">
		<div class="sub_tabs placelist ui-tabs ui-widget ui-widget-content ui-corner-all">
			<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
			#foreach($type in $mediatypes)
				<li class="ui-state-default ui-corner-top">
				  <a href="#tabs_geo_$type.name.Replace(" ","_")">$Controller.capitalize($type.name.Replace("_"," ")) (0)</a>
				</li>
			#end
			</ul>
			#foreach($type in $mediatypes)
				<div id="tabs_geo_$type.name.Replace(" ","_")">
					#parse("list.vm")
				</div>
			#end
		</div>
	</div>
	<div id="tabs_ads">
		<div class="sub_tabs placelist ui-tabs ui-widget ui-widget-content ui-corner-all">
			<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
			#foreach($type in $mediatypes)
				<li class="ui-state-default ui-corner-top">
				  <a href="#tabs_ads_$type.name.Replace(" ","_")">$Controller.capitalize($type.name.Replace("_"," ")) (0)</a>
				</li>
			#end
			</ul>
			#foreach($type in $mediatypes)
				<div id="tabs_ads_$type.name.Replace(" ","_")">
					#parse("list.vm")
				</div>
			#end
		</div>
	</div>
</div>

	
#parse("media/massUpload/massUploadForm.vm")	
#parse("media/massUpload/upload_template.vm")
#parse("media/massUpload/download_template.vm")

	
	
	
	
	