<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="shortcut icon" href="http://images.wsu.edu/favicon.ico" /><title>The Daily campusMap</title>

<style type="text/css">
body{
	font: normal 0.8em Verdana, Geneva, Arial, Helvetica, sans-serif;
}	
</style>
            <style type="text/css">
			.at300bs.at15t_compact{
				background-image:none;
			}
			.at300bs{
				display:inline;
			}
            </style>
<link href="http://designer.wsu.edu/template/css2.aspx?key=0ea2b8zs010" type="text/css" rel="stylesheet" />

#*  UI SCRIPTS  *#
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://images.wsu.edu/javascripts/jQuery_UI_addons/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="$siteroot/Content/js/external/jquery.cookie.js"></script>
<link media='screen' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css' type='text/css' rel='stylesheet' />
#* <link media='screen' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/blitzer/jquery-ui.css' type='text/css' rel='stylesheet' />  *#

#* WSU theme *#
<link media='screen' href='http://images.wsu.edu/css/wsu_ui/jquery-ui-1.8.13.custom.css' type='text/css' rel='stylesheet' />

<script type="text/javascript" src="$siteroot/content/js/tinymce/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="http://images.wsu.edu/javascripts/jquery.lazyload.js"></script>
<script type="text/javascript" src="http://images.wsu.edu/javascripts/jqueryFileUpload.js"></script>



		#capturefor(site)
			#if($siteroot)
				$siteroot
			#else
				http://dailycampusMap.wsu.edu
			#end
		#end
		#capturefor(view)
				$Controller.getView()
		#end
		<script type="text/javascript">
				var siteroot = '$site.Trim()/';
				var view = '$view.Trim()/';
		</script>
#if($admin_js)${admin_js}#end
<script type="text/javascript" src="$siteroot/Content/js/admin_init.js"></script>
#*  EOF UI SCRIPTS  *#




#*<link href="../styles.css" rel="stylesheet" type="text/css" />*#
<link href="$siteroot/Content/css/admin_styles.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
#secondary {
	padding-bottom:180px;
	
}
#content{font-size: 1.4em;}
-->
</style>


<!--script for print tool-->
<script src="http://images.wsu.edu/javascripts/print.js" type="text/javascript"></script>

</head>
<body id='wsu_ui'>
<!--Beginning of the WSU Identifier Zone. Refer to www.wsu.edu/identity/ for more information. -->
<div id = "wrapper"><noscript><div id='globalnav'><ul><li>Washington State University</li></ul></div><div id='logo'><a href='http://www.wsu.edu'><img src='http://images.wsu.edu/global/bg-logo.jpg' alt="WSU Logo"/></a></div></noscript>
<script language="Javascript" src="http://images.wsu.edu/javascripts/wsuidentifierV2.js" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
   var strHeader; strHeader = getHeader(); 
   document.write(strHeader);
</script>
<!--End of the WSU Identifier Zone. -->

  <div id="siteID">
        <h2></h2>
        <h1>The Daily campusMap</h1>

  </div><!--siteID--><div id="toolbar">
	<ul><li>
  <!-- AddThis Button BEGIN -->




<!-- AddThis Button END -->
</li></ul>
  </div><!--toolbar-->
    
  <div id="content">
          
	<div id="nav">
#*	 <form name="Form1" method="post" action="glossary.aspx" id="Form1">
<div>
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="DqBFPuWghs3eiMy05DueKz3WfIzv6o6m8autpzBp0XHnDdrxhFpYbBJEbckQZlQy" />
</div>
</form>*#
		
#*
<script language="JavaScript" src="http://www.wsu.edu/navigatewsu/gen2/navstyle.js" type="text/javascript"></script>
*#
<div id="featured"></div>
 <ul id='main_nav'>
 <li class='ui-button ui-widget ui-state-default ui-state-hover ui-corner-top' style="cursor:default;height:15px;"></li>
 
  <li class='ui-button ui-widget ui-state-default #if($controller.getView()=='place')ui-state-active#end'><a href="../place/list.castle">Places</a></li>
  <li class='ui-button ui-widget ui-state-default #if($controller.getView()=='advertisement')ui-state-active#end'><a href="../advertisement/list.castle">Advertising</a></li>
  <li class='ui-button ui-widget ui-state-default #if($controller.getView()=='classified')ui-state-active#end'><a href="../classified/list.castle">Classifieds</a></li>  
  <li class='ui-button ui-widget ui-state-default ui-state-hover' style="cursor:default;height:6px;"></li>
  <li class='ui-button ui-widget ui-state-default #if($controller.getView()=='Pdf')ui-state-active#end'><a href="../Pdf/list.castle">Print Version</a></li>
   <li class='ui-button ui-widget ui-state-default #if($controller.getView()=='image')ui-state-active#end'><a href="../image/list.castle">Images</a></li>
  <li class='ui-button ui-widget ui-state-default #if($controller.getView()=='block')ui-state-active#end'><a href="../block/list.castle">Place Type Blocks</a></li>
  <li class='ui-button ui-widget ui-state-default ui-state-hover' style="cursor:default;height:6px;"></li>
  <li class='ui-button ui-widget ui-state-default #if($controller.getView()=='author')ui-state-active#end'><a href="../author/list.castle">Authorized Users</a></li>
  <li class='ui-button ui-widget ui-state-default #if($controller.getView()=='person')ui-state-active#end'><a href="../person/list.castle">End Users</a></li>
<li class='ui-button ui-widget ui-state-default #if($controller.getView()=='placebyuser')ui-state-active#end'><a href="../placebyuser/list.castle">Reader submissions</a></li>
  <li class='ui-button ui-widget ui-state-default #if($controller.getView()=='comment')ui-state-active#end'><a href="../comment/list.castle">Comments</a></li>
  <li class='ui-button ui-widget ui-state-default ui-state-hover' style="cursor:default;height:6px;"></li>
  #*<li class='ui-button ui-widget ui-state-default #if($controller.getView()=='accesslevel')ui-state-active#end'><a href="../accesslevel/list.castle">Access Levels</a></li>*#
  <li class='ui-button ui-widget ui-state-default #if($controller.getView()=='applicants')ui-state-active#end'><a href="../applicants/list.castle">Applicants</a></li>
  <li class='ui-button ui-widget ui-state-default #if($controller.getView()=='applicants')ui-state-active#end'><a href="../author/edit.castle?id=$controller.getUser().id">Your Profile</a></li>
 
  <li class='ui-button ui-widget ui-state-default'><a href="../place/logout.castle">Logout</a></li>
  <li class='ui-button ui-widget ui-state-default ui-state-hover ui-corner-bottom' style="cursor:default;height:15px;"></li>
 </ul>
#*<ul class="navdivider"></ul>
	


	 
<script type="text/javascript">initNav();</script>*#

	</div><!--nav-->
            
	<div id="main">
	  $childContent 
    </div><!--main-->

            
            
          <div id="secondary">&nbsp;
  		  
          </div><!--secondary-->
            
           <div id="additional">

            <h1>Life is good at WSU. </h1>
          </div><!--addtional-->
            
        
   
    <div id="localfooter">
        The Daily campusMap, P.O. Box 642510, 113 Murrow East, Pullman, WA 99164, (509) 335-4573
<a href="http://dailycampusMap.com/contact.php"><b>Contact Us/Comment</b></a> | <a href="mailto:webeditor@dailycampusMap.com"><b>Website Suggestions</b></a> | <a href="mailto:webmanager@dailycampusMap.com"><b>Problems with our Website</b></a>
©1999-2011 WSU Student Publications Board | <a href="http://www.wsu.edu/sp/policies.html#bylaws"><b>WSU Student Publications By Laws</b></a>

	</div><!--localfooter-->
    
 </div><!-- end of content div --> 

</div> <!--wrapper-->
<!--Beginning of the WSU Global Footer Zone. Refer to www.wsu.edu/identity/ for more information. -->
<noscript>	<div id="wsufooter">Copyright &copy;  Board of Regents, <a href="http://www.wsu.edu">Washington State University</a>  </div><!--wsufooter-->
</noscript>
<script language="javascript" type="text/javascript">var strFooter;strFooter = getFooter();document.write(strFooter);</script>
<!--End of the WSU Global Footer Zone. -->
#*
<script type="text/javascript" src="../Scripts/open-collapse.js"></script>
<script type="text/javascript" src="../Scripts/open-collapseall.js"></script>
*#
<script type="text/javascript">
   // To display the "Print" link pass in true.  To hide the "Print" link pass in false.
   addPrintLink(true);
</script> 

<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=mcwsu"></script>

<script type="text/javascript">
var addthis_config = {
          services_compact: 'email, facebook, twitter, myspace, google, more',
          services_exclude: 'print',
		  ui_click: true 
}
</script>




</body>

</html>