<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	#* all the JS and CSS that is site wide *#
	#parse("admin/global_header_html.vm")
</head>
<body onLoad="initialize()" id='wsu_ui' class="${controller.getView()} ${controller.getAction()}">
	<div id = "wrapper">
		<div id="header_bar">
			#parse("admin/header_html.vm")
		</div>
		<div id="nav">
			<div id="featured"></div>
			#parse("admin/main_menu.vm")
		</div>
		<div id="content">
			<div id="main">
				<div id="content_area"><div id="content_tar">$childContent</div></div> 
			</div>
		</div>
		#parse("admin/footer.vm")
	</div>
	<div id="staging" class="push_hide"></div>
	#parse("admin/global_footer_JS.vm")
</body>
</html>