<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>The Daily campusMap Online</title>
<!-- favorites ico -->
<link rel="shortcut icon" href="http://images.wsu.edu/favicon.ico" />
<link type="text/css" rel="stylesheet" href="/content/css/styles-secondary.css" />
<link type="text/css" rel="stylesheet" href="/content/css/styles-nav.css" />
<link type="text/css" rel="stylesheet" href="$siteroot/content/css/main.css" /> 

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script> 
<!-- Scrolling News Ticker --> 
<script src="$siteroot/content/js/jquery.Scroller-1.0.min.js" type="text/javascript"></script> 
#* <script src="$siteroot/content/js/jquery.Scroller-fromHead.js" type="text/javascript"></script> 
<!-- Open/Close Nav Slide --> 
<script type="text/javascript" src="$siteroot/content/js/jquery-ishovered.js"></script> 
<script type="text/javascript" src="$siteroot/content/js/jquery-makeabsolute.js"></script>
<script type="text/javascript" src="$siteroot/content/js/popdown.js"></script>*#
<!-- Photo/Caption Slider -->
<script type="text/javascript" src="$siteroot/content/js/cycle.2.9995.js"></script> 


<script type="text/javascript" src="$siteroot/content/js/htmlbox.colors.js"></script>
<script type="text/javascript" src="$siteroot/content/js/htmlbox.styles.js"></script>
<script type="text/javascript" src="$siteroot/content/js/htmlbox.syntax.js"></script>
<script type="text/javascript" src="$siteroot/content/js/htmlbox.min.js"></script>

<script type="text/javascript" src="$siteroot/content/js/init.js"></script> 

</head>
<body>
<div id="leaderboard">
<a href="http://www.wsucougars.com">
<img src="../images/template/leaderboard.jpg" width="728" height="90" alt="WSU Cougar Athletics" border="0" /></a>
</div><!--#leaderboard-->
<div id="wrapper">
      <div id="social_media">
            <a href="http://www.dailycampusMap.com/contact.php" title="Contact Us"><img src="../images/template/email-icon.png" width="26" height="17" alt="Contact Us" border="0" style="color:#7f9d6a; display:block; text-decoration:none; border:none;" /></a>
            <a href="http://www.facebook.com/pages/The-Daily-campusMap/270217084313" title="Facebook"><img src="../images/template/facebook-icon.png" width="26" height="26" alt="Facebook" border="0" style="color:#7f9d6a; display:block; text-decoration:none; border:none;" /></a>
            <a href="http://twitter.com/DailycampusMap" title="Twitter"><img src="../images/template/twitter-icon.png" width="26" height="24" alt="Twitter" border="0" style="color:#7f9d6a; display:block; text-decoration:none; border:none;" /></a>
            <a href="http://dailycampusMap.wsu.edu/rss" title="RSS Feed"><img src="../images/template/rss-icon.png" width="26" height="27" alt="RSS Feed" border="0" style="color:#7f9d6a; display:block; text-decoration:none; border:none;" /></a>
       </div><!--#social_media-->

       <div id="masthead">
            <a href="#">
            <img src="../images/template/masthead-sm.png" width="690" height="51" alt="The Daily campusMap" border="0" style="color:#981e32; display:block; text-decoration:none; border:none;" /></a>
       </div><!--#masthead-->

	  <div id="adv_search">
			<!-- <a href="#">Advanced Search <img src="../images/template/adv-search-arrow.png" width="5" height="6" alt="adv search" border="0" style="color:#981e32; display:block; text-decoration:none; border:none;" /></a> -->
	  </div><!--#adv_search-->
            
<div id="search">
<form action="http://dailycampusMap.wsu.edu/search">
	<input id="search_field" type="text" name="q" size="20" maxlength="255" />
    <input id="search_button" type="image" name="submit" src="../images/template/search-icon.png" alt="Search" title="Search" value="Search" />
    <input type="hidden" name="siteURL" value="dailycampusMap.wsu.edu" />
</form>     
</div><!--#search-->
  
<div id="content">
 <div id="nav-wrap"> 
	<div id="nav"> 
<ul> 	
<li class="link "><a href="../public/index.castle">News</a>
<!--subnav for primary link above-->
<ul>
#foreach($place in $places)
  #if($place.BreakingNews == true)
	<li><a class='' title="$!place.title" href="readmore.castle?id=$!{place.id}">$!place.title</a></li>      
  #end
#end
</ul><div class="arrow"></div></li>
<!--end subnav-->
                   
<li class="link "><a href="../public/list.castle?id=1">Sports</a>
<!--subnav for primary link above-->
<ul>
<li><a class='' href='#'>Panthers should draft Newton</a></li>
<li><a class='' href='#'>Cougs win doubleheader</a></li>
<li><a class='' href='#'>WSU's re-branding is invaluable</a></li>
</ul><div class="arrow"></div></li>
<!--end subnav-->
<li class="link "><a href="../public/list.castle?id=12">Life</a>
<!--subnav for primary link above-->
<ul>
#foreach($place in $places)
  #if($place.place_types.id == 12)
	<li><a class='' title="$!place.title" href="readmore.castle?id=$!{place.id}">$!place.title</a></li>      
  #end
#end
</ul><div class="arrow"></div></li>
<!--end subnav-->
 						
<li class="link "><a href="../public/list.castle?id=11">Opinion</a>
<!--subnav for primary link above-->
<ul>
#foreach($place in $places)
  #if($place.place_types.id == 11)
	<li><a class='' title="$!place.title" href="readmore.castle?id=$!{place.id}">$!place.title</a></li>      
  #end
#end
</ul><div class="arrow"></div></li>
<!--end subnav-->
<li class="link ">
<a href="../public/blogs.castle">Blogs</a>
<!--subnav for primary link above-->
<ul>
#foreach($place in $places)
   #if($place.place_types.id == 11 || $place.place_types.id == 1)
	<li><a class='' title="$!place.title" href="readmore.castle?id=$!{place.id}">$!place.title</a></li>  
  #end
#end
</ul><div class="arrow"></div></li>
<!--end subnav-->


<li class="link ">
<a href="../public/campusMap.castle">campusMap</a>
<!--subnav for primary link above-->
<ul>
<li><a class='' href='../public/workforcampusMap.castle'>Work for The campusMap</a></li>
<li><a class='' href='../public/advertisewithus.castle'>Advertise With Us</a></li>
<li><a class='' href='../public/studentadvertisingfund.castle'>Student Advertising Fund</a></li>
<li><a class='' href='../public/pdf.castle'>Print Version (PDF)</a></li>
<li><a class='' href='../public/newsletter.castle'>Newsletter</a></li>
</ul><div class="arrow"></div></li>
<!--end subnav-->

                                                
<li class="link" style="width:134px;" ><a href="../public/usefullinks.castle">Useful Links</a>
<!--subnav for primary link above-->
<ul>
<li><a class='' href='../public/rss.castle'>RSS Feeds</a></li>
<li><a class='' href='http://www.dailycampusMap.com/multimedia/'>Multimedia</a></li>
<li><a class='' href='http://alert.wsu.edu/'>WSU Alert</a></li>
<li><a class='' href='../public/mallcam.castle'>Weather &amp; Mall Cam</a></li>
<li><a class='' href='../public/contactus.castle'>Contact Us</a></li>
</ul><div class="arrow"></div></li>
<!--end subnav-->
</ul> 
</div><!--#nav--> 
</div><!--#nav-wrap-->

<div id="expand" class="expand"> 
		<div id="something"> 
			<div class="clear"></div><!--#div.clear--> 
			</div><!--#something-->
		</div><!--#expand.expand-->

<div id="two_cols">
$childContent
<div id="left_col"></div><!--#left_col-->
<div id="middle_col"></div><!--#middle_col-->
</div><!--#two_cols--> 

<div id="ads_col" align="center">
#foreach($Ad in $Ads)
     #if($Ad.Location.id !=1) 
     $controller.IncView($Ad)                         
     <a href='IncClicked.castle?Id=$!{Ad.id}'>$Ad.HtmlText</a><br/>
     #end
#end
</div><!--#ads_col-->
<div class="clear_both"></div><!--div.clear_both-->
</div><!--#content-->

<div id="footer_area">
    <div id="local_footer">
                <a href="#">The Daily campusMap</a>, PO Box 642510, 113 Murrow East, Pullman, WA, 99164-2510, <a href="#">Contact Us</a>
    </div><!--#local_footer-->
<div id="global_footer">
                &copy; 2011 WSU Student Publications Board | <a href="#">WSU Student Publications Bylaws</a>

    </div><!--#global_footer-->
 </div><!--#footer_area-->
 </div><!--#wrapper-->


<!--google analytics-->
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
<script type="text/javascript">_uacct = "UA-397842-1";urchinTracker();</script>
    
</body>
</html>