<footer class="spine-footer">
	<nav id="wsu-social-channels" class="spine-social-channels">
		<ul></ul>
	</nav>
	<nav id="wsu-global-links" class="spine-global-links">
		<ul>
			<li class="zzusis-link"><a href="https://my.wsu.edu/" target="_blank">myWSU</a></li>
			<li class="access-link"><a href="https://oeo.wsu.edu/" target="_blank">Access</a></li>
			<li class="policies-link"><a href="https://policies.wsu.edu/" target="_blank">Policies</a></li>
			<li class="copyright-link"><a href="https://ucomm.wsu.edu/wsu-copyright-policy/" target="_blank">&copy;</a></li>
		</ul>
	</nav>
</footer>