
<!--<meta content='initial-scale=1,width=device-width' name='viewport' /> -->

<meta content='True' name='HandheldFriendly' />
<meta content='width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no' name='viewport' />
<meta name="viewport" content="width=device-width" />

<meta name="google-site-verification" content="xhwREwkwhYoAUqVEoe6o8jpnm9YYtDrJlUnhRWYNqDQ" />
<meta name="msvalidate.01" content="73B464C828058D51A426DC1B61D99824" />

#if($Controller.isLocal()==false)
	#*<base href="http://dev-mcweb.it.wsu.edu/campusmap.com/" />*#
#end

<title>The WSU #if($campus.name!="")${campus.name}#end Campus Map</title>
<meta name="description" content="Washington State University provides this maping system to help you find the best of the area." />
<meta name="keywords" content="Learning, Research, Community, WSU, Wazzu, Washington State University, Cougs, Cougars, President Elson S. Floyd, Pullman, Spokane, Tri-Cities, Vancouver, Extension, WSU West, Undergraduate, Graduate School, Eastern Washington, Clean Technologies, School for Global Animal Health, Food Supply, Future and Current Students, Facutly, Staff, Alumni, Friends, Parents, Athletics, Give to WSU" />


<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link type='text/css' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css' rel='stylesheet' media='screen' />
<link href="https://repo.wsu.edu/spine/1/spine.min.css" rel="stylesheet" type="text/css" />
<link rel='stylesheet' id='open-sans-css'  href='//fonts.googleapis.com/css?family=Open+Sans%3A300%2C300italic%2C400%2C400italic%2C600%2C700%7COpen+Sans+Condensed%3A700&#038;subset=latin%2Clatin-ext&#038;ver=4.2.2' type='text/css' media='all' />
#*
<script src="//use.typekit.net/roi0hte.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
*#
#capturefor(site)
	#if($Controller.isLocal()==false)
		#*https://beta.maps.wsu.edu/*#$Controller.getRootUrl()
	#else
		#if($siteroot && $siteroot !='')
			$siteroot
		#elseif($Controller.isLocal())
			$Controller.getRootUrl()
		#else
			https://beta.maps.wsu.edu/
		#end
	#end
#end
#capturefor(site_base)
	#if($Controller.isLocal()==false)
		//beta.maps.wsu.edu/
	#else
		#if($siteroot && $siteroot !='')
			$siteroot.Replace('http:','')
		#elseif($Controller.isLocal())
			$Controller.getRootUrl().Replace('http:','')
		#else
			//beta.maps.wsu.edu/
		#end
	#end
#end


#capturefor(jsfolder)
#if($Controller.isLocal()==false) dis #else build #end
#end

#capturefor(view)
$Controller.getView()
#end
#*places,geometry,weather,visualization*#
#set($libs="places,geometry,visualization")

#set($signed_in="&signed_in=true")

#capturefor(options_block)
{
	inview : false,
	siteroot : '$site.Trim()',
	debug : $!debug,
	view_id : "centralmap",
	view : '$view.Trim()/',
	error_reporting : true,
#if($urlQueries && $urlQueries!="")	startingUrl : '$urlQueries', #end
#if($activePlace && $activePlace != "")	activePlace : $!activePlace, #end
	campus : #if($campus.name!="")'$campus.name'#else "Pullman" #end,
#if($campus.url!="")	url : '$campus.url', #end
	campus_latlng_str : #if($campus.latitude!="" && $campus.longitude!="")'$campus.latitude,$campus.longitude'#else '46.73304697156661,-117.15406340441444' #end,
	
#if($map) #* note that this will change when the central map gets it's own view *#
	pos : { 
		"center" : "$map.getLat(),$map.getLong()"
	},
#if($!map.places)
#set($c=0)
#capturefor(places) #foreach($place in $map.places) $!place.id,#end 0#end
	embeded_place_ids : "${places.Replace(", 0","").Replace(" 0","")}",
#end
#if($!map.geometrics)
#set($c=0)
#capturefor(shapes) #foreach($geo in $map.geometrics) $!geo.id,#end 0#end
	embeded_shape_ids : "${shapes.Replace(", 0","").Replace(" 0","")}",
#end
	show_global_nav : #if(${map.show_global_nav})true, #else false, #end
	running_options : '$!options_json',
	fit_to_bound : '$!map.fit_to_bound',
#else
	fit_to_bound : 'Washington State University Pullman, Washington USA',
#end
}
#end



<script type="text/javascript">
var map_view = $options_block;
</script>
#set($siteroot=$site.Trim().TrimEnd("/"))

$scriptsService.Css("~/Content/${jsfolder.Trim()}/css/front.styles.css",true)

#if($admin_js)${admin_js}#end

<link rel="shortcut icon" href="http://images.wsu.edu/favicon.ico" />