<!--<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places,geometry&amp;sensor=false"></script>-->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp${signed_in}&libraries=${libs}&sensor=false"></script>

<!--<script type="text/javascript" src="https://www.google.com/uds/api?file=uds.js&amp;v=1.0"></script>-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://repo.wsu.edu/jtrack/1/jtrack.js"></script>
<!--
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=mcwsu&domready=1" id="addthisScript"></script>
-->

#*
$scriptsService.Js("~/content/${jsfolder.Trim()}/js/maps.wsu.edu.js")
*#
<script type="text/javascript" src="${siteroot}/content/${jsfolder.Trim()}/js/maps.wsu.edu.js"></script>