<div id="toolbar">
  <ul>
  	<li><h1>#if($campus.name!="")${campus.name} #end Campus Map</h1></li>
	
  	<li style="float:left"><a href="#" id="resetmap">Reset Map</a></li>
    <li><a href="#" id="embed">Link<span id="embedlink">/Embed</span></a></li>
	<!--<li class="sharearea">
        <a href="#" class="clickshare">Share</a>
        <div id="sharing-menu">
            <div id="social-list">
                <ul>
                    <li><a class="addthis_button_facebook">Facebook</a></li>
                    <li><a class="addthis_button_twitter">Twitter</a></li>
                    <li><a class="addthis_button_email">Email</a></li>              
                </ul>
                <div class="mid"><a class="addthis_button_expanded">More Destinations...</a></div>
            </div>
        </div>
     </li>-->
     <li>
         <a href="?reportError=&amp;place=0" class="errorReporting" target="_blank">Report Error</a>
     </li>
  </ul>
</div>
