#set($baseClass="parent")
#set($subULClass="")
#set($subNarrowClass="subNarrow")
#set($subClass="")
#set($baseurl=$controller.getAction())



#set($lastLevel = 1 )
#set($c=0)

<ul id='main_nav'>
	#foreach($item in $menuItems)
		#*
			$velocityCount
		*#
	
		#set($Lev=$item.level)
		#if($Lev > $lastLevel)
			#set($val=$Lev - $lastLevel)
			$Controller.repeatStr("<div class='parentarea'><ul>",$val)
		#elseif( $Lev < $lastLevel )
			#set($val=$lastLevel - $Lev)
			$Controller.repeatStr("</li></ul></div>",$val)
			</li>
		#elseif( $Lev > 1 )
			</li>
		#end

		<li class='#if($item.asLink && $item.url)altAction#end depth_${item.level} #if($item.level==1)$baseClass#elseif($item.level>1)$subClass#end #if($selectedCats.Contains(${item.friendly_name}))active#end' >
			<a  hidefocus="true" href='/$baseurl/#if($item.asLink && $item.url)${item.url}#else?cat%5B%5D=$!{item.friendly_name}#end' #if($item.level==1) class='parentalLink' #end  #if($item.asLink && $item.url) target='_blank' #end><em>$!item.name.Replace("&","&amp;")</em></a>
			#set($lastLevel=${item.level})
	#end
		#set($val=$lastLevel-1)
		$Controller.repeatStr("</li></ul></div>",$val)
	</li>
	<li class='$baseClass off_place_action' ><br/></li>
	#*<li class='$baseClass off_place_action' ><a href="?cat=Virtual%20Tours">Virtual Tours</a></li>*#
	<li class='$baseClass altAction off_place_action' ><a href="http://pullman.mapstrat.com/nextvehicle/Map.aspx" target='_blank'><em>Bus Routes</em></a></li>
	<li class='$baseClass altAction off_place_action' ><a id="printPdfs" href="#"><em>Printable Maps</em></a></li>
</ul>

<form action="#" id="getDirections">
	<ul id="dir">
		<li id="directionsFrom"><input type="text" value="" placeholder="Directions from..." class="not" /></li>
		<li id="directionsTo"><input type="text" value="" placeholder="To WSU $!campus.name" /></li>
	</ul>
</form>

   