<li class="pod opRow ui-state-highlight op_polyline op_polygon" #if($hidden) style="display: none;"#end>
<span class="option_handle"></span>

	<span class="lable">geodesic</span>
	<span class="controll">
<br/>
		<input type="checkbox"  value="$!{opt.value}" name="style.g_event[${event.id}].options[${opt.id}]"   rel="${opt.name}"/>
	</span>
</li>