<li class="pod opRow ui-state-highlight op_marker" #if($hidden) style="display: none;"#end>

<span class="option_handle"></span>

	<span class="lable">Shape</span>
	<span class="controll">
<br/>
		<lable>Type</lable><select name="style.g_event[${event.id}].options[${opt.id}]"  rel="${opt.name}">
								<option value="circle">Circle</option>
								<option value="poly">Poly</option>
								<option value="rect">Rect</option>
							</select><br/>
		<lable>coords</lable><input type="text" value="$!{style.options[${event}].coords.val}" name="style.g_event[${event.id}].options[${opt.id}].coords"  rel="${opt.name}.coords"/>
	</span>
</li>