
#if($Flash.error)
<p style="color: red; font-weight: bold;">
    $Flash.error
</p>
#end

<form action="update_placeType.castle" method="post">
  $Form.HiddenField("type.Id")
  <h3>Place Type</h3>
  <p>Name:<br/>
    #if($!type.name)
      $type.name
    #else
      <input type="text" value="$!type.name" name="type.name" id="type_name" class="ui-widget ui-widget-content ui-corner-all " />
    #end
  </p>
	
	
	<div>$comment.comments </div>



  <p><input type="submit" value="Submit" /></p>
</form>
