<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<components>
    <component id="place.controller" type="campusMap.Controllers.placeController, campusMap" />
    <component id="geometrics.controller" type="campusMap.Controllers.geometricsController, campusMap" />
    <component id="view.controller" type="campusMap.Controllers.viewController, campusMap" />
    <component id="admin.controller" type="campusMap.Controllers.adminController, campusMap" />
    <component id="public.controller" type="campusMap.Controllers.publicController, campusMap" />
    <component id="home.controller" type="campusMap.Controllers.HomeController, campusMap" />
    <component id="login.controller" type="campusMap.Controllers.LoginController, campusMap" />
    <component id="contact.controller" type="campusMap.Controllers.ContactController, campusMap" />
    <component id="media.controller" type="campusMap.Controllers.mediaController, campusMap" />
    <component id="tag.controller" type="campusMap.Controllers.tagsController, campusMap" />
    <component id="person.controller" type="campusMap.Controllers.PersonController, campusMap" />
    <component id="advertisement.controller" type="campusMap.Controllers.advertisementController, campusMap" />
    <component id="comment.controller" type="campusMap.Controllers.CommentController, campusMap" />
    <component id="accesslevel.controller" type="campusMap.Controllers.AccessLevelController, campusMap" />
    <component id="authors.controller" type="campusMap.Controllers.authorsController, campusMap" />
    <component id="fields.controller" type="campusMap.Controllers.fieldsController, campusMap" />




  </components>
</configuration>