// base colors
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$blue: rgba(0, 0, 255, 1);
$red: rgba(255, 0, 0, 1);

// alphas
$black_55: rgba(0, 0, 0, 0.55);
$black_25: rgba(0, 0, 0, .25);
$black_64: rgba(0, 0, 0, 0.64);
$color_silver_89_approx: rgba(188, 188, 188, 0.89);
$color_mountain_mist_5_approx: rgba(150, 150, 150, 0.05);
$color_rangoon_green_25_approx: rgba(25, 25, 25, .25);
$mine_shaft_75: rgba(50, 50, 50, 0.75);


$color_WSU_Crimson: rgba(152, 30, 50, 1);
$color_shark_approx: rgba(38, 42, 45, 1);
$color_WSU_Gray: rgba(94, 106, 113, 1);

$color_log_cabin_approx: rgba(34, 34, 34, 1);
$color_charade_approx: rgba(42, 48, 51, 1);
$color_chicago_approx: rgba(88, 88, 88, 1);
$color_iron_approx: rgba(207, 212, 215, 1);
$color_sapphire_approx: rgba(31, 71, 153, 1);
$color_bon_jour_approx: rgba(223, 223, 223, 1);
$color_pink_swan_approx: rgba(184, 184, 184, 1);
$color_gallery_approx: rgba(238, 238, 238, 1);
$color_shiraz_approx: rgba(166, 18, 50, 1);
$color_old_rose_approx: rgba(192, 124, 139, 1);
$color_silver_sand_approx: rgba(194, 194, 194, 1);
$color_cape_cod_approx: rgba(59, 64, 68, 1);
$color_silver_chalice_approx: rgba(170, 170, 170, 1);
$color_french_gray_approx: rgba(182, 188, 191, 1);
$color_tundora_approx: rgba(68, 68, 68, 1);
$color_steel_blue_approx: rgba(51, 126, 183, 1);
$periwinkle: rgba(204, 204, 255, 1);
$color_celeste_approx: rgba(204, 204, 204, 1);
$color_sulu_approx: rgba(204, 255, 102, 1);
$color_storm_dust_approx: rgba(102, 102, 102, 1);
$color_la_rioja_approx: rgba(182, 191, 0, 1);
$color_portage_approx: rgba(136, 136, 255, 1);
$color_scooter_approx: rgba(60, 182, 206, 1);
$color_chocolate_approx: rgba(51, 0, 0, 1);
$color_vis_vis_approx: rgba(255, 241, 168, 1);
$color_old_brick_approx: rgba(153, 27, 47, 1);
$color_opal_approx: rgba(173, 198, 203, 1);
$color_masala_approx: rgba(59, 59, 59, 1);
$seashell: rgba(241, 241, 241, 1);
$color_athens_gray_approx: rgba(238, 239, 241, 1);
$color_regal_blue_approx: rgba(0, 60, 105, 1);

















