<h3>Manual shape input</h3>
<hr/>
<a href="#" id="Load_child" >Load Shape</a>
<div class="min_tab">
	
	<ul>
	#if($!geometric.children.Count>0)
		#set($idx = 0)
		#foreach($child_item in $geometric.children)
			#set($counter = $idx+1)
			<li><a href="#child_${idx}" title="($!child_item.name)">${counter}</a></li>
			#set($idx = $idx+1)
		#end
	
	#else
		#set($child_item = $geometric)
		#set($spatialpart = $child_item.latlongs())
		#if($spatialpart!="")
			<li><a href="#child_0" title="($!geometric.name)">1</a></li>
		#end
		#* *#
	#end
	</ul>
	
	
	#if($!geometric.children.Count>0)
		#set($idx = 0)
		#foreach($child_item in $geometric.children)
			
			<div id="child_${idx}">
				#parse("geometrics/tabs/tabsec_manual_child.vm")
			</div>
			#set($idx = $idx+1)
		#end
	
	#else
	
		#set($child_item = $geometric)
		#set($spatialpart = $child_item.latlongs())
		#if($spatialpart!="")
			#set($idx = 0)
			<div id="child_${idx}">
				#parse("geometrics/tabs/tabsec_manual_child.vm")
			</div>
		#end
		#*	*#
	#end
</div>