<h3>Manual shape input</h3>
<hr/>
<div class="min_tab">
	<a href="#" id="add_shape_child" >Add Shape</a>
	<ul>
	#if($geometric.children.Length>0)
		#foreach($child_item in $geometric.children)
			<li><a href="#child_${velocityCount}" title="($!child_item.name)">1</a></li>
		#end
	#else
		<li><a href="#child_1" title="($!geometric.name)">1</a></li>
	#end
	</ul>
	
	
	#if($geometric.children>0)
		#foreach($child_item in $geometric.children)
			#set($idx = ${velocityCount})
			<div>
				#parse("geometrics/tabs/tabsec_manual_child.vm")
			</div>
		#end
	#else
		<div>
			#set($child_item = $geometric)
			#set($idx = 0)
			#parse("geometrics/tabs/tabsec_manual_child.vm")
		</div>
	#end
</div>