/* Lets override the defaults for the tamplates */
html,body{height:auto;}
#wrapper{width:100%;min-width: 976px;padding-left:0px;}
#globalnav{width: auto;float: none; background: none repeat scroll 0 0 #981E32;}
#siteID{    background: none repeat scroll 0 0 #981E32;
    color: #FFFFFF;
    float: none;
    height: 55px;
    width: 100%;}
#wrapper #toolbar{width: 100%;float: none;}
#siteID h2 { margin: 0 0 0 180px;width: auto;}
#siteID h1 {margin: 0 0 0 180px;width: auto;}
#logo{ display: inline;
    float: none;
    height: 105px;
    left: 0;
    position: absolute;
    top:0px;
    width: 185px;}

#header_bar{position:fixed;top:0px;left:0px;width: 100%;z-index: 2;}

#content{
	position:relative;
margin-top: 105px;
z-index:1;
width: 100%;
min-width: 960px;
}
#main{padding:0px;
    width: 100%;position: relative;}

/* Nav */
#nav {left: 0; padding: 0 0px 0px 0; position: fixed;top: 88px;width: 184px; z-index: 2;}
#main_nav{}
#main_nav li{display: block /*!important*/;float: left;min-height: 24px;line-height: 23px;width: 153px;}
#main_nav li a{display: block !important;}
#main_nav li:hover{border: 1px solid #4D0F1E;font-weight: normal;background: url("../wsu_ui/images/ui-bg_glass_55_ad153b_1x400.png") repeat-x scroll 50% 50% #AD153B;}
#main_nav li a:hover{color: #FFFFFF !important;}
#main_nav li.sep{cursor:default;min-height:3px;}
#main_nav li.endcap{cursor:default;min-height:15px;}
#main_nav li.quickActions{border-right:3px solid #300;width: 150px;}

#nav ul ul.action_nav{margin-left: -14px;}
#nav ul ul.action_nav li{width: 147px;}
#nav ul ul{padding: 0;}
#nav ul li.ui-state-active ul{
	 margin: 0 0 0 -14px;
}



/*
  set up for the ui to over power the default css
*/
#wsu_ui .ui-tabs .ui-tabs-nav{margin: 0 !important;padding: 0.2em 0.2em 0 !important;}
#wsu_ui .ui-tabs .ui-tabs-nav li{margin: 0 0.2em 1px 0 !important;padding: 0 !important;}
#wsu_ui .ui-tabs .ui-tabs-hide {position: absolute;left: -10000px;top: -10000px;display:block !important;}
.buttons .ui-icon{display:block !important;}

#wsu_ui #main_nav .ui-button {text-align: left; padding: 0 15px;}

#wsu_ui .ui-widget input[type=submit],#wsu_ui input[type=submit].ui-widget{padding:4px 7px !important;}

.inlineIcon{display: inline-block !important;float: left;margin: 2px 5px 0 -5px;}


/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
#wsu_ui .placelist.ui-tabs .ui-tabs-panel{padding: 5px 2px;}
#wsu_ui .placelist.ui-tabs .ui-tabs-nav li{float:left;}
#wsu_ui .placelist.ui-tabs .ui-tabs-nav{height: 40px;/*width: 717px;*/}


#wsu_ui .ui-autocomplete.ui-menu{max-height:250px;overflow-y: scroll;}




/*tinyMCE corrections  */

#place_Teaser_ifr{min-height:150px;}
#place_Bodytext_ifr{min-height:350px;}
#advertisement_HtmlText{min-height:350px;}
#classified_Text{min-height:150px;}
#place_Bodytext{width:685px;}
#place_Teaser{width:685px;}
/*tinyMCE expansions  */

.previewTINY_ELM{}
.inlineTINY_ELM{}
.toolBar{}
.handle{}
.remove{}
.change{}
.MACRO{}

#imgPre img{width:150px;height:150px;background: url(/content/images/loading-icon.gif) no-repeat center center;}
#imagePicker{max-width:180px;}
#uploadMess{height:150px;background: url(/content/images/loading-icon.gif) no-repeat center center;}
#uploadMess h2{font-size:24px;margin-top:35px;}

#imgPre{float:right;width:150px;}
#ISIUarea form input[type=submit]{display:none;}


/* General css */
table.ui-widget{}
table.ui-widget thead tr{}
table.ui-widget thead tr th{padding: 5px 12px;line-height: 25px;height:25px;}
table.ui-widget tbody tr{}
table.ui-widget tbody tr.even {background-color:#F9F9F9;}
table.ui-widget tbody tr.odd {background-color: #E8E8E8;}
table.ui-widget tbody tr td{border-bottom: 1px solid #CCCCCC;padding-left:2px;}
table.ui-widget tbody tr.even td{}
table.ui-widget tbody tr.odd td{}

.actionArea{width:34px;padding:0px;}

.w500{width:500px !important;}
.w250{width:250px !important;}
.w150{width:150px !important;}
.w50{width:50px !important;}

.push_hide,.nonEdit{position:absolute;top:-9999px;left:-9999px;}
#content_area{min-height:500px;padding:0 0 0 185px;}
#content_tar{padding:5px 10px;}
.home #content_tar{padding:0px;}

/* place listing */
.placelist{ /*width: 724px;*/}
.placelistUL{    list-style: none outside none !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    padding: 0 5px 0 0 !important;
    width: 721px;}
.placelistUL li {clear: both;line-height: 15px; margin: 10px 0 0 !important;padding: 0 !important; position:relative; z-index:1;}
.placelistUL li div{
    height: 180px;
    left: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    z-index: 1;
	}
.placelistUL li div span{display:inline; font-weight:bold;}

.placelistUL li div.summaryCol{float: left;width: 477px;height:180px;border-right: 1px solid #B8B8B8;}
.placelistUL li div.summaryCol ul{list-style: none outside none !important;margin: 0 !important;padding:0px !important;}
.placelistUL li div.summaryCol ul li{margin: 0 !important;padding: 0 !important;    padding: 2px 7px !important;}
.placelistUL li div.summaryCol li p {display: inline;line-height: 1em !important;padding: 0;}
.placelistUL li div.summaryCol .Title{background-color: #CCCCCC;height: 30px;}
.placelistUL li div.summaryCol li span.Body,.placelistUL li div.summaryCol li span.Body span{font-weight:normal !important;}
.placelistUL li div.summaryCol li span.Teaser,.placelistUL li div.summaryCol li span.Teaser span{font-weight:normal !important;}


.placelistUL li div.detailCol{float: left;width: 188px;height:180px;border-right: 1px solid #B8B8B8;}
.placelistUL li div.detailCol ul{list-style: none outside none !important;margin: 0 !important;padding:0px !important;}
.placelistUL li div.detailCol ul li{margin: 0 !important;padding: 0 !important;padding: 2px 7px !important;}
.placelistUL li div.detailCol .date{background-color: #CCCCCC;height: 30px;}

.placelistUL li div.actionCol{background-color: #E0E0E0;
    border-right: medium none;
    float: left;
    height: 180px;
    overflow: visible;
    position: relative;
    width: 50px;
    z-index: 5;}
.placelistUL li div.actionCol ul{list-style: none outside none !important;margin: 0 !important;padding:4px !important;}
.placelistUL li div.actionCol ul li{margin: 0 !important;font-size:0.7em;padding: 0 0 3px !important;}
.placelistUL li div.actionCol ul li a.buttons{float:right;display:inline-block;width:37px;positon:relative;height:24px;}

.placelistUL li div.actionCol ul li a.buttons span.ui-button-text{position:absolute;top:0px; right:0px;display:inline-block;height: 16px;width: 16px;
    padding-left: 0 !important; 
    padding-right: 0 !important;
    width: 100% !important;


}



.placelistUL li div.actionCol ul li a.buttons .ui-icon{height: 16px;width: 16px;display:block;float: left;

    left: 5px;
    position: absolute;
    top: 4px;

}
.placelistUL li div.actionCol ul li a.buttons span.actionText{width:0px;float: right  !important;overflow: hidden;}
.placelistUL li div.actionCol ul li a.buttons span.actionpropt{
   color: #8C818A;
    float: right !important;
    overflow: hidden;
    width: 10px;

}


.placelistUL li .Status div{height:auto;}

.inEdit{height:180px; width:721px; position:absolute !important;top:0;left:0; z-index:2  !important;filter:alpha(opacity=35);opacity: 0.35; background-color:#AD153B;}
span.UinEdit{    background-color: #E2E2E2;
    bottom: 0;
    font-size: 20px;
    font-weight: bold;
    left: 0;
    line-height: 35px;
    position: absolute;
    width:721px;
    z-index: 3;display:inline-block;float:left;}
.steal {float: right;
    font-size: 12px !important;
    margin-top: 3px;}
.steal span{float: left;margin-right: 0.3em;}
/* editing place */
.imagedropDown,.authorSelect{margin-top:7px;}











/*  ad listing  */

.ad{position:relative;z-index:1;}
.ad span.the_ad{position:absolute;left:-9999px;top:-9999px; padding:15px; cursor:default;z-index:2;}
.ad:hover span.the_ad{left:18px;top:-35px;}
.advertisementUrl{font-size:10px;}
.expired{background: url("../images/expired.png") no-repeat scroll center center #AD153B; text-indent:-9999px;display:inline-block;width:15px;height:50px;float:left;} 



/*  image listing  */
.typeIcon{display:inline-block;width:24px;height:24px;}
.type1{background: url("../images/place.png") no-repeat scroll 50% 50% transparent;} 
.type2{background: url("../images/advertisement.png") no-repeat scroll 50% 50% transparent;}
.selectedImage{max-width:300px;display:none;}
.imagePreview:hover .selectedImage{display:block;}


/* Print */

.PDF.creation{float: right;
    margin-right: 10px !important;
    margin-top: 9px;
    position: relative;
    z-index: 3;}


/* comments */

.users_comments .placelist{ width: 454px;}
#wsu_ui .users_comments  .placelist.ui-tabs .ui-tabs-nav { width: 446px;}


/* media boxes */
#browserBox.grid{border:1px solid #CCCCCC;padding: 15px;width: 540px; margin:15px auto 0px; background-color:#fff;}
#browserBox.grid .imageBox{position:relative; overflow:hidden;display: inline-block;float:left; margin-right:5px; margin-bottom:5px;width:175px;height:175px;background: url(/content/images/loading-icon.gif) no-repeat 40px center;}
#browserBox.grid .previewImg{background: url(/content/images/loading-icon.gif) no-repeat center center;}
#browserBox.grid .DeleteImage{position:absolute; top:5px; right:5px;diplay:none;}
#browserBox.grid .imgInfo{background: url(/Content/images/227_227_227_66.png) repeat scroll 50% 50% transparent;padding:2px 5px;position:absolute; bottom:0px; left:0px;}
#browserBox.grid .imgInfo span{font-size:12px;}
#browserBox.grid .imgInfo label{font-size:10px;font-weight:bold;}
#browserBox.grid .imgInfo input{width:160px;}

#img_layout_choice{width:32px; height:32px; cursor:pointer; display:inline-block; float:right;
					background: url(/Content/images/grid_list_choices.png) no-repeat scroll left bottom transparent;}
#img_layout_choice.list{background: url(/Content/images/grid_list_choices.png) no-repeat scroll left top transparent;}






#browserBox.list{border:1px solid #CCCCCC;padding: 15px;width: 540px; margin:15px auto 0px; background-color:#fff;}
#browserBox.list .imageBox{position:relative;display: inline-block;float:left; margin-right:5px; margin-bottom:5px;width: 100%;max-width:540px;height:175px;background: url(/content/images/loading-icon.gif) no-repeat 40px center;}
#browserBox.list .previewImg{}
#browserBox.list .DeleteImage{position:absolute; top:5px; right:5px;display:block !important;}
#browserBox.list .imgInfo{
	background: url(/Content/images/227_227_227_66.png) repeat scroll 50% 50% transparent;
    display: block !important;
    float: right;
    height: 171px;
    margin-left:0px;
    padding: 2px 5px;
    width: 350px;
	}
#browserBox.list .imgInfo span{font-size:12px;}
#browserBox.list .imgInfo label{    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    margin-top: 12px;}
#browserBox.list .imgInfo input{width:100%;}
#browserBox.grid .ui-state-highlight{position:relative; overflow:hidden;display: inline-block;float:left; margin-right:2px; margin-bottom:5px;width:175px;height:173px;}
#browserBox.list .ui-state-highlight{position:relative;display: inline-block;float:left; margin-right:5px; margin-bottom:5px;width: 100%;height:175px;}
.placeOrderId{ position:absolute; top:-9999em; left:-9999em;}




.ui-dialog.ui-widget.ui-widget-content{
-webkit-box-shadow: 0px 0px 10px 2px #000;
 -moz-box-shadow: 0px 0px 10px 2px #000;
 box-shadow: 0px 0px 10px 2px #000; 
}









#content h3.ListingChoices{ cursor:pointer;}
#content h3.ListingChoices.active{color:#000;}










.place .ui-tabs-panel {margin-right:310px; min-height:535px;}





.pod{}
.pod.editing{}
.editable{position:relative; top:0;left:0;}
.editzone{position:absolute; top:-999px;left:-999px;}
.pod.editing .editable{position:absolute; top:-999px;left:-999px;}
.pod.editing .editzone{position:relative; top:0;left:0;}