#coords1 {
	padding: 5px;
	font-weight: bold;
}
#polygonstuff {
	position: absolute;
	top: 400px;
	left: 5px;
	width: 70px;
	height: 60px;
	background-color: #ff0000;
	color: #ffffff;
	visibility: hidden;
}

.choice {
	background-color: transparent;
	width: 100px;
	float: left;
}

.topbutton {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	float: left;
}
#googlead {
	margin: 0 auto;
	width: 800px;
	padding-top: 5px;
}
.clear {
	clear:both;
}

#polylineoptions {
	position: absolute;
	background-color: #ffffff;
	top: 200px;
	left: 560px;
	width: 260px;
	height: 210px;
	border: 2px solid #337EB7;
	visibility: hidden;
}
#polygonoptions {
	position: absolute;
	background-color: #ffffff;
	top: 200px;
	left: 560px;
	width: 260px;
	height: 255px;
	border: 2px solid #337EB7;
	visibility: hidden;
}
#rectang {
	position: absolute;
	background-color: #ffffff;
	top: 200px;
	left: 560px;
	width: 260px;
	height: 260px;
	border: 2px solid #337EB7;
	visibility: hidden;
}
#circleoptions {
	position: absolute;
	background-color: #ffffff;
	top: 200px;
	left: 560px;
	width: 260px;
	height: 260px;
	border: 2px solid #337EB7;
	visibility: hidden;
}
#markeroptions {
	width: 950px;
	height: 310px;
	background-color: #ffffff;
	margin: 2px 2px 2px 2px;
	padding: 8px;
	border: 1px solid #aaa;
	position: absolute;
	top: 45px;
	left: 10px;
	z-index:99999;
	visibility:hidden;
}
#directionstyles {
	position: absolute;
	background-color: #ffffff;
	top: 200px;
	left: 560px;
	width: 260px;
	height: 210px;
	border: 2px solid #337EB7;
	visibility: hidden;
}
#iconimages {
	width: 430px;
	height: 300px;
	background-color: #ffffff;
	margin: 2px 2px 2px 2px;
	padding: 8px;
	float: left;
}
#stylestext {
	width: 485px;
	height: 280px;
	background-color: #ffffff;
	margin: 0px 0px 2px 2px;
	padding: 5px;
	float: left;
}
#toppers {
	width: 405px;
	height: 300px;
	background-color: #ffffff;
	margin: 2px 2px 2px 2px;
	padding: 8px;
	position: absolute;
	top: 165px;
	left: 90px;
	z-index:99999;
	visibility:hidden;
}
.styletitle {
	margin-left:5px;
	padding:0 3px 0 5px;
	font-weight:bold;
	background-color: #CCCCFF;
}
.closebutton {
	border:1px solid #000000;
	padding:1px 4px 1px 4px;
	margin:1px 3px 1px 0px;
	color:#ffffff;
	background-color: #337EB7;
}
.label {
	float: left;
	text-align: right;
	margin-right: 5px;
	width: 80px;
	padding-top: 5px;
}
.input {
	float: left;
	padding-left: 3px;
	width: 55px;
	margin: 3px 0px 0px 3px;
	border: 2px solid #ccc;
}
.inputlong {
	float: left;
	padding-left: 3px;
	width: 75px;
	margin: 3px 0px 0px 3px;
	border: 2px solid #ccc;
}
.oklink {
	margin-left: 25px;
	padding:0px 3px 0px 3px;
	background-color: #CCFF66;
	text-decoration: none;
}
#morelinks td {
	padding-right: 10px;
}













/* PULL THIS OUT DON"T BELONG HERE */
#nav #main_nav{}
#nav #main_nav li{}
#nav #main_nav ul{display:none;margin-left:14px;}
#nav #main_nav li.active a {color:#981e32; }


#nav #main_nav li.active ul{display:block;}
#nav #main_nav ul li{padding-bottom: 2px;}

#nav #main_nav li.active li{
	background: url("http://dev-mcweb.it.wsu.edu/campusmap.com/Content/images/assests_central/unchecked_menu.png") no-repeat scroll left center transparent;
	padding-left:13px;
	}
#nav #main_nav li.active li a{color:#5E6A71;}
#nav #main_nav li.active li.checked {
	background: url("http://dev-mcweb.it.wsu.edu/campusmap.com/Content/images/assests_central/checked_menu.png") no-repeat scroll left center transparent;
	}
#nav #main_nav li.active li.checked a{color:#981e32;}
#nav #main_nav ul li.subNarrow{font-style:italic;background: none repeat scroll 0 0 transparent;}


























#toolbar ul {float:right; padding:0px; margin:0 15px 0 0;height:20px;}
#toolbar ul li{}
#toolbar a {color: #fff;font-size:11px;text-decoration: none;line-height:20px;}

#placeSearch{height:23px; position:relative;width:147px;}
#placeSearch input{color:#3cb6ce;background: url("http://dev-mcweb.it.wsu.edu/campusmap.com/Content/images/assests_central/placeSerachBar.png") no-repeat scroll left top transparent; height:23px;width:125px;border: medium none;position:absolute; top:0px;padding: 0;}
#placeSearch input[type=text]{left:0px;}
#placeSearch input:focus{ background-position:left bottom;}
#placeSearch .submit{background-position:right top;width:22px;font-size:0px;overflow:hidden; border:none;padding: 0; cursor:pointer;right:0px;}
#placeSearch .submit:focus,#placeSearch .submit:hover{background-position:right bottom;}

#getDirections{}
#directionsFrom input{color:#3cb6ce;background: url("http://dev-mcweb.it.wsu.edu/campusmap.com/Content/images/assests_central/directions_input.png") no-repeat scroll left top transparent; height:21px;border: medium none;
    margin-top: 5px;
    padding: 0 15px 0 5px;
    width: 127px;
}
#directionsTo input{color:#3cb6ce;background: url("http://dev-mcweb.it.wsu.edu/campusmap.com/Content/images/assests_central/directions_input.png") no-repeat scroll left top transparent; height:21px;border: medium none;
    margin-top: 5px;
    padding: 0 15px 0 5px;
    width: 127px;
}



/* info boxes */
#campusmap .ui-tabs {padding: 0;border: medium none;width:100%;}
#campusmap .ui-widget-header{height:17px;}
#campusmap .infoClose{ right: 4px;top: -5px;z-index: 1;}
#campusmap .ui-tabs .ui-tabs-nav{padding: 0.2em 0 0;
-moz-border-radius-bottomleft: 0px;
-webkit-border-bottom-left-radius: 0px;
-khtml-border-bottom-left-radius: 0px;
border-bottom-left-radius: 0px;
-moz-border-radius-bottomright: 0px;
-webkit-border-bottom-right-radius: 0px;
-khtml-border-bottom-right-radius: 0px;
border-bottom-right-radius: 0px;
}
#campusmap .ui-tabs .ui-tabs-nav li{ background: none repeat scroll 0 0 transparent;border: medium none;top: -7px;font-size: 13px;}
#campusmap .ui-tabs .ui-tabs-nav li.ui-state-active{    background: url("images/ui-bg_flat_65_ffffff_40x100.png") repeat-x scroll 50% 50% #FFFFFF;border: 1px solid #4C545A;}

#campusmap .ui-tabs .ui-tabs-nav li {
    
}
#campusmap .ui-tabs .ui-tabs-nav li a {
    padding:0.3em 0.75em 0.15em;
}

	
/* info boxes content */	
#campusmap .ui-tabs .ui-tabs-panel{font-size:12px; color:#262a2d;max-height: 240px; padding:5px;}	
#campusmap .ui-tabs .ui-tabs-panel .content{width:395px;max-height: 240px;overflow-x:hidden; overflow-y: auto;}
#campusmap .ui-tabs .ui-tabs-panel .content .header{font-size:14px; color:#981e32; font-weight:bold;}
#campusmap .ui-tabs .ui-tabs-panel .content .headImage{float:left; background: url("http://dev-mcweb.it.wsu.edu/campusmap.com/Content/images/samples/in_info_image_bk.png") repeat-x scroll 50% 50% #FFFFFF; padding:10px;margin-right:3px;}	

		
	
	
	
	
	