a[href='https://portal.wsu.edu/']{display:none;}
a[href='http://index.wsu.edu/']{display:none;}

#globalnav li { padding-left:10px;}
#nav {padding: 0 10px 10px 7px;width: 138px;}
#logo{background: url("http://images.wsu.edu/global/bg-logo3.jpg") no-repeat scroll left center #FFFFFF;width: 155px;}
#content_area {padding: 0 0 0 155px;}
#siteID h1 {margin: 0 0 0 145px;}