/* Daily Evergreen Online - Home */

body {
	background:#b6bcbf url(../../images/template/bkgrd.jpg) repeat-x scroll 0 0;
	font-family:Lucida Sans Unicode,Lucida Grande,arial,helvetica,sans-serif;
	color:#262a2d;
	font-size:12px;
	line-height:19px;
	margin:0;
	padding:0;
	text-align:center;
}
.img-main
{ max-width :377px;
  max-height: 245px; 
  border :0 ; 	
	}

a {
	color:#5e6a71;
	text-decoration:none;
}

a:hover {
	color:#7f9d6a;
	text-decoration:underline;
}

hr {
	color:#ffffff;
	background-color:#ffffff;
	border:1px dotted #526e3f;
	border-style:none none dotted;
	padding-top:3px;
	margin:20px 0 25px 0;
}


/* Scrolling News Ticker */
div.horizontal_scroller, div.vertical_scroller {
	background:none;
	margin:0 auto;
	position:relative;
	width:100%;
	display:block;
	overflow:hidden;
	height:20px;
	padding-top:5px;
}

div.scrollingtext {
	position:absolute;
	white-space:nowrap;
	font-size:14px;
	line-height:19px;
	font-weight:normal;
	color:#ffffff;
}

div.scrollingtext a {
	color:#ffffff;
	margin:0px 7px;
	text-decoration:none;
}
/* End of Scrolling News Ticker */


#wrapper {
	background:none;
	margin:0 auto;
	position:relative;
	width:1020px;
	padding-top:12px;
}

#social_media {
	width:26px;
	position:relative;
	float:left;
	top:105px;
	margin-left:13px;
}

#social_media a {
	margin-bottom:8px;
	display:block;
}

#masthead {
	text-align:center;
	width:690px;
	margin:25px 0 10px 46px;
	padding:0px;
	position:relative;
	height:51px;
}


/* Custom Search Bar */

#adv_search {
	width:108px;
	position:absolute;
	top:50px;
	right:146px;	/*right:108px;*/
	z-index:4;
	color:#262a2d;
	font-size:10px;
	line-height:14px;
	text-transform:uppercase;
	text-align:right;
	vertical-align:middle;
}

#adv_search a {
	color:#262a2d;
	text-decoration:none;
	vertical-align:middle;
}

#adv_search img {
	float:right;
	margin-top:2px;
	margin-left:4px;
	width:5px;
	height:10px;
	vertical-align:middle;
}

#search {
	width:189px;
	position:absolute;
	top:58px;
	left:742px;
	z-index:1;
	overflow:hidden;
	text-transform:uppercase;
}

#search_field {
	z-index:2;
	height:12px;
	padding-right:20px;
	font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-size:10px;
	line-height:15px;
	color:#262a2d;
}

#search_button {
	z-index:3;
	position:absolute;
	left:200px;
	top:2px;
}
/* End of Custom Search Bar */


#content {
	width:926px;
	background-color:#ffffff;
	vertical-align:top;
	text-align:center;
	border:solid 1px #262a2d;
	/* min-height:400px; */
	margin:0 auto;
	position:relative;
}

#two_cols, #left_col, #middle_col, #ads_col {
	float:left;
	vertical-align:top;
	background-color:#ffffff;
}

#two_cols {
	width:728px;
	padding-top:245px;
}


/* Photo/Caption Slider */

#slider {
	width:728px;
	height:245px;
	
	float:left;
	overflow:hidden;
	position:absolute;
	top:30px;
	left:0px;
}

.slider_content {
	width:728px;
	height:245px;
	background:url("../../images/template/slider-bkgrd.jpg") no-repeat scroll 0 0 transparent;
}

.slider_photo {
	margin:0;
	width:377px;
	height:245px;
	padding:0px;
}

.slider_text {
	width:281px;
	height:190px;
	margin-bottom:40px;
	padding:30px 35px 0 35px;
	color:#262a2d;
	text-align:left;
	font-size:16px;
}

#slider .headline, #slider .subhead, #slider .byline {
	width:281px;
}

#slider div {
	top:0;
	left:0;
	float:left;
}

.slider_nav {
	float:left;
	width:668px;
	margin:8px 30px 5px 30px;
	text-align:left;
	font-family:Lucida Sans Unicode,Lucida Grande,arial,helvetica,sans-serif;
	color:#262a2d;
	font-size:12px;
	line-height:19px;
}
/* Photo/Caption Slider */


#left_col, #middle_col {
	width:304px;
	text-align:left;
	padding:20px 30px;
}


/* Section, Headlines, Bylines, etc. */

.section, .headline, .subhead, .byline {
	font-family:Lucida Sans Unicode,Lucida Grande,arial,helvetica,sans-serif;
}

.subhead, .byline {
	color:#262a2d;
}

.section {
	color:#ffffff;
	font-size:20px;
	line-height:25px;
	font-weight:normal;
	margin-bottom:15px;
	text-transform:uppercase;
	text-decoration:none;
	letter-spacing:1px;
	display:block;
	width:304px;
	background-color:#7f9d6a;
	padding:2px 5px 1px 5px;
}

.section a {
	color:#ffffff;
	text-decoration:none;
}

.section a:hover {
	color:#ffffff;
	text-decoration:none;
}

#slider .headline {
	color:#526e3f;
	font-size:16px;
	line-height:21px;
	font-weight:bold;
	margin-bottom:3px;
	margin-left:0px;
}

.headline a {
	color:#526e3f;
}

.headline a:hover {
	color:#7f9d6a;
}

.headline {
	color:#526e3f;
	font-size:15px;
	line-height:18px;
	font-weight:bold;
	margin-bottom:3px;
	margin-left:5px;
}

#slider .subhead {
	padding-top:1px;
	color:#262a2d;
	font-size:13px;
	line-height:18px;
	font-weight:normal;
	margin-bottom:10px;
	margin-left:0px;
}

.subhead {
	padding-top:1px;
	color:#5e6a71;
	font-size:13px;
	line-height:18px;
	font-weight:normal;
	margin-bottom:5px;
	margin-left:5px;
}

#slider .byline {
	padding-top:8px;
	color:#262a2d;
	font-size:10px;
	line-height:14px;
	margin-left:0px;
}

.byline {
	padding-top:8px;
	color:#262a2d;
	font-size:10px;
	line-height:14px;
	margin-left:5px;
}

#left_col #slider p, #middle_col #slider p {
	font-family:Lucida Sans Unicode,Lucida Grande,arial,helvetica,sans-serif;
	color:#262a2d;
	font-size:12px;
	line-height:19px;
	margin-bottom:10px;
	padding:0;
	text-align:left;
	margin-left:0px;
}

#left_col p, #middle_col p {
	font-family:Lucida Sans Unicode,Lucida Grande,arial,helvetica,sans-serif;
	color:#262a2d;
	font-size:12px;
	line-height:19px;
	margin:4px 0 10px 0;
	padding:0;
	text-align:left;
	margin-left:5px;
}

ul {
	margin:0;
	padding:10px 0 30px 22px;
}

li {
	margin-bottom:5px;
	font-family:Lucida Sans Unicode,Lucida Grande,arial,helvetica,sans-serif;
	color:#262a2d;
	font-size:12px;
	line-height:17px;
}

li a {
	color:#5e6a71;
	text-decoration:none;
}

li a:hover {
	color:#7f9d6a;
	text-decoration:underline;
}
/* End of Section, Headlines, Bylines, etc. */

#ads_col {
	width:198px;
	text-align:center;
	padding:20px 0px;
}

#ads_col img {
	display:inline-block;
	text-decoration:none;
	border:none;
	margin-top:8px;
}

.clear_both {
	clear:both;
}

#footer_area {
	clear:both;
	margin-top:8px;
}

#footer_area img {
	display:inline-block;
	text-decoration:none;
	border:none;
}

#local_footer {
	padding-top:10px;
	padding-bottom:0px;
	color:#262a2d;
}

#local_footer a {
	color:#262a2d;
	text-decoration:none;
}

#local_footer a:hover {
	color:#526e3f;
	text-decoration:none;
}

#global_footer {
	padding-bottom:10px;
	color:#5e6a71;
}

#global_footer a {
	color:#5e6a71;
	text-decoration:none;
}

#global_footer a:hover {
	color:#526e3f;
	text-decoration:none;
}


/* Type Styles */

.dk_green {
	color:#526e3f;
}

.lt_green {
	color:#7f9d6a;
}

.lt_gray {
	color:#b6bcbf;
}

.dk_gray {
	color:#262a2d;
}


/* Header Styles */

#content ol h1,#content ol h2,#content ol h3,#content ol h4,#content ol h5,#content ol h6 {
	padding-bottom:0px;
}

#content ul h1,#content ul h2,#content ul h3,#content ul h4,#content ul h5,#content ul h6 {
	padding-bottom:0px;
}


#content h6,#content h5,#content h4,#content h3,#content h2,#content h1 {
	margin:0px;
	padding:0px 0px 6px;
	letter-spacing:0em;
	font-weight:normal;
}

#content h6,#content h5,#content h4 {
	padding:0px 0px 5px;
}

#content h1 {
	font-size:2.2em;
	line-height:1.2em;
}

#content h2 {
	font-size:1.8em;
	line-height:1.3em;
}

#content h3 {
	font-size:1.5em;
	line-height:1.4em;
}

#content h4 {
	font-weight:bold;
	font-size:1.2em;
	line-height:1.5em;
}

#content h5 {
	font-weight:bold;
	font-size:1em;
	line-height:1.6em;
}

#content h6 {
	font-weight:normal;
	font-size:.8em;
	line-height:1.7em;
	color:#b6bcbf; /* lt gray */
}

#content h2,#content h4,#content h5 {
	color:#7f9d6a; /* lt green */
}

#content h3,#content h1 {
	color:#526e3f; /* dk green */
}