/* Photo/Caption Slider */

#slider {
	position:relative;
	float:left;
}

.slider_content {
	width:400px;
	clear:both;
}

.slider_photo {
	margin:0;
	width:400px;
	height:245px;
	padding:0px;
	float:left;
}

.slider_text {
	float:left;
	width:400px;
	margin-bottom:40px;
	padding:30px 35px 0 3px;
	color:#262a2d;
	text-align:left;
	font-size:16px;
	clear:left;
}

#slider .headline, #slider .subhead, #slider .byline {
	width:400px;
}

#slider div {
	float:left;
}

.slider_nav {
	float:left;
	width:377px;
	margin:8px 30px 10px 0px;
	text-align:left;
	font-family:Lucida Sans Unicode,Lucida Grande,arial,helvetica,sans-serif;
	color:#262a2d;
	font-size:12px;
	line-height:19px;
	clear:both;
}
/* Photo/Caption Slider */


.headline {
	color:#526e3f;
	font-size:26px;
	line-height:31px;
	font-weight:bold;
}

.subhead {
	padding-top:1px;
	color:#262a2d;
	font-size:20px;
	line-height:25px;
}

.byline {
	padding-top:8px;
	color:#262a2d;
	font-size:14px;
	line-height:18px;
}

#slider p, #slider p {
	font-family:Lucida Sans Unicode,Lucida Grande,arial,helvetica,sans-serif;
	color:#262a2d;
	font-size:12px;
	line-height:19px;
	margin-bottom:10px;
	padding:0;
	text-align:left;
}
