
#if($Flash.massage)
<div style="margin-top: 20px; padding: 0 .7em;" class="ui-state-highlight ui-corner-all">
  <p style="line-height: 15px;padding-bottom: 0;">
    <span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-info"></span><strong>Note:</strong>$Flash.massage
  </p>
</div>
#end
#if($Flash.error)
<div style="margin-top: 20px; padding: 0 .7em;" class="ui-state-error ui-corner-all">
  <p style="line-height: 15px;padding-bottom: 0;">
    <span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-alert"></span><strong>Alert:</strong>$Flash.error
  </p>
</div>
#end

<script type="text/javascript">
  var availableTags = [$!locations];
</script>

<div id="dialog" title="Basic dialog" style="display:none;">
  <p>Choose the new state of the place</p>
</div>

<h3>Media</h3>




<div id="tabs" class="placelist ui-tabs ui-widget ui-widget-content ui-corner-all">
  <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
      <a href="#tabs-1">Attachment</a>
    </li>
    <li class="ui-state-default ui-corner-top">
      <a href="#tabs-2">General Pools ($usertags.TotalItems)</a>
    </li>
  </ul>

  <div id="tabs-1">
	<div id="sub_tabs" class="placelist ui-tabs ui-widget ui-widget-content ui-corner-all">
	  <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
		<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
		  <a href="#tabs_Place">Place ($usertags.TotalItems)</a>
		</li>
		<li class="ui-state-default ui-corner-top">
		  <a href="#tabs_Ads">Ads ($usertags.TotalItems)</a>
		</li>
	  </ul>

	  <div id="tabs_Place">
		#parse("usertags/list.vm")
	  </div>
	  <div id="tabs_Ads">
		#parse("usertags/list.vm")
	  </div>
	</div>
  </div>
  <div id="tabs-2">
    #parse("usertags/list.vm")
  </div>
</div>

