<script type="text/javascript">var availablecredits = [$credits];</script>
#if($Flash.error)
<p style="color: red; font-weight: bold;">
    $Flash.error
</p>
#end


<form action="Update.castle" method="post" enctype="multipart/form-data" >
$Form.HiddenField("image.id")  
  <input type="hidden"  value="$place.id" name="place.id" id="place_id"/>
  <p>
    File Name:<br/>
    #*$Form.TextField("image.FileName")*#
    <input type="text" value="$!image.FileName" name="image.FileName" id="image_FileName" class="ui-widget ui-widget-content ui-corner-all " />
  </p>

      <input type="hidden"  value="1" name="image.type.id" id="image_ImageTypes_id"/>

    <p>
      Caption:<br/>
      <input type="text" value="$!image.caption" name="image.caption" id="image_caption" class="ui-widget ui-widget-content ui-corner-all " />
    </p>
    <p>
      Credit:<br/>
      <input type="text" value="$!image.credit" name="image.credit" id="image_credit" class="ui-widget ui-widget-content ui-corner-all " />
    </p>
  </div>
  
<p>
  Load Image:<br/>
  <input class="file" name="newimage" value="image_load" id="image_id" type="file" />
</p>
<span style="font-size:10px;line-height:11px;">
	<strong>Note:</strong>
	<em>Images are auto sized down if they have a width or height of more then 1000px to 1000px;  It will not size up.  All images will auto size for other areas of the site so it will be best pratice to have the action area set at the center of te photo.</em>
</span>

<br/>
<br/>
#if($image.id)
  <p>
    Image:<br/>
    <img id="selectedImage" width='300px' src="$siteroot/image/download.castle?id=$image.id" alt=""/>
  </p>
#end
<p>
 <input type="submit" value="Submit" />
</p>

</form>
