#if($Flash.error)
<p style="color: red; font-weight: bold;">
    $Flash.error
</p>
#end
<h3>#if($style.Id!=0)Edit#else Add #end Element Style</h3>

#capturefor(formbuttons)
    <input type="submit" value="Cancel" name="cancel" style="float:right"  class="cancel_btn ui-button ui-widget ui-state-default ui-corner-all"/>
    <input type="submit" value="#if($style.id!=0) Apply #else Save #end" name="apply" style="float:right" title="#if($style.id!=0)Apply #else Save #end and Return" class="ui-button ui-widget ui-state-default ui-corner-all" />
    <input type="submit" value="Submit" style="float:right" class="submit_btn ui-button ui-widget ui-state-default ui-corner-all" />
#end





<form action="update_style.castle" method="post">
	$Form.Hiddenfield("style.id")
	<div class="style_controlls">
		<fieldset>
			<legend>Basic setup:</legend>
			<p style="float:right;width:46%;">Field Type:<br/>  
				<select name="style.type" id="style_of">
					<option value="" #if($style.type=='')selected='selected'#end>Select a geometry type</option>
					#foreach($type in $style_types)
						<option value="$type.id" #if($style.type==$type || $selectedType==$type.id)selected='selected'#end>$type.name</option>
					#end
				</select>
			</p>
			
			<p>Name:<br/>
				<input type="text" value="$!style.name" name="style.name" id="type_name" class="ui-widget ui-widget-content ui-corner-all " />
			</p>
		</fieldset>
	
		#if( !$ajaxed )
		<div id="smaple_area">
					<fieldset><legend>Sample</legend>
						<div id="style_map" style="width: 500px;height: 520px;"></div>
					</fieldset>
		</div>
		#end
	
		<div class="TABS EVENT_TABS ui-tabs ui-widget ui-widget-content ui-corner-all place_new">
			<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
				#foreach($event in $style_events)
					<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
						<a href="#${event.name}">#if(${event.friendly_name}!='')${event.friendly_name}#else${event.name}#end</a>
					</li>
				#end
			</ul>
			#foreach($event in $style_events)
				<div class="tabed" id="${event.name}">
					<fieldset>
						<legend>#if(${event.friendly_name}!='')${event.friendly_name}#else${event.name}#end setup:</legend>
						<fieldset id="optionsSelection_hover" >
							<legend>Style options</legend>
							<div>
								#if($style.type=='')#set($hidden=true)#else#set($hidden=false)#end
								<ul id="sortable2_${event.name}" class="sortStyleOps pool hover connectedSortable"  style="float:right;width:250px;display:inline-block;" >
									#foreach($opt in $event.getUnUsed($style,$style.zoom))
										#parse("admin/maps/styles/controll/boundaries/${opt.name}.vm")
									#end
									#foreach($opt in $event.getRemaining($style,$style.zoom))
										#set($hidden=true)
										#parse("admin/maps/styles/controll/boundaries/${opt.name}.vm")
									#end
								</ul>
								<ul id="sortable_${event.name}" class="sortStyleOps orgin hover connectedSortable" style="width:225px;display:inline-block; border-right:1px solid #e2e2e2;float:left;">
									#foreach($opt in $event.getUsed($style,$style.zoom))
										#parse("admin/maps/styles/controll/boundaries/${opt.name}.vm")
									#end
								</ul>
								<div style="clear:both;"></div>
							</div>
						</fieldset>
					</fieldset>
				</div>
			#end
			<div style="clear:both;"></div>
			$formbuttons
			<div style="clear:both;"></div>
		</div>
	</div>
</form>