#set($baseClass="ui-button ui-widget ui-state-default mItem")
#set($quickaction_BaseClass="ui-button ui-widget ui-state-active")




#set($user="JeremyBass")
<div id="adminNav">

<ul class="menu Cancel"><li class="nosub"><a class="open " href="#"><b>Cancel</b></a></li></ul>
<ul class="menu Apply"><li class="nosub"><a class="open " href="#"><b>Apply</b></a></li></ul>
<ul class="menu Submit"><li class="nosub"><a class="open " href="#"><b>Submit</b></a></li></ul>


	<ul class="menu posLeft">
		<li class="nosub"><a class="open" href="../central/" target="_blank"><b>Central</b></a></li>
	</ul>
	#if($Controller.getUser().name==$user)<ul class="menu">
		<li class="nosub"><a class="open" href="../view/list.castle"><b>Map views</b></a></li>
	</ul>#end
	<ul class="menu">
		<li class="liTop"><a class="open #if($controller.getView()=='place')active#end" href="../place/list.castle"><b>Places</b></a>
			<ul class="drop">
				<li><a href="../place/new.castle">New Place</a></li>
				#*
				<li><a href="../place/list.castle#_Types">Types</a></li>
				<li><a href="../place/list.castle#_Fields">Fields</a></li>
				*#
			</ul>
		</li>
		<li class="close"><a href="#"></a></li>
	</ul>
	<ul class="menu">
		<li class="liTop"><a class="open #if($controller.getView()=='geometrics')active#end" href="../geometrics/list.castle"><b>Geometrics</b></a>
			<ul class="drop">
				<li><a href="../geometrics/new.castle">New Shape</a></li>
				#*
				<li><a href="../geometrics/list.castle#_Types">Types</a></li>
				<li><a href="../geometrics/list.castle#_Styles">Styles</a></li>
				<li><a href="../geometrics/list.castle#_Fields">Fields</a></li>
				*#
			</ul>
		</li>
		<li class="close"><a href="#"></a></li>
	</ul>
	#if($Controller.getUser().name==$user)
	<ul class="menu">
		<li class="liTop"><a class="open #if($controller.getView()=='media')active#end" href="../media/index.castle"><b>Media</b></a>
			<ul class="drop">
				<li><a href="geometrics/new.castle">New Media</a></li>
				<li><a href="#url">User Media</a></li>
				<li><a href="../advertisement/list.castle">Advertising</a></li>
			</ul>
		</li>
		<li class="close"><a href="#"></a></li>
	</ul>
	#end
	<ul class="menu"><li class="nosub"><a class="open #if($controller.getView()=='comment')active#end" href="../comment/index.castle"><b>Comments</b></a></li></ul>
	<ul class="menu">
		<li class="liTop"><a class="open #if($controller.getView()=='tags')active#end" href="../tags/index.castle"><b>Tags</b></a>
			<ul class="drop">
				<li><a href="../tags/new.castle">New Tag</a></li>
				<li><a href="../tags/index.castle#usertag">User Tags</a></li>
			</ul>
		</li>
		<li class="close"><a href="#"></a></li>
	</ul>	
	<ul class="menu">
		<li class="liTop"><a class="open #if($controller.getView()=='authors')active#end" href="../authors/list.castle"><b>Authorized Users</b></a>
			<ul class="drop">
				<li><a href="geometrics/new.castle">New User</a></li>
				<li><a href="../accesslevel/list.castle">Access Levels</a></li>
				<li><a href="../authors/edit.castle?id=$controller.getUser().id">Your Profile</a></li>
				#if($Controller.getUser().name==$user)<li><a href="../authors/edit.castle?id=$controller.getUser().id">Your Settings</a></li>#end
			</ul>
		</li>
		<li class="close"><a href="#"></a></li>
	</ul>	
	#if($Controller.getUser().name==$user)
		<ul class="menu"><li class="nosub"><a class="open #if($controller.getView()=='comment')ui-state-active#end" href="../comment/list.castle"><b>Site Prefences</b></a></li></ul>
	#end	
	<ul class="menu"><li class="nosub"><a class="open" href="../place/logout.castle"><b>Logout</b></a></li></ul>
	

	
	
</div>