<input type="text" value="$!{val}" name="${event.name}.${opt}"  rel="${opt}"/><span class="${opt} opacity"></span>
<input type="hidden"  value="1" name="${opt}.defaults" class="defaults"  rel="${opt}"/>

	