  <form action="$siteroot/public/submitComment.castle" method="post" id="mainForm" onsubmit="return MySubmitForm();">
    $Form.HiddenField("comment.Id")
    <input type="hidden" name="comment.Story.Id" value ="$!{story.Id}"/>
    <div class="" style="clear:both">
      <h3>Leave the comment here:</h3>
      <p style="display:inline-block;float:left;margin-left: 1px;margin-top: 0;">
        Name*:<br/>
        <input type="text" value="" name="comment.commentorName" id="comment_commentorName" style="width:150px;"/>
      </p>

      <p style="display:inline-block;float:left;margin-left:5px;margin-top: 0;">
        Email:<br/>
        <input type="text" value="" name="comment.Email" id="comment_Email" style="width:225px;"/>
      </p>

    </div>
    #*$Form.TextArea("comment.comments")*#
    <textarea id="comment_comments_home" name="comment.comments" ></textarea>
    <br/>
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '328081143913416',
            status     : true, 
            cookie     : true,
            xfbml      : true,
            oauth      : true,
          });
          FB.api('/me', function(response) {
			  //alert('Your name is ' + response.name);
			});
			FB.Event.subscribe('auth.authResponseChange', function(response) {
			 // alert('The status of the session is: ' + response.status);
			  
			  
if (response.status === 'connected' && response.authResponse) {
					// logged in and connected user, someone you know
					//alert('thank you for loggin in');
					var uid = response.authResponse.userID;
					var accessToken = response.authResponse.accessToken;
					var img = 'http://graph.facebook.com/' + uid+ '/picture';
					
					var fburl = "http://graph.facebook.com/"+uid+"?callback=?"     
					jQuery.getJSON(fburl, function(data){ 
						 var name = data["name"]; 
						 //$("#profile").append("<h3>"+name+"</h3>");  
					 
						$('#login_op_area').html('<input type="hidden" value="'+uid+'" name="uid" id="fb_uid" />'+
													'<input type="hidden" value="'+accessToken+'" name="accessToken" />'+
													'<div id="image">'+
														'<img src="'+img+'"/>'+
														'<h2>'+name+', you are able post comments.</h2>'+
													'</div>');
						$('#comment_commentorName').val(name);
					});			
				} else if (response.status === 'not_authorized') {
					// the user is logged in to Facebook, 
					// but has not authenticated your app
				} else {
					// no user session available, someone you dont know
				}
			  
			});

        };
        (function(d){
           var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
           js = d.createElement('script'); js.id = id; js.async = true;
           js.src = "//connect.facebook.net/en_US/all.js";
           d.getElementsByTagName('head')[0].appendChild(js);
         }(document));

		$('document').ready(function(){
			FB.getLoginStatus(function(response) {
				if (response.status === 'connected' && response.authResponse) {
					// logged in and connected user, someone you know
					//alert('thank you for loggin in');
					var uid = response.authResponse.userID;
					var accessToken = response.authResponse.accessToken;
					var img = 'http://graph.facebook.com/' + uid+ '/picture';
					
					var fburl = "http://graph.facebook.com/"+uid+"?callback=?"     
					jQuery.getJSON(fburl, function(data){ 
						 var name = data["name"]; 
						 //$("#profile").append("<h3>"+name+"</h3>");  
					 
						$('#login_op_area').html('<input type="hidden" value="'+uid+'" name="uid" id="fb_uid" />'+
													'<input type="hidden" value="'+accessToken+'" name="accessToken" />'+
													'<div id="image">'+
														'<img src="'+img+'"/>'+
														'<h2>'+name+', you are able post comments.</h2>'+
													'</div>');
						$('#comment_commentorName').val(name);
					});			
				} else if (response.status === 'not_authorized') {
					// the user is logged in to Facebook, 
					// but has not authenticated your app
				} else {
					// no user session available, someone you dont know
				}
			});
		});

      </script>
	<div id="login_op_area" style="text-alain:center;"><br/>
		<div class="fb-login-button" scope="email,user_checkins">Login with Facebook</div>
		<img src="$siteroot/content/images/or.gif" alt=""/>
		<script type="text/javascript" src="http://challenge.asirra.com/js/AsirraClientSide.js"></script>
		<div style="width: 392px;">
			<h3>You must click all the cats to submit</h3>
			<h6>Hover over the images in the box, and when you see a cat click it to select the cat.  
			Click the refresh button at the side if you are unsure if it's a cat or dog.</h6>
		</div>
    </div>
    <input type="submit" value="Submit" />
  </form>