<br/>
<form action="_update_accesslevel.castle" method="post">
	$Form.HiddenField("accesslevel.id")
	
	<h3>Create a Group</h3>
	<h6><em>These are used to group users to give access to parts of the system, run reports, and anything that would be needed to controll actions for a few users.</em></h6>
	<h4>Name:</h4>
	$Form.TextField("accesslevel.name") 
	<h6>(<em><strong>NOTE:</strong>This is the friendly name.</em>)</h6>
	<hr style="max-width:66%;display: inline-block;width:100%;"/>
	<h4>Alias:</h4>
	$Form.TextField("accesslevel.alias") 
	<h6>(<em><strong>NOTE:</strong>This is the Alias name that is used by the system.</em>)</h6>
    <hr style="max-width:66%;display: inline-block;width:100%;"/>
    <h4>Admin account:</h4>
    <input type="checkbox" class="checkable" name="accesslevel.isAdmin" value="True" #if($accesslevel.isAdmin)checked="checked"#end />

    <h4>Allow users to add them self to the group:</h4>
    <input type="checkbox" class="checkable" name="accesslevel.allow_signup" value="True" #if($accesslevel.allow_signup)checked="checked"#end />    

	
    <h4>Add as a sub group to:</h4>
    <select id="accesslevel.parent" name="accesslevel.parent"  class="" style="width:205px;">
    	<option class="model" value="" #if(!$accesslevel.parent.id < 1) selected="selected" #end >None (Top level)</option>
        #foreach($group in $accesslevels)
            <option value="$group.id" #if($accesslevel.parent.id == $group.id)) selected="selected" #end >$group.name</option>
        #end
    </select>
    
    
    
	
	<div id="tabs" class="placelist  ui-tabs ui-widget ui-widget-content ui-corner-all">
	<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
		<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active"><a href="#props">Properties</a></li>
		<li class="ui-state-default ui-corner-top" ><a href="#users">Users</a></li>
	</ul>

	<div id="props">
			<fieldset style="max-width:66%;">
				<fieldset><legend>WSU Properties</legend>
					<div class="col2"  style="display:inline-block; float:left;margin-right:13px;"><em style="float:right;">All <input type="checkbox" class="all" #if($accesslevel.campus.count==$campuses.count)checked="checked"#end value="all"/></em>
						<label for="accesslevel.campus" style="font-size:13px;"><strong>Campus</strong></label><br/>
						<select id="accesslevel.campus" name="accesslevel.campus[]"  class="" multiple="multiple" size="9" style="width:205px;">
							#foreach($campus in $campuses)
								<option class="model" value="$campus.id" #if($accesslevel.campus.Contains($campus)) selected="selected" #end >$!campus.name</option>
							#end
						</select>
					</div>
					<div class="col2"  style="display:inline-block; float:left;margin-right:13px;"><em style="float:right;">All <input type="checkbox" class="all" #if($accesslevel.colleges.count==$colleges.count)checked="checked"#end value="all"/></em>
						<label for="accesslevel.colleges" style="font-size:13px;"><strong>College</strong></label><br/>
						<select id="accesslevel.colleges" name="accesslevel.colleges[]"  class="" multiple="multiple" size="9" style="width:205px;">
							#foreach($college in $colleges)
								<option class="model" value="$college.id" #if($accesslevel.colleges.Contains($college)) selected="selected" #end >$!college.name</option>
							#end
						</select>
					</div>
					<div class="col2" style="display:inline-block; float:left;margin-right:13px;"><em style="float:right;">All <input type="checkbox" class="all" #if($accesslevel.schools.count==$schools.count)checked="checked"#end value="all"/></em>
						<label for="accesslevel.schools" style="font-size:13px;"><strong>School</strong></label><br/>
						<select id="accesslevel.schools" name="accesslevel.schools[]"  class="" multiple="multiple" size="9" style="width:205px;">
							#foreach($school in $schools)
								<option class="model" value="$school.id" #if($accesslevel.schools.Contains($school)) selected="selected" #end >$!school.name</option>
							#end
						</select>
					</div>
								
					<div  style="display:inline-block; float:left;margin-right:13px;"><em style="float:right;">All <input type="checkbox" class="all" #if($accesslevel.programs.count==$programs.count)checked="checked"#end value="all"/></em>
						<label for="accesslevel.programs" style="font-size:13px;"><strong>Programs</strong></label><br/>
						<select id="accesslevel.programs" name="accesslevel.programs[]"  class="" multiple="multiple" size="9" style="width:205px;">
							#foreach($program in $programs)
								<option class="model" value="$program.id" #if($accesslevel.programs.Contains($program)) selected="selected" #end >$!program.name</option>
							#end
						</select>
					</div>
					
					
					
					
					#*<div  style="display:inline-block; float:left;margin-right:13px;">
						<label for="accesslevel.department" style="font-size:13px;"><strong>Academic Departments</strong></label><br/>
						<select id="accesslevel.department" name="accesslevel.department[]"  class="" multiple="multiple" size="9" style="width:205px;">
							#foreach($department in $departments)
								<option class="model" value="$department.id" #if($accesslevel.department.Contains($department)) selected="selected" #end >$!department.name</option>
							#end
						</select>
					</div>
					<div  style="display:inline-block; float:left;margin-right:9px;">
						<label for="accesslevel.admindepartment" style="font-size:13px;"><strong>Administrative Departments</strong></label><br/>
						<select id="accesslevel.admindepartment" name="accesslevel.admindepartment[]"  class="" multiple="multiple" size="9" style="width:205px;">
							#foreach($admindepartment in $admindepartments)
								<option class="model" value="$admindepartment.id" #if($accesslevel.admindepartment.Contains($admindepartment)) selected="selected" #end >$!admindepartment.name</option>
							#end
						</select>
					</div>*#	
				</fieldset>	
				
			<fieldset><legend>WSU Categories</legend>
				<div  style="display:inline-block; float:left;margin-right:9px;"><em style="float:right;">All <input type="checkbox" class="all" #if($accesslevel.categories.count==$categories.count)checked="checked"#end value="all"/></em>
					<label for="LocationModelSelect" style="font-size:13px;"><strong>Categories:</strong></label><br/>
					<select id="LocationModelSelect" name="accesslevel.categories[]"  class="" multiple="multiple" size="9" style="width:205px;">
						#foreach($cat in $categories)
							<option class="model" value="$cat.id" #if($accesslevel.categories.Contains($cat)) selected="selected" #end > $Controller.repeatStr("- ",$cat.level) $!cat.name</option>
						#end
					</select>
				</div>  
			</fieldset>	
			#if($privileges.count>0)
				<hr style="display: inline-block;width:100%;"/>
				<h4>Privileges:</h4>
				<table width="100%" class="ui-widget ui-widget-content">
				  <thead>
					<tr class="ui-widget-header ">
						<th style="width:50px;" align="center"><input type="checkbox" onClick="$('.checkable').attr('checked', $(this).attr('checked')?true:false )" /></th>
						<th>Name</th>
					</tr>
				  </thead>
				  <tbody>
					#set ($c=0)
					#foreach($privilege in $privileges)
					<tr #if($c%2>0) class="even" #else class="odd" #end>
					<td align="center"><input type="checkbox" class="checkable" name="accesslevel.privileges[]" value="$privilege.id" #if($accesslevel.privileges.contains($privilege))checked="checked"#end /></td>
					<td align="left">$!privilege.name</td>
					</tr>
					#set ($c=$c+1)
					#end
				  </tbody>
				</table>
			#end
		</fieldset>	
	</div>
	<div id="users">
			<table width="100%" class="ui-widget ui-widget-content">
			  <thead>
				<tr class="ui-widget-header ">
					<th>Name</th>
					<th>&nbsp;</th>
				</tr>
			  </thead>
			  <tbody>
				#set ($c=0)
				#foreach($user in $accesslevel.users)
				<tr #if($c%2>0) class="even" #else class="odd" #end>
					<td align="left">$!user.name</td>
				  <td class='actionArea'>
			
					<span style='font-size:0.7em;'>
					  <a href="/authors/edit.castle?id=$!{user.id}" title="Edit" class="buttons ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
						<span class="ui-icon ui-icon-pencil"></span>
					  </a>
					</span>
				  </td>
				</tr>
				#set ($c=$c+1)
				#end
			  </tbody>
			</table>
	</div>
	<p><input type="submit" value="Submit" /></p>
</form>
