@import 'vars/global';
@import 'vars/colors';

//urls
$url_0: url('//repo.wsu.edu/spine/develop/marks/wsu-signature-vertical.svg');
$url_1: url('//beta.maps.wsu.edu/Content/images/assests_central/placeSerachBar.png');
$url_2: url('//beta.maps.wsu.edu/Content/images/assests_central/placeSerachBar_magGlass.png');
$url_3: url('//beta.maps.wsu.edu/Content/images/embed_code_braket.png');
$url_4: url('//beta.maps.wsu.edu/Content/wsu_ui/images/ui-bg_highlight-hard_100_eeeeee_1x100.png');
$url_5: url('//beta.maps.wsu.edu/Content/images/map_icons/svg_marker.svg');


img{
	max-width: inherit !important;
	height: auto;
}
.clear {
	clear: both;
}

a {
	font-size: 12px;
	font-weight: normal;
	border: medium none;
	box-shadow:none;
	color: $color_WSU_Crimson;
	&:hover {
		color: $color_WSU_Gray;
	}
}
p{
	padding: 0;
	line-height:12px;
}

#wsu-signature {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 150px auto;
	background-color: transparent;
	height: 155px;
	display: block;
	text-indent: 120%;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	z-index: 99;
	background-image: $url_0;
}
#centralmap_wrap {
	background-color: transparent;
	display: block;
	height: auto;
	margin-left: 201px;
	max-height: 100%;
	min-height: 350px;
	position: relative;
}
#campusmap {
	overflow: hidden;
	.ui-tabs .ui-tabs-panel .content.Views {
		overflow: hidden;
	}
}
#centralmap {
	width: 100%;
	min-height: 350px;
	height: auto;
	max-height: 100%;
	box-shadow: inset 0px 0px 125px -6px rgba(255,255,255,1) !important;
	&.opended {
		//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
		border-radius: 0 0 0 0;
	}
}
.embeded {
	#centralmap_wrap {
		margin-left: 0;
		height: 100%;
	}
	#centralmap {
		margin-left: 0;
		height: 100%;
	}
}
#globalnav {
	width: auto;
	float: none;
	background: none repeat scroll 0 0 $color_WSU_Crimson;
}

#localfooter {
	font-size: 10px;
	color: $color_shark_approx;
	height: 25px;
	text-align: center;
	padding-top: 5px;
	#wsufooter {
		background: none repeat scroll 0 0 transparent;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		width: auto;
		height: auto;
	}
}
#main {
	padding: 0;
	width: 100%;
	position: relative;
}




#getDirections {
	margin-top: 5px;
	input::-webkit-input-placeholder {
		color: $color_WSU_Gray !important;
	}
	input:-moz-placeholder {
		color: $color_WSU_Gray !important;
	}
}
#directionsTo {
	margin-top: 5px;
	input {
		color: $color_WSU_Gray;
		background: $url_1 no-repeat scroll left 1px transparent;
		height: 22px;
		border: medium none;
		margin-top: 5px;
		padding: 0 15px 0 5px;
		width: 127px;
	}
}
#directionsFrom input {
	color: $color_WSU_Gray;
	background: $url_1 no-repeat scroll left 1px transparent;
	height: 22px;
	border: medium none;
	padding: 0 15px 0 5px;
	width: 127px;
} 
.ie {
	.mapControl {
		//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 0 8px 1px $color_mountain_mist_5_approx;
		behavior: $url_2;
	}
	#directionsFrom input {
		left: 0;
		padding-top: 3px;
	}
	#directionsTo input {
		left: 0;
		padding-top: 3px;
	}
}
#printPdfs {
	h2 {
		text-align: center;
		margin: 0 0 15px;
	}
	div {
		float: left;
		text-align: center;
		padding-right: 20px;
		&.last {
			padding: 0;
		}
	}
	h3 {
		text-align: center;
		a {
			color: $color_WSU_Crimson;
			font-size: 18px;
			text-decoration: none;
			&:hover {
				color: $color_la_rioja_approx;
				span {
					background-position: left bottom;
				}
			}
			span {
				width: 170px;
				height: 125px;
				display: block;
			}
		}
	}
}
.contextmenu {
	visibility: hidden;
	background: $white;
	border: 1px solid $color_portage_approx;
	z-index: 10;
	font-size: 12px;
	position: relative;
	width: 150px;
	div {
		padding-left: 5px;
	}
	#to {
	}
	#from {
	}
	a {
		display: block;
		cursor: pointer;
		color: $color_WSU_Gray;
		border: 1px solid $color_celeste_approx;
		&:hover {
			color: $color_sapphire_approx;
			border: 1px solid $color_WSU_Gray;
		}
		&.active {
			display: none;
		}
	}
}

#loading{
	position:absolute;
	top:50%;
	left:50%;
	width:35px;
	height:35px;
	animation: spin 4s infinite linear;
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
.inlineIcon {
	display: inline-block !important;
	float: left;
	margin: 2px 5px 0 -5px;
}

#output {
	height: 18px;
	margin: 6px 6px 11px;
	a {
		color: $color_WSU_Gray;
		display: inline-block;
		font-size: 11px;
		height: 12px;
		line-height: 12px;
		margin-right: 9px;
		text-align: left;
		text-decoration: none;
		&:hover {
			color: $color_WSU_Crimson;
			background-color: $color_bon_jour_approx;
		}
	}
}
#embedArea {
	padding: 0 0 0 15px;
	h2 {
		margin: 0;
		font-size: 16px;
	}
	h3 {
		color: $color_WSU_Crimson;
		font-weight: normal;
		font-size: 13px;
		margin: 0;
	}
	textarea {
		border: medium none;
		color: $color_old_rose_approx;
		float: left;
		font-size: 11px;
		height: 140px;
		margin-left: 7px;
		resize: none;
		width: 195px;
		background-color: transparent;
		overflow: hidden;
	}
	#custom {
		float: left;
		background: $url_3 no-repeat scroll right top transparent;
		padding-right: 13px;
		width: 180px;
		min-height: 155px;
	}
	label {
		display: block;
		font-size: 11px;
		height: 18px;
		line-height: 18px;
	}
}
#linkurl {
	color: $color_shiraz_approx;
}
#cSize {
	border-top: 1px solid $color_silver_sand_approx;
	font-size: 12px;
	margin-top: 7px;
	padding-top: 7px;
}
#request {
	font-size: 13px;
}
.my_clip_button {
	border: 1px solid $color_chicago_approx;
	cursor: pointer;
	font-size: 11px;
	line-height: 13px;
	height: 13px;
	margin: 10px 0;
	padding: 2px;
	text-align: center;
	width: 55px;
	display: inline-block;
	background: $url_4 repeat-x scroll 50% 50% $color_cape_cod_approx;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 15px;
	color: $color_shark_approx;
	&.hover {
		background-color: $color_gallery_approx;
	}
	&.active {
		background-color: $color_silver_chalice_approx;
	}
}
#emailRequest {
	padding: 0 0 0 15px;
}
#errorReporting {
	h2 {
		margin: 0;
		font-size: 16px;
	}
	h3 {
		color: $color_WSU_Crimson;
		font-weight: normal;
		font-size: 13px;
		margin: 0;
	}
	textarea {
		width: 100%;
		height: 101px;
	}
}

[src*="placeholder.png"] {
	background: transparent $url_5 center center no-repeat;
	background-size: contain;
	background-repeat: none;
	width: 30px;
	height: 50px;
}
.svg_clip {
	clip: polygon(51% 0, 31% 6%, 20% 24%, 21% 48%, 48% 100%, 78% 49%, 79% 22%, 71% 6%);
	//vendor-prefix found
	//-webkit-clip-path: polygon(51% 0, 31% 6%, 20% 24%, 21% 48%, 48% 100%, 78% 49%, 79% 22%, 71% 6%)
	clip-path: polygon(51% 0, 31% 6%, 20% 24%, 21% 48%, 48% 100%, 78% 49%, 79% 22%, 71% 6%);
	overflow: hidden;
}
.marker-number {
	color: $blue;
}
#wrapper #toolbar {
	width: 100%;
	float: none;
}
.central #content {
	min-width: 1026px;
	position: relative;
	z-index: 1;
	display: inline-block;
	float: left;
}
.ie #placeSearch input[type=text] {
	left: 0;
	padding-top: 3px;
}
.buttons .ui-icon {
	display: block !important;
}
.hoverbox img[src*="close.gif"] {
	display: none;
} 