@import 'vars/global';
@import 'vars/colors';

//urls
$url_0: url('//repo.wsu.edu/spine/develop/marks/wsu-signature-vertical.svg');
$url_1: url('/Content/images/assests_central/placeSerachBar.png');
$url_2: url('/Content/images/assests_central/placeSerachBar_magGlass.png');
$url_3: url('/Content/images/embed_code_braket.png');
$url_4: url('/Content/wsu_ui/images/ui-bg_highlight-hard_100_eeeeee_1x100.png');
$url_5: url('/Content/images/map_icons/svg_marker.svg');

//@extend-elements
//original selectors
//html, body
%extend_1 {
	height: 100%;
	margin: 0 !important;
	font-family: $font_primary, $font_secondary, $font_tertiary;
	font-weight: 400;
	background-color: $white;
	color: $color_charade_approx;
}


html {
	@extend %extend_1;
}
body {
	@extend %extend_1;
}
#body {
	width: 100%;
	height: 100%;
}
.clear {
	clear: both;
}
#wsu-signature {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 150px auto;
	background-color: transparent;
	height: 155px;
	display: block;
	text-indent: 120%;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	z-index: 99;
	background-image: $url_0;
}
#centralMap_wrap {
	background-color: transparent;
	display: block;
	height: auto;
	margin-left: 201px;
	max-height: 100%;
	min-height: 350px;
	position: relative;
}
#campusmap {
	overflow: hidden;
	.ui-tabs .ui-tabs-panel .content.Views {
		overflow: hidden;
	}
}
#centralMap {
	width: 100%;
	min-height: 350px;
	height: auto;
	max-height: 100%;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 0 0 0 20px;
	&.opended {
		//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
		border-radius: 0 0 0 0;
	}
}
.embeded {
	#centralMap_wrap {
		margin-left: 0;
		height: 100%;
	}
	#centralMap {
		margin-left: 0;
		height: 100%;
	}
}
#globalnav {
	width: auto;
	float: none;
	background: none repeat scroll 0 0 $color_WSU_Crimson;
}
#toolbar {
	ul {
		float: right;
		padding: 0;
		margin: -1px 15px 0 0;
		height: 20px;
		li {
			display: block;
			float: left;
			line-height: 15px;
			padding: 0 0 0 21px;
		}
	}
	a {
		color: $color_iron_approx;
		font-size: 11px;
		text-decoration: none;
		line-height: 20px;
		&:hover {
			color: $white !important;
		}
	}
	.addthis_button_compact span {
		height: 0;
		width: 0;
	}
}
#header_bar {
	border-top: 4px solid $color_WSU_Crimson;
	height: 39px;
	margin-left: 198px;
	position: relative;
	h1 {
		width: auto;
		font-size: 24px !important;
		display: inline-block;
		margin: 5px 0;
		color: $color_chicago_approx;
	}
}
#localfooter {
	font-size: 10px;
	color: $color_shark_approx;
	height: 25px;
	text-align: center;
	padding-top: 5px;
	#wsufooter {
		background: none repeat scroll 0 0 transparent;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
		width: auto;
		height: auto;
	}
}
#main {
	padding: 0;
	width: 100%;
	position: relative;
}
#placeSearch {
	height: 23px;
	position: relative;
	width: 147px;
	background: $url_1 no-repeat scroll left top transparent;
	&:focus {
		background-position: left bottom;
	}
	input[type=text] {
		background: $url_2 no-repeat scroll 95% center transparent;
		border: medium none;
		color: $color_sapphire_approx;
		font-size: 12px;
		height: 23px;
		padding: 0;
		position: absolute;
		top: 0;
		width: 116px;
		left: 0;
		padding-left: 5px;
		padding-right: 25px;
	}
	.submit {
		background: none repeat scroll 0 0 transparent;
		border: medium none;
		cursor: pointer;
		font-size: 0;
		height: 22px;
		padding: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 22px;
	}
	input:focus {
	}
}
#wsu_ui {
	.ui-tabs {
		.ui-tabs-nav {
			margin: 0 !important;
			padding: 0.2em 0.2em 0 !important;
			li {
				margin: 0 0.2em 1px 0 !important;
				padding: 0 !important;
			}
		}
		.ui-tabs-hide {
			position: absolute;
			left: -10000px;
			top: -10000px;
			display: block !important;
		}
	}
	#main_nav .ui-button {
		text-align: left;
		padding: 0 15px;
	}
	.ui-widget input[type=submit] {
		padding: 4px 7px !important;
	}
	input[type=submit].ui-widget {
		padding: 4px 7px !important;
	}
}
.inlineIcon {
	display: inline-block !important;
	float: left;
	margin: 2px 5px 0 -5px;
}
#option {
	display: block;
	height: 31px;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: -1px;
	li {
		line-height: 27px;
		background-color: $color_bon_jour_approx;
		cursor: pointer;
		display: inline-block;
		font-size: 12px;
		margin: 0;
		padding: 3px 0 0 0 !important;
		text-align: center;
		width: 49%;
		border-bottom: 1px solid $color_pink_swan_approx;
		min-height: 27px !important;
		&:hover {
			color: $black!important;
		}
		&.active {
			border-left: 1px $color_pink_swan_approx solid;
			border-bottom: none;
			//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
			border-radius: 10px 0 0 0;
			color: $color_WSU_Gray;
			//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
			box-shadow: -3px 0 20px -5px $color_rangoon_green_25_approx;
			min-height: 29px !important;
			background-color: $color_gallery_approx;
		}
	}
	li.DIVIT.active {
		border-left: none;
		border-right: 1px $color_pink_swan_approx solid;
		//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
		border-radius: 0 10px 0 0;
		//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 3px 0 20px -5px $color_rangoon_green_25_approx;
	}
}
#output {
	height: 18px;
	margin: 6px 6px 11px;
	a {
		color: $color_WSU_Gray;
		display: inline-block;
		font-size: 11px;
		height: 12px;
		line-height: 12px;
		margin-right: 9px;
		text-align: left;
		text-decoration: none;
		&:hover {
			color: $color_WSU_Crimson;
			background-color: $color_bon_jour_approx;
		}
	}
}
#embedArea {
	padding: 0 0 0 15px;
	h2 {
		margin: 0;
		font-size: 16px;
	}
	h3 {
		color: $color_WSU_Crimson;
		font-weight: normal;
		font-size: 13px;
		margin: 0;
	}
	textarea {
		border: medium none;
		color: $color_old_rose_approx;
		float: left;
		font-size: 11px;
		height: 140px;
		margin-left: 7px;
		resize: none;
		width: 195px;
		background-color: transparent;
		overflow: hidden;
	}
	#custom {
		float: left;
		background: $url_3 no-repeat scroll right top transparent;
		padding-right: 13px;
		width: 180px;
		min-height: 155px;
	}
	label {
		display: block;
		font-size: 11px;
		height: 18px;
		line-height: 18px;
	}
}
#linkurl {
	color: $color_shiraz_approx;
}
#cSize {
	border-top: 1px solid $color_silver_sand_approx;
	font-size: 12px;
	margin-top: 7px;
	padding-top: 7px;
}
#request {
	font-size: 13px;
}
.my_clip_button {
	border: 1px solid $color_chicago_approx;
	cursor: pointer;
	font-size: 11px;
	line-height: 13px;
	height: 13px;
	margin: 10px 0;
	padding: 2px;
	text-align: center;
	width: 55px;
	display: inline-block;
	background: $url_4 repeat-x scroll 50% 50% $color_cape_cod_approx;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 15px;
	color: $color_shark_approx;
	&.hover {
		background-color: $color_gallery_approx;
	}
	&.active {
		background-color: $color_silver_chalice_approx;
	}
}
#emailRequest {
	padding: 0 0 0 15px;
}
#errorReporting {
	h2 {
		margin: 0;
		font-size: 16px;
	}
	h3 {
		color: $color_WSU_Crimson;
		font-weight: normal;
		font-size: 13px;
		margin: 0;
	}
	textarea {
		width: 100%;
		height: 101px;
	}
}
#emailDirs {
	h3 {
		color: $color_WSU_Crimson;
		font-weight: normal;
		font-size: 13px;
		margin: 0;
	}
	h2 {
		margin: 0;
		font-size: 16px;
	}
	h4 {
		color: $color_shark_approx;
		font-weight: normal;
		font-size: 12px;
		margin: 0;
	}
	textarea {
		width: 100%;
		height: 101px;
	}
}
[src*="placeholder.png"] {
	background: transparent $url_5 center center no-repeat;
	background-size: contain;
	background-repeat: none;
	width: 30px;
	height: 50px;
}
.svg_clip {
	clip: polygon(51% 0, 31% 6%, 20% 24%, 21% 48%, 48% 100%, 78% 49%, 79% 22%, 71% 6%);
	//vendor-prefix found
	//-webkit-clip-path: polygon(51% 0, 31% 6%, 20% 24%, 21% 48%, 48% 100%, 78% 49%, 79% 22%, 71% 6%)
	clip-path: polygon(51% 0, 31% 6%, 20% 24%, 21% 48%, 48% 100%, 78% 49%, 79% 22%, 71% 6%);
	overflow: hidden;
}
.marker-number {
	color: $blue;
}
#wrapper #toolbar {
	width: 100%;
	float: none;
}
.central #content {
	min-width: 1026px;
	position: relative;
	z-index: 1;
	display: inline-block;
	float: left;
}
.ie #placeSearch input[type=text] {
	left: 0;
	padding-top: 3px;
}
.buttons .ui-icon {
	display: block !important;
}
.hoverbox img[src*="close.gif"] {
	display: none;
} 