@charset "UTF-8";

@import 'wsu_maps.reset';
@import 'wsu_maps.central.global';
$fontURL: "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0";
@import "#{$fontURL}/css/font-awesome.min.css";

@font-face{
	font-family:'FontAwesome';
	src:url('#{$fontURL}/fonts/fontawesome-webfont.eot?v=4.3.0');
	src:url('#{$fontURL}/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),
		url('#{$fontURL}/fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),
		url('#{$fontURL}/fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),
		url('#{$fontURL}/fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),
		url('#{$fontURL}/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
	font-weight:normal;
	font-style:normal
}
#campusmap{ //the NS should be a var.. 
	&{
		@import 'central_main';
		//@import 'map_admin';
		@import 'wsu_maps.infobox';
		@import 'wsu_maps.central.nav';
		@import 'wsu_maps.search';
		@import 'wsu_maps.listings';
		@import 'wsu_maps.google_map_overriders';
		
	}
}
//.full_screen_iw{ display:none; }
@import 'wsu_maps.modals';
