@charset "UTF-8";
#hide{
	position:absolute;
	top:-999em;
	left:-999em;
	overflow:auto;
	height:0px;
	width:0px;
}
$fontURL: "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0";
@import url("#{$fontURL}/css/font-awesome.min.css");

@font-face{
	font-family:'FontAwesome';
	src:url('#{$fontURL}/fonts/fontawesome-webfont.eot?v=4.3.0');
	src:url('#{$fontURL}/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),
		url('#{$fontURL}/fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),
		url('#{$fontURL}/fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),
		url('#{$fontURL}/fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),
		url('#{$fontURL}/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
	font-weight:normal;
	font-style:normal
}


.WSU_MAPS_NS{ //the NS should be a var.. 
	-webkit-transform: translateZ(0px);	
	div{
		-webkit-transform: translateZ(0px);	
	}
	&{
		@import 'wsu_maps.embed_reset';
		@import 'central_main';
		@import 'map_admin';
		@import 'wsu_maps.infobox';
		@import 'wsu_maps.central.nav';
		@import 'wsu_maps.listings';
		@import 'wsu_maps.google_map_overriders';
	}
}

@import 'wsu_maps.modals';