@import 'vars/global';
@import 'vars/colors';



//urls
$url_0: url('/Content/images/ui-anim_basic_16x16.gif');
$url_1: url('/Content/images/assests_central/directions_input.png');
$url_2: url('/Content/PIE.htc');

#coords1 {
	padding: 5px;
	font-weight: bold;
}
#polygonstuff {
	position: absolute;
	top: 400px;
	left: 5px;
	width: 70px;
	height: 60px;
	background-color: $red;
	color: $white;
	visibility: hidden;
}
.choice {
	background-color: transparent;
	width: 100px;
	float: left;
}
.topbutton {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	float: left;
}
#googlead {
	margin: 0 auto;
	width: 800px;
	padding-top: 5px;
}
.clear {
	clear: both;
}
#polylineoptions {
	position: absolute;
	background-color: $white;
	top: 200px;
	left: 560px;
	width: 260px;
	height: 210px;
	border: 2px solid $color_steel_blue_approx;
	visibility: hidden;
}
#polygonoptions {
	position: absolute;
	background-color: $white;
	top: 200px;
	left: 560px;
	width: 260px;
	height: 255px;
	border: 2px solid $color_steel_blue_approx;
	visibility: hidden;
}
#rectang {
	position: absolute;
	background-color: $white;
	top: 200px;
	left: 560px;
	width: 260px;
	height: 260px;
	border: 2px solid $color_steel_blue_approx;
	visibility: hidden;
}
#circleoptions {
	position: absolute;
	background-color: $white;
	top: 200px;
	left: 560px;
	width: 260px;
	height: 260px;
	border: 2px solid $color_steel_blue_approx;
	visibility: hidden;
}
#markeroptions {
	width: 950px;
	height: 310px;
	background-color: $white;
	margin: 2px;
	padding: 8px;
	border: 1px solid $color_silver_chalice_approx;
	position: absolute;
	top: 45px;
	left: 10px;
	z-index: 99999;
	visibility: hidden;
}
#directionstyles {
	position: absolute;
	background-color: $white;
	top: 200px;
	left: 560px;
	width: 260px;
	height: 210px;
	border: 2px solid $color_steel_blue_approx;
	visibility: hidden;
}
#iconimages {
	width: 430px;
	height: 300px;
	background-color: $white;
	margin: 2px;
	padding: 8px;
	float: left;
}
#stylestext {
	width: 485px;
	height: 280px;
	background-color: $white;
	margin: 0 0 2px 2px;
	padding: 5px;
	float: left;
}
#toppers {
	width: 405px;
	height: 300px;
	background-color: $white;
	margin: 2px;
	padding: 8px;
	position: absolute;
	top: 165px;
	left: 90px;
	z-index: 99999;
	visibility: hidden;
}
.styletitle {
	margin-left: 5px;
	padding: 0 3px 0 5px;
	font-weight: bold;
	background-color: $periwinkle;
}
.closebutton {
	border: 1px solid $black;
	padding: 1px 4px;
	margin: 1px 3px 1px 0;
	color: $white;
	background-color: $color_steel_blue_approx;
}
.label {
	float: left;
	text-align: right;
	margin-right: 5px;
	width: 80px;
	padding-top: 5px;
}
.input {
	float: left;
	padding-left: 3px;
	width: 55px;
	margin: 3px 0 0 3px;
	border: 2px solid $color_celeste_approx;
}
.inputlong {
	float: left;
	padding-left: 3px;
	width: 75px;
	margin: 3px 0 0 3px;
	border: 2px solid $color_celeste_approx;
}
.oklink {
	margin-left: 25px;
	padding: 0 3px;
	background-color: $color_sulu_approx;
	text-decoration: none;
}
#campusmap {
	.ui-autocomplete-loading {
		background: $url_0 no-repeat scroll right center transparent !important;
	}
	.ui-autocomplete.ui-menu {
		max-height: 285px;
		overflow-y: auto;
		overflow-x: hidden;
		padding-left: 5px;
		padding-right: 20px;
		width: 120px;
		border: 1px solid $color_french_gray_approx;
		//vendor-prefix found
		//-webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.55)
		//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 5px 10px -5px $black_55;
		em {
			border-bottom: 1px solid $color_celeste_approx;
			color: $color_storm_dust_approx;
			display: block;
			font-size: 10.5px;
			font-weight: bold;
			margin-top: 5px;
		}
		.ui-menu-item a {
			font-size: 10.5px;
			color: $color_WSU_Gray;
			margin: 3px 0 2px;
			display: block;
			border: 1px transparent solid;
			&.ui-state-hover {
				font-size: 10.5px;
				color: $color_WSU_Crimson;
				margin: 3px 0 2px;
				display: block;
				border: 1px $color_celeste_approx solid;
			}
		}
	}
}
#getDirections {
	margin-top: 5px;
	input::-webkit-input-placeholder {
		color: $color_WSU_Gray !important;
	}
	input:-moz-placeholder {
		color: $color_WSU_Gray !important;
	}
}
#directionsTo {
	margin-top: 5px;
	input {
		color: $color_WSU_Gray;
		background: $url_1 no-repeat scroll left 1px transparent;
		height: 22px;
		border: medium none;
		margin-top: 5px;
		padding: 0 15px 0 5px;
		width: 127px;
	}
}
.ie {
	.mapControl {
		//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 0 8px 1px $color_mountain_mist_5_approx;
		behavior: $url_2;
	}
	#directionsFrom input {
		left: 0;
		padding-top: 3px;
	}
	#directionsTo input {
		left: 0;
		padding-top: 3px;
	}
}
#placeSearch {
	input::-webkit-input-placeholder {
		color: $color_sapphire_approx !important;
	}
	input:-moz-placeholder {
		color: $color_sapphire_approx !important;
	}
}
#printPdfs {
	h2 {
		text-align: center;
		margin: 0 0 15px;
	}
	div {
		float: left;
		text-align: center;
		padding-right: 20px;
		&.last {
			padding: 0;
		}
	}
	h3 {
		text-align: center;
		a {
			color: $color_WSU_Crimson;
			font-size: 18px;
			text-decoration: none;
			&:hover {
				color: $color_la_rioja_approx;
				span {
					background-position: left bottom;
				}
			}
			span {
				width: 170px;
				height: 125px;
				display: block;
			}
		}
	}
}
.contextmenu {
	visibility: hidden;
	background: $white;
	border: 1px solid $color_portage_approx;
	z-index: 10;
	font-size: 12px;
	position: relative;
	width: 150px;
	div {
		padding-left: 5px;
	}
	#to {
	}
	#from {
	}
	a {
		display: block;
		cursor: pointer;
		color: $color_WSU_Gray;
		border: 1px solid $color_celeste_approx;
		&:hover {
			color: $color_sapphire_approx;
			border: 1px solid $color_WSU_Gray;
		}
		&.active {
			display: none;
		}
	}
}
.mapControl {
	background-color: $white;
	margin-top: 4px;
	margin-right: 20px;
	width: 65px;
	cursor: pointer;
	text-align: center;
	//vendor-prefix found
	//-webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, .25)
	//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 0 8px 1px $black_25;
	&:hover {
		background-color: $color_WSU_Gray;
		color: $white;
	}
	&.TOP {
		margin-top: 20px;
	}
	&.TYPE {
		margin-top: 7px;
	}
	&.activeControl {
		background-color: $color_scooter_approx !important;
		color: $white !important;
	}
	.text {
		font: 12px/12px $font_primary, $font_secondary, $font_tertiary, $font_primary;
		padding-top: 3px;
		padding-bottom: 3px;
	}
}
.defaultSkin {
	tr {
		&.mceFirst .mceToolbar tr td {
			float: left;
		}
		&.mceLast .mceToolbar tr td {
			float: left;
		}
	}
	table.mceToolbar {
		float: left;
	}
}
[hideFocus="true"] {
	outline: none;
}
.gmap_arrow {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 75px 15px 0 15px;
	border-color: $white transparent transparent transparent;
	//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 5px 19px 0 $mine_shaft_75;
}
#morelinks td {
	padding-right: 10px;
}
* html .ui-autocomplete {
	height: 285px;
}
#directionsFrom input {
	color: $color_WSU_Gray;
	background: $url_1 no-repeat scroll left 1px transparent;
	height: 22px;
	border: medium none;
	padding: 0 15px 0 5px;
	width: 127px;
} 