@import 'vars/global';
@import 'vars/colors';



//urls
$url_0: url('/Content/images/ui-anim_basic_16x16.gif');
$url_1: url('/Content/images/assests_central/directions_input.png');
$url_2: url('/Content/PIE.htc');

#coords1 {
	padding: 5px;
	font-weight: bold;
}
#polygonstuff {
	position: absolute;
	top: 400px;
	left: 5px;
	width: 70px;
	height: 60px;
	background-color: $red;
	color: $white;
	visibility: hidden;
}
.choice {
	background-color: transparent;
	width: 100px;
	float: left;
}
.topbutton {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	float: left;
}
#googlead {
	margin: 0 auto;
	width: 800px;
	padding-top: 5px;
}
.clear {
	clear: both;
}
#polylineoptions {
	position: absolute;
	background-color: $white;
	top: 200px;
	left: 560px;
	width: 260px;
	height: 210px;
	border: 2px solid $color_steel_blue_approx;
	visibility: hidden;
}
#polygonoptions {
	position: absolute;
	background-color: $white;
	top: 200px;
	left: 560px;
	width: 260px;
	height: 255px;
	border: 2px solid $color_steel_blue_approx;
	visibility: hidden;
}
#rectang {
	position: absolute;
	background-color: $white;
	top: 200px;
	left: 560px;
	width: 260px;
	height: 260px;
	border: 2px solid $color_steel_blue_approx;
	visibility: hidden;
}
#circleoptions {
	position: absolute;
	background-color: $white;
	top: 200px;
	left: 560px;
	width: 260px;
	height: 260px;
	border: 2px solid $color_steel_blue_approx;
	visibility: hidden;
}
#markeroptions {
	width: 950px;
	height: 310px;
	background-color: $white;
	margin: 2px;
	padding: 8px;
	border: 1px solid $color_silver_chalice_approx;
	position: absolute;
	top: 45px;
	left: 10px;
	z-index: 99999;
	visibility: hidden;
}
#directionstyles {
	position: absolute;
	background-color: $white;
	top: 200px;
	left: 560px;
	width: 260px;
	height: 210px;
	border: 2px solid $color_steel_blue_approx;
	visibility: hidden;
}
#iconimages {
	width: 430px;
	height: 300px;
	background-color: $white;
	margin: 2px;
	padding: 8px;
	float: left;
}
#stylestext {
	width: 485px;
	height: 280px;
	background-color: $white;
	margin: 0 0 2px 2px;
	padding: 5px;
	float: left;
}
#toppers {
	width: 405px;
	height: 300px;
	background-color: $white;
	margin: 2px;
	padding: 8px;
	position: absolute;
	top: 165px;
	left: 90px;
	z-index: 99999;
	visibility: hidden;
}
.styletitle {
	margin-left: 5px;
	padding: 0 3px 0 5px;
	font-weight: bold;
	background-color: $periwinkle;
}
.closebutton {
	border: 1px solid $black;
	padding: 1px 4px;
	margin: 1px 3px 1px 0;
	color: $white;
	background-color: $color_steel_blue_approx;
}
.label {
	float: left;
	text-align: right;
	margin-right: 5px;
	width: 80px;
	padding-top: 5px;
}
.input {
	float: left;
	padding-left: 3px;
	width: 55px;
	margin: 3px 0 0 3px;
	border: 2px solid $color_celeste_approx;
}
.inputlong {
	float: left;
	padding-left: 3px;
	width: 75px;
	margin: 3px 0 0 3px;
	border: 2px solid $color_celeste_approx;
}
.oklink {
	margin-left: 25px;
	padding: 0 3px;
	background-color: $color_sulu_approx;
	text-decoration: none;
}

.mapControl {
	background-color: $white;
	margin-top: 4px;
	margin-right: 20px;
	width: 65px;
	cursor: pointer;
	text-align: center;
	//vendor-prefix found
	//-webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, .25)
	//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 0 8px 1px $black_25;
	&:hover {
		background-color: $color_WSU_Gray;
		color: $white;
	}
	&.TOP {
		margin-top: 20px;
	}
	&.TYPE {
		margin-top: 7px;
	}
	&.activeControl {
		background-color: $color_scooter_approx !important;
		color: $white !important;
	}
	.text {
		font: 12px/12px $font_primary, $font_secondary, $font_tertiary, $font_primary;
		padding-top: 3px;
		padding-bottom: 3px;
	}
}

#wsu_ui {
	.ui-tabs {
		.ui-tabs-nav {
			margin: 0 !important;
			padding: 0.2em 0.2em 0 !important;
			li {
				margin: 0 0.2em 1px 0 !important;
				padding: 0 !important;
			}
		}
		.ui-tabs-hide {
			position: absolute;
			left: -10000px;
			top: -10000px;
			display: block !important;
		}
	}
	#main_nav .ui-button {
		text-align: left;
		padding: 0 15px;
	}
	.ui-widget input[type=submit] {
		padding: 4px 7px !important;
	}
	input[type=submit].ui-widget {
		padding: 4px 7px !important;
	}
}


.defaultSkin {
	tr {
		&.mceFirst .mceToolbar tr td {
			float: left;
		}
		&.mceLast .mceToolbar tr td {
			float: left;
		}
	}
	table.mceToolbar {
		float: left;
	}
}
[hideFocus="true"] {
	outline: none;
}
.gmap_arrow {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 75px 15px 0 15px;
	border-color: $white transparent transparent transparent;
	//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 5px 19px 0 $mine_shaft_75;
}
#morelinks td {
	padding-right: 10px;
}
