@import 'vars/global';
@import 'vars/colors';



//@extend-elements
//original selectors
//#selectedPlaceList .adp-step, #selectedPlaceList .adp-text
%gmap_overrider_base {
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
	width: 100%;
}

.mapControl {
	background-color: $white;
	margin-top: 4px;
	margin-right: 20px;
	width: 65px;
	cursor: pointer;
	text-align: center;
	//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 0 8px 1px $black_25;

	&.TOP {
		margin-top: 20px;
	}
	&.TYPE {
		margin-top: 7px;
	}
	&.activeControl {
		background-color: $color_scooter_approx !important;
		color: $white !important;
	}
	.text {
		font: 12px/12px $font_primary, $font_secondary, $font_tertiary, $font_primary;
		padding-top: 3px;
		padding-bottom: 3px;
	}
	&:hover {
		background-color: $color_WSU_Gray;
		color: $white;
	}
}

#directions-panel {
	margin: 26px 0 0;
	width: 235px !important;
}
#selectedPlaceList {
	#directions_area{
		width:215px;
	
		.adp, .adp table {
			margin-left: 5px;
			font: 12px/12px $font_primary, $font_secondary, $font_tertiary, $font_primary;
		}
		.adp-details {
			font-size: 10px !important;
			padding-left: 5px;
		}
		.adp-legal {
			font-size: 10px !important;
			padding-left: 5px;
		}
		.adp-directions {
			border-collapse: collapse;
			cursor: pointer;
			font-size: 11px;
			line-height: 14px;
			//width: 190px;
			margin-top:20px;
			tr{
				&:first-child{
					td{
						border:none;
					}
				}
			}
		}
		
		[jsdisplay="duration"]{
			color:#2dad00;
		}
		.adp-step {
			@extend %gmap_overrider_base;
		}
		.adp-substep {
			position: relative;
			color: #7E7E7E;
			.adp b, .adp-list b{
				color: #000;
			}
		}
		tr td.adp-substep{
			font-size: 1.25em;
			&:last-child{
				padding-left: 30px;
				color: #000;
			}
			&:first-child{
				color: #000;
			}
		}
		.adp-distance{
			white-space: nowrap;
			font-weight: bold;
			display: inline-block;
			position: absolute;
			bottom: 0px;
			right: 0px;
		}
		.adp-text {
			font-size: 1.25em;
			line-height: 1em;
			width: 100%;
		}
		.adp-summary {
			color: $color_WSU_Crimson;
			font-size: 13px;
			font-weight: bold;
			line-height: 14px;
			padding: 0 3px 3px;
			text-align: center;
		}
		.adp-placemark {
			//margin-top: 0 !important;
			&:last-child{
				margin: 0px 10px;
				margin-top: 15px;
				border: none;
				border-top: 1px solid #3b3b3b;
			}
			&#adp-placemark{
				margin: 0px 10px;
				margin-bottom: 15px;
				border: none;
				border-bottom: 1px solid #3b3b3b;
			}
			
		}
		.adp-warnbox {
			margin: 0px;
			width: 235px;
			margin-left: -5px;
			margin-bottom: 5px;
			div{
				border-radius: 0px;
				font-size: 1.25em;
				line-height: 1em;
				&.warnbox-content {
					padding:10px 15px;
					background: none repeat scroll 0 0 #fff1a8;
				} 
			}
		}
	}
}
