@import 'vars/global';
@import 'vars/colors';



//urls
$url_0: url('//map.wsu.edu/Content/images/close_n_hover.png');
$url_1: url('//map.wsu.edu/Content/images/iw_arrow.png');
$url_2: url('//map.wsu.edu/Content/images/samples/in_info_image_bk.png');
$url_3: url('//map.wsu.edu/Content/images/samples/in_info_image_bk_v.png');
$url_4: url('//map.wsu.edu/Content/images/imgEnlarge.png');
$url_5: url('//map.wsu.edu/Content/images/gallery_bk_hor.png');
$url_6: url('//map.wsu.edu/Content/images/gallery_bk_ver.png');
$url_7: url('//map.wsu.edu/Content/images/imgEnlarge_large.png');
$url_8: url('//map.wsu.edu/Content/images/tab_next_prev.png');
$url_9: url('//map.wsu.edu/Content/images/play_pause.png');
$url_10: url('//map.wsu.edu/Content/images/jCellNav_btn.png');

//@extend-elements
//original selectors
//#campusmap .ui-tabs .ui-tabs-panel .content .cycle ul li .headImage.orientation_h, #campusmap .ui-tabs .ui-tabs-panel .content .cycle ul li .headImage.orientation_
%extend_inforbase {
	background: $url_5 no-repeat scroll center top transparent;
	margin-left: 0;
	padding: 13px;
}
/*.active_marker {
	& .markers img{
		opacity:0.5 !important;
		&.active_marker{
			opacity: 1 !important;
		}
	}
	
}.open_marker {
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
    filter: url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='drop-shadow'><feGaussianBlur in='SourceAlpha' stdDeviation='4'/><feOffset dx='12' dy='12' result='offsetblur'/><feFlood flood-color='rgba(0,0,0,0.5)'/><feComposite in2='offsetblur' operator='in'/><feMerge><feMergeNode/><feMergeNode in='SourceGraphic'/></feMerge></filter></svg>#drop-shadow");
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}
*/
img {
-webkit-transform: translateZ(1px);	
}
img.open_marker {
  -webkit-filter: drop-shadow(0px 0px 1px #222);
  filter: drop-shadow(0px 0px 1px #222);
}
.tooltip_title{
	font-weight: normal !important;
	padding: 0px;
	margin: 0px;
}

.infoBox {
	-webkit-transform: translateZ(0px);
	max-height: 270px;
	-webkit-transform: translateZ(0px);
}
.full_screen_iw{ display:none; 

	@media screen and (max-width: 530px) {
		display: block;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		.tabedBox.infoClose{
			border-radius:0px;
			top:0px;
			right:0px;
		}
		.ui-tabs{
			.ui-tabs-panel {
				max-height: 100%;
				.content{
					max-height: 100%;
				}
			}
		}
	}

}





.ui-tabs {
	padding: 0;
	padding-bottom: 5px;
	-webkit-transform: translateZ(0px);
	width: 100%;
	//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: -1px 1px 2px 0 $black_64;
	//Instead of the line below you could use @includeborder-bottom-left-radius($radius)
	border-bottom-left-radius: 0;
	//Instead of the line below you could use @includeborder-bottom-right-radius($radius)
	border-bottom-right-radius: 0;
	border: $color_silver_89_approx 1px solid;
	.ui-widget-header {
		-webkit-transform: translateZ(0px);
		height: 19px;
		background: $color_opal_approx;
		border: medium none;
	}
	.ui-tabs-nav {
		-webkit-transform: translateZ(0px);
		padding: 0.2em 0 0;
		padding-top: 0px;
		//Instead of the line below you could use @includeborder-bottom-left-radius($radius)
		border-bottom-left-radius: 0;
		//Instead of the line below you could use @includeborder-bottom-right-radius($radius)
		border-bottom-right-radius: 0;
		li {
			border: medium none;
			background: none;
			padding-top: 0px;
			border-radius: 0;
			box-shadow:none;
			margin-top: -3px;
			&.first {
				margin-left: 0px;
  				margin-top: -3px;
			}
			a {
				font-size: 12px;
				font-weight: normal;
				line-height: 19px;
				padding: 2px 1.5em 3px 1.5em;
				border: medium none;
				box-shadow:none;
				color: $white;
				//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
				border-radius: 0;
				&:hover {
					color: $color_WSU_Crimson;
				}
			}
			&.ui-state-active.ui-tabs-active {
				background: none repeat scroll 0 0 $white;
				a {
					color: $black;
					&:hover {
						color: $color_WSU_Crimson;
					}
				}
			}
			&.ui-tabs-selected {
				padding-bottom: 1px;
				a {
					color: $color_shark_approx;
				}
			}
		}
	}
	/*.ui-tabs-panel-cap {
		background-color: $color_shark_approx;
		bottom: -7px;
		height: 7px;
		left: 0;
		position: absolute;
		width: 100%;
		z-index: 9;
	}
	.ui-tabs-hide {
	}*/
	.ui-tabs-panel {
		font-size: 12px;
		line-height: 16px;
		color: $color_shark_approx;
		max-height: 240px;
		min-height: 0;
		padding: 5px;
		position: relative;
		padding-bottom: 2em;
		.content {
			min-height: 25px;
			max-height: 240px;
			overflow-x: hidden;
			overflow-y: auto;
			padding: 0 15px;
			margin-bottom:2em;
			left: 0;
			top: 0;
			//float: left;
			&.Views {
				min-height:214px;
			}
			&.Views_Vids {
				padding: 0 4px;
				.cycle ul li span {
					padding: 12px 10px;
				}
			}
			.header {
				font-size: 1.45em;
				color: $color_masala_approx;
				font-weight: normal;
				margin-top: 0;
				padding-top: 6px;
				margin-bottom: 10px;
				position: relative;
				padding-left: 32px;
				.iw_id {
					font-size: 14px;
					font-weight: bold;
					display: block;
					border-radius: 25px;
					line-height: 22px;
					height: 22px;
					width: 22px;
					text-align: center;
					border: 2px solid #3b3b3b;
					background: #3b3b3b;
					color: #f1f1f1;
					position: absolute;
					top: 0.15em;
					left: 0px;
				}
			}
			ul {
				list-style: none outside none;
				padding: 0;
				margin: 0;
				li {
					padding-bottom: 5px;
					li {
						padding-bottom: 0;
					}
					h4 {
						padding-top: 5px;
						font-weight: bold;
						font-size: 12px;
						line-height: 16px;
						margin: 0;
					}
					strong {
						display: block;
					}
					span {
						padding-left: 35px;
						display: inline-block;
					}
				}
			}
			.headImage {
				float: left;
				margin-right: 6px;
				position: relative;
				cursor: pointer;
				margin-bottom: 4px;
				&:before {
					@include fa(); 
					content: "\f0fe";
					color: #EBEBEB;
					position: absolute;
					right: 5px;
					top: 3px;
					font-size: .95em;
					z-index:1;
					text-shadow: #3b3b3b 0px 0px 5px;
				}
				&:hover{
					opacity: .8;
					&:before {
						color: #3b3b3b;
						text-shadow: #EBEBEB 0px 0px 5px;
					}
				}
				/*&:hover {
					opacity: .8;
					.imgEnlarge {
						background-position: center bottom;
					}
				}*/
				&.orientation_h {
					//background: $url_2 repeat-x scroll 50% top $white;
					width:135px;
					height:75px;
				}
				&.orientation_ {
					//background: $url_2 repeat-x scroll 50% top $white;
				}
				&.orientation_v {
					//background: $url_3 repeat-x scroll 50% top $white;
					width:75px;
					height:135px;
				}
				/*.imgEnlarge {
					background: $url_4 no-repeat scroll center top transparent;
					top: 0px;
					display: block;
					height: 14px;
					right: 6px;
					position: absolute;
					width: 14px;
					padding: 0;
					z-index: 1;
				}*/
			}
			.cycle ul li .headImage {
				float: left;
				position: relative;
				&.orientation_h {
					@extend %extend_inforbase;
				}
				&.orientation_ {
					@extend %extend_inforbase;
				}
				&.orientation_v {
					//background: $url_6 no-repeat scroll center top transparent;
					margin-left: 67px;
					padding: 12px 9px;
				}
				&:before {
					@include fa(); 
					content: "\f0fe";
					color: #EBEBEB;
					position: absolute;
					right: 5px;
					top: 3px;
					font-size: .75em;
					z-index:1;
					text-shadow: #3b3b3b 0px 0px 5px;
				}
				&:hover{
					&:before {
						color: #3b3b3b;
						text-shadow: #EBEBEB 0px 0px 5px;
					}
				}
				/*.imgEnlarge {
					background: $url_7 no-repeat scroll center top transparent;
					right: 5px;
					height: 18px;
					width: 18px;
				}
				&:hover .imgEnlarge {
					background-position: center bottom;
				}*/
			}
			.cycle {
				position: relative;
				width: 344px;
				height: 190px;
				margin-left: 10px;
				-webkit-transform: translateZ(0px);
				.cWrap {
					margin: 0 auto;
					height: 190px;
					width: 279px !important;
					-webkit-transform: translateZ(0px);
					div {
						display: block;
						list-style: none outside none;
						margin: 0 auto;
						height: 190px;
						a{
							width: 262px !important;
							height: 190px;
							text-align: center;
							span{
								position:relative;
								display: inline-block;
								&:before {
									@include fa(); 
									content: "\f0fe";
									color: #EBEBEB;
									position: absolute;
									right: 5px;
									top: 3px;
									font-size: 1.75em;
									z-index:1;
									text-shadow: #3b3b3b 0px 0px 5px;
								}
								img{
									postion:absolute;
										
								}
							}
							&:hover{
								span{
									&:before {
										color: #3b3b3b;
										text-shadow: #EBEBEB 0px 0px 5px;
									}
								}
							}
						}
					}
				}
				.prev {
					left: 0;
					top: 55px;
					text-indent: -9999em;
					display: block;
					width: 24px;
					height: 71px;
					position: absolute;
					background: $url_8 no-repeat scroll left top transparent;
					z-index: 9;
					&:hover {
						background-position: left bottom;
					}
				}
				.next {
					right: 0;
					top: 55px;
					text-indent: -9999em;
					display: block;
					width: 24px;
					height: 71px;
					position: absolute;
					background: $url_8 no-repeat scroll right top transparent;
					z-index: 9;
					&:hover {
						background-position: right bottom;
					}
				}
			}
		}
		.errorReporting {
			bottom: 4px;
			color: $color_masala_approx;
			display: block;
			font-size: 11px;
			letter-spacing: 0;
			padding: 0 5px;
			position: absolute;
			right: 13px;
			text-decoration: none;
			border: medium none;
			box-shadow:none;
			&:hover {
				color: $color_WSU_Crimson;
			}
		}
		.directionsTo{
			bottom: 4px;
			color: $color_masala_approx;
			display: block;
			font-size: 11px;
			letter-spacing: 0;
			padding: 0 5px;
			position: absolute;
			left: 19px;
			text-decoration: none;
			border: medium none;
			box-shadow:none;
			padding-left: 15px;
			&:hover {
				color: $color_WSU_Crimson;
				&:before {
					color: #0A2700;
				}
			}
			&:before {
				@include fa(); 
				content: "\f041";
				color: #2dad00;
				position: absolute;
				left: 0px;
				top: -3px;
				font-size: 2em;
			}
		}
	}
}
.lightbox {
	.ui-widget-header{
		backgound:none;
		border:none;
		span{
			display:none;
		}
		.button{
				
		}
	}
}
#cboxContent {
	overflow: visible;
	.cycle {
		position: relative;
		width: 75%;
		height: 100%;
		margin: 0 auto;
		.cWrap {
			margin: 0 auto;
			height: 100%;
			width: auto !important;
			ul {
				display: block;
				list-style: none outside none;
				margin: 0 auto;
				height: 100%;
				li {
					width: auto !important;
					height: 100%;
					padding-left: 24px;
					img {
						height: 100%;
					}
				}
			}
		}
		.prev {
			top: 50%;
		}
		.next {
			top: 50%;
		}
	}
	#cboxPrevious {
		left: -50px;
		top: 40%;
		text-indent: -9999em;
		display: block;
		width: 24px;
		height: 71px;
		position: absolute;
		background: $url_8 no-repeat scroll left top transparent;
		z-index: 9;
		&:hover {
			background-position: left bottom;
		}
	}
	#cboxNext {
		right: -50px;
		top: 40%;
		text-indent: -9999em;
		display: block;
		width: 24px;
		height: 71px;
		position: absolute;
		background: $url_8 no-repeat scroll right top transparent;
		z-index: 9;
		&:hover {
			background-position: right bottom;
		}
	}
}
#cboxSlideshow {
	display: none !important;
}
#cboxCurrent {
	position: absolute;
	top: -9999em;
}
#cb_nav {
	bottom: 0;
	display: inline;
	left: 0;
	margin: 5px auto;
	padding: 0;
	position: absolute;
	text-align: center;
	width: 100%;
	li {
		display: inline;
		padding: 0 4px;
		line-height: 8px;
		height: 8px;
		a {
			display: inline-block;
			margin: 0 2px;
			width: 8px;
			height: 8px;
			text-indent: -9999em;
			background: $url_10 no-repeat scroll right center transparent;
			&:hover {
				background-position: center center;
			}
		}
		&.cycle-pager-active a {
			background-position: left center;
		}
	}
}
.navArea {
	position: relative;
	clear: both;
	text-align: center;
	display: block;
	margin-left: -8px;
	.photos {
		color: $color_WSU_Gray;
		font-size: 12px;
		text-transform: uppercase;
		text-decoration: none;
		&.active {
			color: $color_scooter_approx;
		}
		&:hover {
			color: $color_la_rioja_approx;
		}
	}
	.vids {
		color: $color_WSU_Gray;
		font-size: 12px;
		text-transform: uppercase;
		text-decoration: none;
		margin-right: 18px;
		&.active {
			color: $color_scooter_approx;
		}
		&:hover {
			color: $color_la_rioja_approx;
		}
	}
	ul.cNav {
		display: inline;
		margin: 5px;
		padding: 0;
		li {
			display: inline;
			padding: 0 4px;
			line-height: 8px;
			height: 8px;
			a {
				display: inline-block;
				margin: 0 2px;
				width: 8px;
				height: 8px;
				text-indent: -9999em;
				background: $url_10 no-repeat scroll right center transparent;
				&:hover {
					background-position: center center;
				}
			}
			&.cycle-pager-active a {
				background-position: left center;
			}
		}
	}
}
.tabedBox.infoClose {
	right: -9px;
	top: -9px;
	z-index: 1;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 15px;
	
	background-color: $color_old_brick_approx;
	cursor: pointer;
	display: block;
	height: 22px;
	position: absolute;
	width: 22px;
	line-height: 22px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: #e2e2e2;

	&:hover {
		background-position: center bottom;
	}
}


#cboxLoadedContent {
	overflow: visible !important;
}
.hoverbox .infoClose {
	display: none;
}
.narrow #campusmap .ui-tabs .ui-tabs-nav li a {
	padding: 4px 13px 1px;
}
.mobile #campusmap .ui-tabs .ui-tabs-nav li a {
	padding: 4px 9px 1px;
}
.ie7 #campusmap .ui-tabs .ui-tabs-panel .content {
	position: relative;
} 