@import 'vars/global';
@import 'vars/colors';

//urls
$logo_bug: url('//repo.wsu.edu/spine/develop/marks/wsu-signature-vertical.svg');

#spine {
	left: 0;
	position: absolute;
	top: 0px;
	width: 198px;//201px;
	z-index: 999;
	min-height:100%;
	max-height:100%;
	.spine-sitenav>ul>li:first-child>a,
	.spine-sitenav>ul>li.active:first-child>a{
		background: none;
		padding-left: 0px;
	}
	
	&.unshelved {
		top:0px !important;
	}
	nav ul{
		li{
			border:0px solid #fff;	
			&.parent.opened>a:after, &.parent>a:after,
			&.parent:not(.active)>a:after{
				content:"";	
			}
			&.parent>a{
				
			}
		}
		ul li {
		  display: inherit;
		}
	}
	#glue {
		left: 0;
		position: static;
		top: 0;
		z-index: 999;
		width: 198px;//201px;
		float: left;
		//padding-top: 10px;
	
		#spine-navigation {
			background: none;
			margin-left: 16px;
			height: 100%;
			padding: 0;// 0 10px 18px;
			.spine-sitenav{
				 margin: 0;
			}
			ul {
				padding: 0;
				list-style:none;
				padding-right: 14px;
				margin-top: 11px;
				ul {
					margin: 0;
					padding: 3px 0 3px 3px;
					padding: 0;
					ul {
						margin: 0;
						padding: 3px 0 3px 3px;
					}
					&.action_nav {
						margin-left: -14px;
						li {
							width: 147px;
						}
					}
				}
				li.ui-state-active ul {
					margin: 0 0 0 -14px;
				}
			}
			form#getDirections {
				margin-top: 45px;
				input::-webkit-input-placeholder {
					color: $color_WSU_Gray !important;
				}
				input:-moz-placeholder {
					color: $color_WSU_Gray !important;
				}
				ul{
					padding-right:0px;
					width:175px;
					#directionsTo {
						
						border-bottom:1px solid #C0C0C0;
						width: 165px;
						padding-left: 15px;
						input {
							color: $color_WSU_Gray;
							//background: $url_1 no-repeat scroll left 1px transparent;
							height: 22px;
							border: medium none;
							//margin-top: 5px;
							padding: 0 15px 0 5px;
							font-size:1.25em;
							width: 165px;
							&:focus {
								box-shadow:none;
							}
							&::-webkit-input-placeholder {
								color: #bec3c6 !important;
							}
							&:-moz-placeholder {
								color: #bec3c6 !important;
							}
						}
						
						&:before {
							@include fa(); 
							content: "\f041";
							color: #2dad00;
							position: absolute;
							left: 0px;
							top: 0px;
							font-size: 2em;
						}
					}
					#directionsFrom {
						margin-bottom: 15px;
						border-bottom:1px solid #C0C0C0;
						width: 165px;
						padding-left: 15px;
						input {
							color: $color_WSU_Gray;
							//background: $url_1 no-repeat scroll left 1px transparent;
							height: 22px;
							border: medium none;
							padding: 0 15px 0 5px;
							font-size:1.25em;
							width: 165px;
							&:focus {
								box-shadow:none;
							}
							&::-webkit-input-placeholder {
								color: #bec3c6 !important;
							}
							&:-moz-placeholder {
								color: #bec3c6 !important;
							}
						}
						&:before {
							@include fa(); 
							content: "\f041";
							color: #991b2f;
							position: absolute;
							left: 0px;
							top: 0px;
							font-size: 2em;
						}
					}
				}
			}
			#main_nav {
				li {
					//width: 165px;
					border-bottom:1px solid #e4e4e4;
					&.off_place_action{
						//border-bottom:none medium;
						border:0px solid #fff;
					}
					li {
						width: 154px;
						border-bottom:none;
					}
					a {
						display: block !important;
						color: #2a3033;//#222222;
						font-size: 13px;//14px;
						line-height: 18px;
						height: 30px;
						text-decoration:none;
						padding-right:0px;
						cursor: pointer;
						em {
							font-style: normal;
						}
						&:hover {
							color: $color_WSU_Crimson !important;
						}
					}
					
					&.altAction{
						a{
							line-height: 20px;
							height: 22px;	
						}
					}
					&:hover {
						font-weight: normal;
					}
					&.sep {
						cursor: default;
						min-height: 3px;
					}
					&.endcap {
						cursor: default;
						min-height: 15px;
					}
					&.quickActions {
						border-right: 3px solid $color_chocolate_approx;
						width: 150px;
					}
					&.active {
						a {
							color: $color_WSU_Crimson;
							font-weight:bold;
						}
						ul {
							display: block;
						}
						li {
							a {
								padding-left: 10px;
								padding-top: 0px;
								color:#2a3033;//#222222;
								line-height: 12px;
								font-size: 12px;
								min-height: 18px;
								height: auto;
								position: relative;
								font-weight: normal;
								&:before{
									content:"";
									height:9px;
									width:9px;
									border-radius:4px;
									background-color:#adc6cb;
									display:inline-block;
									position:absolute;
									left:-10px;
									top:1px;
								}
		
							}
							&.checked a {
								color: $color_WSU_Crimson;
								&:before{
									background-color:#222;
								}
							}
						}
						a.parentalLink.childSelected {
							color: $color_WSU_Gray;
						}
					}
		
				}
				ul {
					display: none;
					margin-left: 0px;
					list-style:none;
					li {
						padding-bottom: 2px;
						&.subNarrow {
							font-style: italic;
							background: none repeat scroll 0 0 transparent;
						}
					}
				}
			}
		}
	}
}

#navwrap .jspContainer {
}

.spine-footer  {

	button:before {
		font-family: "Spine-Icons";
		text-indent: 0px;
		position: absolute;
		left: 0px;	top: 0em; right: 0px; bottom: 0px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.spine-global-links {
		font-size: .9em;
		border-top-width: 1px;
		border-top-style: solid;
		border-top-color: #d6dadb;//$gray-light;
		padding-top: 5px;
		margin-top: 8px;
		//width: 100%;
		padding-right: 10px;
  		padding-left: 10px;
		
		ul {
			display: table;
			width: 100%;
			li {
				font-size: .8em;
				line-height: 1em;
				display: table-cell;
				text-transform: uppercase;
				text-align: left;
				a {
					color: $gray-light;
					text-decoration:none;
					&:hover {
						color: $gray;
					}
				}
			}
			li:nth-of-type(1) { text-align: left; width: 29%; }
			li:nth-of-type(2) { text-align: left; width: 31%; }
			li:nth-of-type(3) { text-align: left; width: 30%; }
			li:nth-of-type(4) { text-align: right; width: 10%; }
		}

		small {
			font-size: .7em;
			line-height: 1em;
			color: #b6bcbf;
			display: block;
			text-align: center;
			margin: 0px 0px;
			padding: 6px 0px;
		}
	}
}


footer {
	position: absolute;
	bottom: 0px;
	padding: .75em 0 0.75em 0;
	margin: 0px .75em;
	width: 182px; // 198px - ( ( 1.75em x 12px ) x 2 = 42 )
	/*nav {
		margin: 0;
		ul li {
			border-top: none !important;
			text-align: center;
		}
		html.lt-ie9 & {
			position: relative;
		}
	}*/
}


#placeSearch {
	height: 23px;
	position: relative;
	//width: 170px;
	border-bottom:1px solid #bec3c6;
	margin-left: 13px;
	margin-right: 14px;
	&.ui-autocomplete-loading {
		background: $logo_bug no-repeat scroll right center transparent !important;
	}
	&:focus {
		background-position: left bottom;
	}
	input[type=text] {
		border: medium none;
		background:none;

		font-size:1.25em;
		height: 23px;
		padding: 0;
		position: absolute;
		top: 0;
		//width: 170px;
		left: 0;
		padding-left: 10px;
		margin:0px 15px;
		color: $color_WSU_Gray;
		padding: 0 15px 0 5px;
		&:focus {
			box-shadow:none;
		}
		&::-webkit-input-placeholder {
			color: #bec3c6 !important;
		}
		&:-moz-placeholder {
			color: #bec3c6 !important;
		}
	}
	.submit {
		background: none repeat scroll 0 0 transparent;
		border: medium none;
		cursor: pointer;
		font-size: 0;
		height: 22px;
		padding: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 22px;
	}
	input {

	}
	
	&:before {
		@include fa(); 
		content:"\f002";
		color: #bec3c6;
		position: absolute;
		left: 0px;
		top: 0px;
		font-size: 1.25em;
		//-moz-transform: scale(-1, 1);
		//-webkit-transform: scale(-1, 1);
		//-o-transform: scale(-1, 1);
		//-ms-transform: scale(-1, 1);
		transform: scale(-1, 1);
	}
}
* html .ui-autocomplete {
	height: 285px;
}
#toolbar {
	ul {
		float: right;
		padding: 0;
		margin: -1px 15px 0 0;
		height: 39px;
		li {
			display: block;
			float: left;
			line-height: 39px;
			padding: 0 0 0 21px;
			a {
				text-decoration: none;
				line-height:39px;
				font-size:1em;
				color:$gray;
				display:inline-block;
				&:hover{
					color:$gray-light;
				}
			}
			.addthis_button_compact span {
				height: 0;
				width: 0;
			}
		}
	}
}
#header_bar {
	border-top: 4px solid $color_WSU_Crimson;
	height: 39px;
	position: relative;
	font-size: 1em;
	h1 {
		width: auto;
		font-size:1.5em;
		display: inline-block;
		margin: 5px 0;
		color: $color_chicago_approx;
		line-height: 22px;
		font-weight: bold;
	}
}

a#resetmap{}
a#embed{}
a.errorReporting{}
a.clickshare{}
#sharing-menu{display:none;}

.jspContainer .jspVerticalBar{
	opacity: 0;
}
.jspContainer:hover .jspVerticalBar,
.jspContainer *:hover~.jspVerticalBar,
.jspContainer .jspVerticalBar:hover {
    -webkit-animation: fadein 0.5s ease-in-out 0.15s forwards; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s ease-in-out 0.15s forwards; /* Firefox < 16 */
        -ms-animation: fadein 0.5s ease-in-out 0.15s forwards; /* Internet Explorer */
         -o-animation: fadein 0.5s ease-in-out 0.15s forwards; /* Opera < 12.1 */
	animation: fadein 0.5s ease-in-out 0.15s forwards;	
	//opacity: 1;
}

@keyframes fadein {
    0% { opacity: 0; }
    100%   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    0% { opacity: 0; }
    100%   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    0% { opacity: 0; }
    100%   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    0% { opacity: 0; }
    100%   { opacity: 1; }
}


.jspHorizontalBar {
	background: #eeeef4;
	.jspArrow {
		width: 15px;
	}
}

.jspVerticalBar {
	background: #eaedf2;
	width:8px;
	margin-right:8px;
	.jspArrow {
		height: 15px;
	}
}


.jspTrack {
	background: #eaedf2;
	border-right:1px solid #dde0e5;
	&.jspActive {
		background: #e8ebf1;
	}
	&.jspHover {
		background: #e8ebf1;
	}
}
.jspDrag {
	background: #adc6cb;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 10px;
	&:hover {
		background: #9ec4cb;
	}
}
.jspArrow {
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 10px;
}
.jspVerticalBar {
	&.jspActive {
	}
	&.jspDisabled {
		background-color: transparent;
		&:hover {
			background-color: transparent;
		}
	}
}

