#if($Flash.error)
<p style="color: red; font-weight: bold;">
    $Flash.error
</p>
#end

<form action="update.castle" method="post">
$Form.HiddenField("accesslevel.id")

<h3>Access Level</h3>
<p>Title:</p>
$Form.TextField("accesslevel.title") 
<p><input type="submit" value="Submit" /></p>

</form>
