#set($Pagination_location='top')
#parse("admin/listings/areas/pagination.vm")
<ul class="editablelistUL list_1">
	#foreach($item in $list_items)
		#* set up authors*#
		#set($authors='')
		#capturefor(authors)
			#foreach ($author in $place.Authors)
				#each
					<span class="emailCol" rel="$!author.id">$!author.Name</span>
				#between
			  	/
			#end
		#end
		#* EOF set up  *#
		<li class="ui-widget-content ui-corner-all item_$!item.id con">
		
		#parse("admin/listings/areas/inedit.vm")
		
		<div class="item_aTar item_$!item.id" title="$!item.id">
		
		  #parse("admin/listings/areas/summaryCol.vm")
		  #parse("admin/listings/areas/detailCol.vm")
		  
		  <div class='actionCol'>
			<ul>
				#foreach($button in $buttons)
					#parse("admin/listings/buttons/${button}.vm")
				#end
			</ul>
		  </div>
		</div>
	  </li>
  #end
</ul>
#set($Pagination_location='bottom')
#parse("listing_parts/areas/pagination.vm")