<div class="moz-border" id="search-form">
	<form method="get" action="$siteroot/search/?byDate=1" id="search-by-date">
		<div>
			<input type="hidden" value="true" name="byDate">
			<input type="hidden" value="50" name="limit">
			<input type="hidden" value="" name="start_date" id="build-start_date">
			<input type="hidden" value="" name="end_date" id="build-end_date">
			
			<select name="category" id="search-category">
				<option value="">Any Section</option>
				
					<optgroup label="News">
						
							<option value="news/local">Local News</option>
						
							<option value="business">Business</option>
						
							<option value="news/local/crime-and-courts">Crime &amp; Courts</option>
						
							<option value="news/national">National</option>
						
							<option value="lifestyles/health-med-fit">Health</option>
						
					</optgroup>
				
					<optgroup label="Opinion">
						
							<option value="news/opinion/mailbag">Letters to the Editor</option>
						
							<option value="news/opinion/editorial">Editorials</option>
						
					</optgroup>
				
					<optgroup label="Sports">
						
							<option value="sports/high-school">High School</option>
						
							<option value="sports/college">College</option>
						
							<option value="sports/football">Football</option>
						
							<option value="sports/baseball">Baseball</option>
						
							<option value="sports/hockey">Hockey</option>
						
							<option value="sports/golf">Golf</option>
						
					</optgroup>
				
					<optgroup label="Entertainment">
						
							<option value="lifestyles/food-and-cooking">Cooking</option>
						
							<option value="lifestyles/food-and-cooking/recipes">Recipes</option>
						
							<option value="entertainment/dining/restaurants">Restaurants</option>
						
							<option value="entertainment/music">Music</option>
						
							<option value="entertainment/dining/bars-and-clubs-other">Clubs</option>
						
							<option value="entertainment/games">Video Games</option>
						
							<option value="lifestyles/recreation/family-fun">Family</option>
						
							<option value="lifestyles/leisure">Leisure</option>
						
							<option value="entertainment/theater">Reviews</option>
						
					</optgroup>
				
			</select>
			
			<select id="search-month" name="month"><option value="1">January</option><option value="2">February</option><option value="3">March</option><option value="4">April</option><option selected="selected" value="5">May</option><option value="6">June</option><option value="7">July</option><option value="8">August</option><option value="9">September</option><option value="10">October</option><option value="11">November</option><option value="12">December</option></select>
			<select id="search-day" name="day"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option selected="selected" value="31">31</option></select>
			<select id="search-year" name="year"><option selected="selected" value="2011">2011</option><option value="2010">2010</option><option value="2009">2009</option><option value="2008">2008</option><option value="2007">2007</option><option value="2006">2006</option><option value="2005">2005</option></select>
			
			<input type="submit" value="go" class="submit-button moz-border">
		</div></form>
	
</div>