<div class="headline">Evergreen</div>

<ul> 
<li><a class='' href='../public/workforevergreen.castle'>Work for The Evergreen</a></li> 
<li><a class='' href='../public/advertisewithus.castle'>Advertise With Us</a></li> 
<li><a class='' href='../public/studentadvertisingfund.castle'>Student Advertising Fund</a></li> 
<li><a class='' href='../public/pdf.castle'>Print Version (PDF)</a></li> 
<li><a class='' href='../public/newsletter.castle'>Newsletter</a></li> 
</ul>