<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>The Daily Evergreen Online#if($SEO_titling && $!SEO_titling.Trim()!='') - $!SEO_titling#end</title>

<!-- meta SEOmoz best pratices v2.953-jlb-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="company" content="WSU" />
<meta name="generator" content="WSU University Publishing" />
<meta name="title" content="#if($SEO_titling && $!SEO_titling.Trim()!='')$!SEO_titling#end" />
<meta name="author" content="WSU Student Publications Board" />
<meta name="description" content="#if($SEO_DISCRIPTION && $!SEO_DISCRIPTION.Trim()!='')$!SEO_DISCRIPTION#end" />

<meta name="keywords" content="#if($SEO_KEYWORDS && $!SEO_KEYWORDS.Trim()!='')$!SEO_KEYWORDS#end" />
<meta name="robots" content="FOLLOW,INDEX" />
<meta name="revisit-after" content="3 DAYS" />
#*  This is coming for best SEO pratices  not this is smart so don't un comments it :)
<meta name="LASTUPDATE" content="{current_date" format="%a, %d %b %Y %H:%M:%S %z %Z"}" />
<meta name="revised" content="{current_date" format="%a, %d %b %Y %H:%M:%S %z %Z"}" />

    {cms_selflink dir="start" rellink=1}
    {cms_selflink dir="prev" rellink=1}
    {cms_selflink dir="next" rellink=1}
*#
<meta name="google-site-verification" content="r-o1Fw8mHxHdWpl84NZtP-e1CgEy4oJkyo43kpwVUM0" />

      
#if($SEO_CANONICAL && $!SEO_CANONICAL.Trim()!='')<link rel="canonical" href="http://dailyevergreen.com$!SEO_CANONICAL" />#end

<link rel="shortcut icon" href="http://images.wsu.edu/favicon.ico" />


#* styles *#
<link type="text/css" rel="stylesheet" href="$siteroot/content/css/main.css" />
<link type="text/css" rel="stylesheet" href="$siteroot/content/css/styles-nav.css" />
<link type="text/css" rel="stylesheet" media="only screen and (max-device-width: 768px)" href="$siteroot/content/css/ipad.css" />

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.3/jquery.min.js" type="text/javascript"></script>
#* Scrolling News Ticker *#
<script src="$siteroot/content/js/jquery.Scroller-1.0.min.js" type="text/javascript"></script>
#* <script src="$siteroot/content/js/jquery.Scroller-fromHead.js" type="text/javascript"></script>  moved to init.js *#
<script type="text/javascript" src="http://images.wsu.edu/javascripts/jquery.lazyload.js"></script>




#* Open/Close Nav Slide *#
#*<script type="text/javascript" src="$siteroot/content/js/jquery-ishovered.js"></script>
<script type="text/javascript" src="$siteroot/content/js/jquery-makeabsolute.js"></script>
<script type="text/javascript" src="$siteroot/content/js/popdown.js"></script>*#
#* Photo/Caption Slider *#
<script type="text/javascript" src="http://images.wsu.edu/javascripts/cycle_2.99995.js"></script>

#* colorbox  *#
<script type="text/javascript" src="http://images.wsu.edu/javascripts/jquery.colorbox-min.js"></script>
<link type="text/css" rel="stylesheet" href="http://images.wsu.edu/css/colorbox/example1/colorbox.css" />

#* for commenting *#
<script type="text/javascript" src="http://images.wsu.edu/javascripts/HTMLbox/htmlbox.colors.js"></script>
<script type="text/javascript" src="http://images.wsu.edu/javascripts/HTMLbox/htmlbox.styles.js"></script>
<script type="text/javascript" src="http://images.wsu.edu/javascripts/HTMLbox/htmlbox.syntax.js"></script>
<script type="text/javascript" src="http://images.wsu.edu/javascripts/HTMLbox/htmlbox.min.js"></script>

#* controller scripts *#
<script type="text/javascript" src="$siteroot/content/js/init.js"></script>



<!--[if IE 7]>
<style>
a#logo{float:left;diplay:inline-block;margin:15px 0 10px 25px;} /* just for now to fix dbl margin bug */
</style>
<![endif]-->
