#capturefor(SEO_titling)$!place.Title #if($place.Title) place images#end#end
#capturefor(SEO_DISCRIPTION)$!place.subHead#end
#capturefor(SEO_KEYWORDS)$Controller.Gettags($place.id)#end
#capturefor(SEO_CANONICAL)$siteroot/place-image/$!place.CustomUrl#end

#set ($commentCount = $place.Pub_comments.Count)
#set ($imageCount = $place.Images.Count)
<div class="headline">$!place.Title</div>
<div class="subhead"> $!place.subHead</div>
<div class="byline"> <p>$!place.Teaser</p>By 
#if($flag)
#foreach($author in $place.Authors)
$!author.Name, 
#end 
#else 
#foreach($author in $place.Authors)
$!author.Name 
#end 
#end
<br/>
Published: $!place.PublishTime</div><br/>

<ol id="toc">
  <li>
    <a href="$siteroot/read/${place.CustomUrl}">
      <span>Place</span>
    </a>
  </li>
  <li>
    <a href="$siteroot/discussion/${place.CustomUrl}">
      <span>Comments ($commentCount) </span>
    </a>
  </li>
  <li class="current">
    <a href="$siteroot/place-image/${place.CustomUrl}">
      <span>Photos ($imageCount) </span>
    </a>
  </li>
</ol>
$Form.HiddenField("image.Id")
<div class="content">

<div id="link">
</div>
<br/>
<img id="main_Image" width='300px' src="$siteroot/image/download.castle?id=$!{mainImage.id}"/>
<div id="caption">
    $!mainImage.Caption
</div> <br/>
<div class="img">
  #foreach($image in $allImages)
    <a class="selectedImage" href="$siteroot/image/image.castle?Id=$!{place.Id}&photo=$!{place.returnImageIndex($image)}">
      <img width='100px' src="$siteroot/image/download.castle?id=$!{image.id}"/>
    </a>
  #end 
</div>
</div>