<div id="leaderboard">
  #set($hasAd = 'false')
  #if($Ads.Count<=0)
    #set($hasAd = 'false')
  #else
    #foreach($Ad in $Ads)
      #if($Ad.Location.id ==1)
        #if($Ad.HtmlText)
          $controller.IncView($Ad)
          $Ad.HtmlText<br/>
          #set($hasAd = true)
        #else
           #if(${Ad.Images.get_item(0).id})
            $controller.IncView($Ad)
            <a href='$siteroot/public/IncClicked.castle?Id=$!{Ad.id}'>
              <img width="728" height="90" src="$siteroot/media/download.castle?id=${Ad.Images.get_item(0).id}" border="0" />
            </a><br/>
            #set($hasAd = 'true')
          #end
        #end
      #end
    #end
  #end
  
  #if($hasAd == 'false' )
    <a href="http://www.wsucougars.com">
      <img src="$siteroot/images/template/leaderboard.jpg" width="728" height="90" alt="WSU Cougar Athletics" border="0" />
    </a>
  #end
  
</div>
<!--#leaderboard-->