#if($Flash.massage)
<div style="margin-top: 20px; padding: 0 .7em;" class="ui-state-highlight ui-corner-all">
  <p style="line-height: 15px;padding-bottom: 0;">
    <span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-info"></span><strong>Note:</strong>$Flash.massage
  </p>
</div>
#end

<div class="headline">Unsubscribe to News Letter</div> 
<h4>Sorry to see you go</h4>
<p>
	We'd like to thank you for your interest in our publication.  We are sorry to see you go and hope you will continue to enjoy the news we bring to you.
</p>

<form name="delForm" action="$siteroot/public/newsletter_remove.castle" method="post">
  <input type="hidden" value="2" name="person.PersonType.id">
    <input id="person_Id" type="hidden" value="" name="person.id">

<p>Email Address:<br/>
<input type="text" name="person.Email" value="" class="w300 ui-widget ui-widget-content ui-corner-all " />
</p>
<br/>
<script type="text/javascript" src="http://challenge.asirra.com/js/AsirraClientSide.js"></script>
<br/>
<input type="submit" value="Unsubscribe">

</form>
