#if($Flash.message)
<div style="margin-top: 20px; padding: 0 .7em;" class="ui-state-highlight ui-corner-all">
  <p style="line-height: 15px;padding-bottom: 0;">
    <span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-info"></span><strong>Note:</strong>$Flash.message
  </p>
</div>
#end

<div class="headline">News Letter</div> 
<p>	We'd like to thank you for your interest in our publication and letting us become more a part of your life.
	Signing up or removing your email from our newsletter is easy, it only takes a few seconds, and the results are instant.
	By signing up for our newsletter, you will instantly receive places for a given day after 5p.m. on the previous day!
	It's like getting the inside scoop the night before everyone else.</p>

<form name="addForm" action="$siteroot/public/newsletter_add.castle" method="post">
<input type="hidden" value="2" name="person.PersonType.Id">
	<input id="person_Id" type="hidden" value="" name="person.Id">
	<p>Email Address:<br/>
	<input type="text" name="person.Email" value=""  class="w300 ui-widget ui-widget-content ui-corner-all " /></p>
	<p>Name:<br/>
	<input type="text" name="person.Name" value=""  class="w300 ui-widget ui-widget-content ui-corner-all " /></p>
	<br/>
	<script type="text/javascript" src="http://challenge.asirra.com/js/AsirraClientSide.js"></script>
	<br/>
	<input type="submit" value="Subscribe"></td></tr>
</form>
<hr/>
<h4><a href="$siteroot/public/newsletter_unsubscribe.castle">Need to Unsubscribe?</a></h4>



