<a href="searchbyplaces.castle">
$Form.HiddenField("place.Id")
<div class="section">Search Results</div>
<div class="searchresults">
#foreach($place in $byPlaces) 
	<div class="subhead">
		<a title="$!place.Title" href="../public/readmore.castle?id=$!{place.Id}"><h3>$!place.Title</h3></a>
		<div class="byline">
		#if($!place.Publishtime)$controller.formatDate($!place.PublishTime) <br/>#end
		#foreach($author in $place.Authors)
		$!author.Name    
		#end
		</div>
	</div>
#end 
</div>