
#if($Flash.error)
<p style="color: red; font-weight: bold;">
    $Flash.error
</p>
#end

<form action="update_style.castle" method="post">
	$Form.Hiddenfield("style.Id")
	<input type="hidden" value="$!ele.attr.name" name="ele.attr.name"/>	
  
  
	<h3>#if($style.Id!=0)Edit#else Add #end Place Field</h3>

	<fieldset>
		<fieldset style="float:right;width:46%;"  id="html_sample">
			#if($html_ele)
				<legend>Sample:</legend>
				$!html_ele
			#end
		</fieldset>
		<fieldset style="float:left;width:46%;">
			<legend>Basic setup:</legend>
			<p style="float:right;width:46%;">Field Type:<br/>  
				<select name="ele.type" id="style_of">
					<option value="marker" #if($ele.type=='marker')selected='selected'#end>Marker</option>
					<option value="polyline" #if($ele.type=='polyline')selected='selected'#end>Line</option>
					<option value="polygon" #if($ele.type=='polygon')selected='selected'#end>Polygon</option>
					<option value="rectangle" #if($ele.type=='rectangle')selected='selected'#end>Rectangle</option>
					<option value="circle" #if($ele.type=='circle')selected='selected'#end>Circle</option>
				</select>
			</p>
			
			<p>Name:<br/>
				<input type="text" value="$!style.name" name="style.name" id="type_name" class="ui-widget ui-widget-content ui-corner-all " />
			</p>
	
			
			
			
			#*
			<!--
			Marker/Polyline/Polygon/Rectangle/Circle
			-----------------------------
			visible		bool
			zIndex		int
			
			
			
			Polyline/Polygon/Rectangle/Circle
			-----------------------------
			strokeColor	#hex
			strokeOpacity	float
			strokeWeight	int
			
			
			
			Polygon/Rectangle/Circle
			-----------------------------
			fillColor	#hex
			fillOpacity	float
			
			Polyline/Polygon
			-----------------------------
			geodesic	bool
			
			
			
			Marker
			-----------------------------
			flat		bool
			cursor		String
			clickable	bool
			animation - 
					BOUNCE
					DROP
			icon	  - 
					anchor 	Point(x:number, y:number)
					origin  	(0, 0)  Point(x:number, y:number)
					scaledSize 	Size(width:number, height:number, widthUnit?:string, heightUnit?:string)
					size	Size(width:number, height:number, widthUnit?:string, heightUnit?:string)
					url		string
			raiseOnDrag	bool
			shadow	  - 
					anchor 	Point(x:number, y:number)
					origin  	(0, 0)  Point(x:number, y:number)
					scaledSize 	Size(width:number, height:number, widthUnit?:string, heightUnit?:string)
					size	Size(width:number, height:number, widthUnit?:string, heightUnit?:string)
					url		string
			title		String
			shape	  -
					coords	Array.<number>
					type	string //circle, poly or rect.
					
			-->
			*#

			<fieldset id="optionsSelection" >
				<legend>Style options</legend>
				<div>
					<div style="width:100px;display:inline-block;float:right;" >
						<ul id="sortable2" class="connectedSortable"  style="width:100px;display:inline-block;" >
							#foreach($opt in $options_unused)
								#if($style.option[${opt}].val=='' && $style.type == $ele.type)
									#parse("maps/controll/boundaries/${opt.name}.vm")
								#end
							#end

							#foreach($opt in $options_remaining)
									#set($hidden=true)
									#parse("maps/controll/boundaries/${opt.name}.vm")
							#end
						</ul>
					</div>
					
					
					<div style="width:225px;display:inline-block; border-right:1px solid #e2e2e2;float:left;" >
						<ul id="sortable1" class="connectedSortable" >
							#foreach($opt in $options_used)
								#parse("maps/controll/boundaries/${opt.name}.vm")
							#end
						</ul>
					</div>
					
					
					
					
					<div style="clear:both;"></div>
				</div>
			</fieldset>
		</fieldset>
	</fieldset>

	<p>
	<input type="submit" value="#if($style.id!=0) Apply #else Save #end" name="apply" title="#if($style.id!=0)Apply #else Save #end and Return" class="ui-button ui-widget ui-state-default ui-corner-all" /><input type="submit" value="Submit" /><input type="submit" value="Cancel" name="cancel" /></p>
</form>
