<table width="60%" border="0" style="float:right;margin-right:5px;margin-top:7px;">
  <tr>
    <td>Showing $reviewGeometrics.FirstItem - $reviewGeometrics.LastItem of $reviewGeometrics.TotalItems</td>
    <td align="right">
      #if($reviewGeometrics.HasPrevious) $PaginationHelper.CreatePageLink( 1, "first",null, "%{searchId=$!searchId,status='review'}" )  #end
      #if(!$reviewGeometrics.HasPrevious) first #end
      #if($reviewGeometrics.HasPrevious) | $PaginationHelper.CreatePageLink( $reviewGeometrics.PreviousIndex, "prev",null, "%{searchId=$!searchId,status='review'}" )  #end
      #if(!$reviewGeometrics.HasPrevious) | prev #end
      #if($reviewGeometrics.HasNext) | $PaginationHelper.CreatePageLink( $reviewGeometrics.NextIndex, "next",null, "%{searchId=$!searchId,status='review'}" )  #end
      #if(!$reviewGeometrics.HasNext) | next #end
      #if($reviewGeometrics.HasNext) | $PaginationHelper.CreatePageLink( $reviewGeometrics.LastIndex, "last",null, "%{searchId=$!searchId,status='review'}" )  #end
      #if(!$reviewGeometrics.HasNext) | last #end
    </td>
  </tr>
</table>

<ul class="geometriclistUL list_2">

  #foreach($geometric in $reviewGeometrics)
  #* set up authors*#
  #set($authors='')
  #capturefor(authors)
  #foreach ($author in $geometric.Authors)
  #each
  <span class="emailCol" rel="$!author.id">$!author.Name</span>
  #between
  /
  #end
  #end
  #* EOF set up  *#

  <li class="ui-widget-content ui-corner-all geometric_$!geometric.id con">
    #if($geometric.CheckedOutBy!=""  && $geometric.CheckedOutBy != $authorname)<span class="UinEdit ui-corner-bottom">
      &nbsp;&nbsp;&nbsp;$geometric.CheckedOutBy is editing this Geometric <a href="#" title="Published" rel="$geometric.id" class="buttons steal ui-button ui-widget ui-state-default ui-corner-all">
        <span class="ui-icon ui-icon-unlocked"> </span> Click to Release Geometric
      </a>
    </span><div class="inEdit ui-corner-all"> </div>#end
    <div class="geometric_aTar geometric_$!geometric.id" title="$!geometric.id">
      <div class='summaryCol'>
        <ul>
          #if($geometric.Title)<li class='Title'>
            <span>Title: </span>$!geometric.Title
          </li>#end
          #if($authors!='')<li class='Authors'>
            <span>Authors: </span>$authors
          </li>#end
          #if($geometric.Teaser)<li class='Teaser'>
            <span>Teaser: </span>
            <span class="Teaser">
              $Text.Fold($Controller.StripHtml($!geometric.Teaser,false),200)<br/>
            </span>
            <a href="$!siteroot/geometrics/readmore.castle?id=$!{geometric.id}">more</a>
          </li>#end
          #if($geometric.BodyText)<li class="Body">
            <span>Body: </span>
            <span class="Body">$Text.Fold($Controller.StripHtml($!geometric.BodyText,false),100)</span>
            <a href="$!siteroot/geometrics/readmore.castle?id=$!{geometric.id}">more</a>
          </li>#end
        </ul>
      </div>
      <div class='detailCol'>
        <ul>
          #if($geometric.Publishtime)<li class='date'>
            <span>Date: </span>$!geometric.Publishtime.ToString().Regeometric('12:00:00 AM','')
          </li>#end
          #if($geometric.Status.Title)<li class='Status'>
            <div>
              <span>Status: </span>$!geometric.Status.Title
            </div>
          </li>#end
          #if($geometric.BreakingNews)<li>
            <span>Breaking: </span>$!geometric.BreakingNews
          </li>#end
          #if($geometric.Hottopic)<li>
            <span>Hottopic: </span>$!geometric.Hottopic
          </li>#end
          #*#if($geometric.Location)<li>
            <span>Location: </span>$!geometric.Location
          </li>#end*#
          #if($geometric.GeometricType.Name)<li>
            <span>Type: </span>$!geometric.GeometricType.Name
          </li>#end
          #if($geometric.id)<li>
            <span>Id: </span>$!geometric.id
          </li>#end
        </ul>
      </div>
      <div class='actionCol'>
        <ul>
          #if($Controller.canEdit($geometric,$loginUser) || $geometric.CheckedOutBy == $authorname || $geometric.isCheckedOutNull())
          <li>
            <a href="#if($geometric.CheckedOutBy=="" || $geometric.CheckedOutBy == $authorname)$siteroot/geometrics/Edit_geometric.castle?id=$!{geometric.id} #else # #end" title="#if($geometric.CheckedOutBy)Is being edited by $geometric.CheckedOutBy #else Edit #end" class="buttons editIt ui-button ui-widget ui-state-default ui-corner-all ">
              <span class="ui-button-icon-primary ui-icon ui-icon-pencil"></span>
              <span class="actionText">Edit</span>
              <span class="actionpropt">&#187;</span>
            </a>
          </li>
          <li>
            <a href="$siteroot/geometrics/delete.castle?id=$!{geometric.id}" title="Delete"  class="buttons ui-button ui-widget ui-state-default ui-corner-all ">
              <span class="ui-button-icon-primary ui-icon ui-icon-trash"></span>
              <span class="actionText">Delete</span>
              <span class="actionpropt">&#187;</span>
            </a>
          </li>
          #end
          #if($Controller.canPublish($loginUser))
          <li>
            <a href="$siteroot/geometrics/setStatus.castle?id=$!{geometric.id}" title="Published" class="buttons pubState ui-button ui-widget ui-state-default ui-corner-all">
              <span class="ui-button-icon-primary ui-icon ui-icon-star"></span>
              <span class="actionText">Status</span>
              <span class="actionpropt">&#187;</span>
            </a>
          </li>
          #end
          <li>
            <a href="$siteroot/read/${geometric.CustomUrl}" target="_blank" title="View" class="buttons ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
              <span class="ui-button-icon-primary ui-icon ui-icon-search"></span>
              <span class="actionText">View</span>
              <span class="actionpropt">&#187;</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </li>
  #end
</ul>


<table width="60%" border="0" >
  <tr>
    <td>Showing $reviewGeometrics.FirstItem - $reviewGeometrics.LastItem of $reviewGeometrics.TotalItems</td>
    <td align="right">
      #if($reviewGeometrics.HasPrevious) $PaginationHelper.CreatePageLink( 1, "first",null, "%{searchId=$searchId,status='review'}" ) #end
      #if(!$reviewGeometrics.HasPrevious) first #end
      #if($reviewGeometrics.HasPrevious) | $PaginationHelper.CreatePageLink( $reviewGeometrics.PreviousIndex, "prev",null, "%{searchId=$searchId,status='review'}" ) #end
      #if(!$reviewGeometrics.HasPrevious) | prev #end
      #if($reviewGeometrics.HasNext) | $PaginationHelper.CreatePageLink( $reviewGeometrics.NextIndex, "next",null, "%{searchId=$searchId,status='review'}" ) #end
      #if(!$reviewGeometrics.HasNext) | next #end
      #if($reviewGeometrics.HasNext) | $PaginationHelper.CreatePageLink( $reviewGeometrics.LastIndex, "last",null, "%{searchId=$searchId,status='review'}" ) #end
      #if(!$reviewGeometrics.HasNext) | last #end
    </td>
  </tr>
</table>