#if($Flash.error)
<p style="color: red; font-weight: bold;">
    $Flash.error
</p>
#end
#capturefor(formbuttons)
    <input type="submit" value="Cancel" name="cancel" style="float:right"  class="cancel_btn ui-button ui-widget ui-state-default ui-corner-all"/>
    <input type="submit" value="#if($place.id!=0) Apply #else Save #end" name="apply" style="float:right" title="#if($place.id!=0)Apply #else Save #end and Return" class="ui-button ui-widget ui-state-default ui-corner-all" />
    <input type="submit" value="Submit" style="float:right" class="submit_btn ui-button ui-widget ui-state-default ui-corner-all" />
#end



<form action="update.castle" method="post">
	$Form.HiddenField("geometric.id")
	#if( $geometric.id==0 || $geometric.tmp)
		<input type="hidden" name="forced_tmp" value="1" />
	#end
	
	<fieldset><legend>General Information</legend>
		<p style="float:left;">Name:<br/>
			<input type="text" value="$!geometric.name" name="geometric.name" id="type_name" class="ui-widget ui-widget-content ui-corner-all " />
		</p>
		<p style="float:left;">Geometry Type:<br/>  
			<select name="geom_type" id="style_of">
				<option value="" #if($geometric.default_type=='')selected='selected'#end>Select a geometry type</option>
				<option value="marker" #if($geometric.default_type=='1')selected='selected'#end>Marker</option>
				<option value="polyline" #if($geometric.default_type=='2')selected='selected'#end>Line</option>
				<option value="polygon" #if($geometric.default_type=='3')selected='selected'#end>Polygon</option>
				<option value="rectangle" #if($geometric.default_type=='4')selected='selected'#end>Rectangle</option>
				<option value="circle" #if($geometric.default_type=='5')selected='selected'#end>Circle</option>
			</select>
		</p>
		<p style="float:left;">Geometry Style:<br/>  
			<select name="$geometric.style" id="style_of">
				<option value="" #if($ele.type=='')selected='selected'#end>Defaults</option>
				#foreach($style in $_styles)
					<option class="type" value="$style.id" #if($geo_style == $style) selected="selected" #end>$style.name</option>
				#end
			</select>
		</p>
	</fieldset>
	<div style="clear:left;"></div>
	<div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all place_new">
		<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
			<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
				<a href="#Visual">Visual</a>
			</li>
			<li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
				<a href="#Manual">Manual</a>
			</li>
		</ul>
	  
		<div id="Visual">
				<button id="drawingcontrolls" class="showing">Hide controlls</button>
				<button id="restart" >Restart</button>
				<button id="update" >Update</button>
				<button id="unselect" >un select selected</button>
				<div id="geometrics_drawing_map" style="width:100%;height:450px;"></div>
			$formbuttons
		</div>
		<div id="Manual">
			<fieldset><legend>Latitudes and Longitudes</legend>
				<textarea name="boundary" style="width:100%;height:250px;" id="latLong">$!spatial</textarea>
			</fieldset>
			<p>Encoded:<br/>
				<input type="text" value="$!geometric.encoded" name="geometric.encoded" id="geometric_encoded" class="ui-widget ui-widget-content ui-corner-all " />
			</p>
			$formbuttons
		</div>
	</div>
</form>
#if( !$ajaxed )
	<div class="ui-widget ui-widget-content ui-corner-left" style="position:absolute;bottom:10%;right:0px; z-index: 1;  ">
	  <div id="searchwell"></div>
	</div>
	
	
	
	<div style="display:none;">
		<div id="mapSearch">
			<h3>Search types</h3>
			<h4>Geo coded</h4>
			<input type="text" value="" id="searchbox"  />
			<h4>places</h4>
			<input id="searchTextField" type="text" size="50" placeholder="Anything you want!" />
			<div>
				<h4>local search</h4>
				<input type="text" id="queryInput" value="pullman" style="width: 250px;"/>
				<input type="button" value="Find" onclick="doSearch()"/>
			</div>
		</div>
	</div>
#end