
#if($Flash.massage)
<div style="margin-top: 20px; padding: 0 .7em;" class="ui-state-highlight ui-corner-all">
  <p style="line-height: 15px;padding-bottom: 0;">
    <span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-info"></span><strong>Note:</strong>$Flash.massage
  </p>
</div>
#end
#if($Flash.error)
<div style="margin-top: 20px; padding: 0 .7em;" class="ui-state-error ui-corner-all">
  <p style="line-height: 15px;padding-bottom: 0;">
    <span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-alert"></span><strong>Alert:</strong>$Flash.error
  </p>
</div>
#end

<script type="text/javascript">
  var availableTags = [$!locations];
</script>

<div id="dialog" title="Basic dialog" style="display:none;">
  <p>Choose the new state of the geometric</p>
</div>

<h3>Geometric List :</h3>
<div id="GeometricTypeDiv" style="float:right; height: 37px; margin-top: 7px; margin-right: 9px; position: relative; z-index: 1; color:#fff;">
  Geometric Types:<br/>
  <select id="listGeometricType">
    <option value="">Your Sections</option>
    <option value="-2" #if($searchId == -2) selected="selected" #end>Your Geometrics</option>
    <option value="-1" #if($searchId == -1) selected="selected" #end>All</option>
    #foreach($type in $geometrictype)
    <option value="$type.id" #if($searchId == $type.id) selected="selected" #end>$type.name</option>
    #end
  </select>
</div>

<div style="float: right; height: 37px; margin-top: 9px; position: relative; width: 270px; z-index: 1;top:0px;">
  <p>
    <a href="$siteroot/geometrics/new.castle" class="creation buttons ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
      <span class="ui-icon ui-icon-plusthick inlineIcon"></span>New Geometric
    </a>&nbsp;
  </p>
</div>
<div id="tabs" class="geometriclist ui-tabs ui-widget ui-widget-content ui-corner-all">
  <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
      <a href="#tabs-1">Published ($publishedGeometrics.TotalItems)</a>
    </li>
    <li class="ui-state-default ui-corner-top">
      <a href="#tabs-2">Review ($reviewGeometrics.TotalItems)</a>
    </li>
    <li class="ui-state-default ui-corner-top">
      <a href="#tabs-3">Draft ($draftGeometrics.TotalItems)</a>
    </li>
  </ul>


  <div id="tabs-1">
    #parse("geometrics/by_published_status__list.vm")
  </div>

  <div id="tabs-2">
    #parse("geometrics/by_review_status__list.vm")
  </div>

  <div id="tabs-3">
    #parse("geometrics/by_draft_status__list.vm")
  </div>

</div>