#capturefor(admin_js)<script type="text/javascript">
  var author_count =#if($geometric.Authors.Count)$geometric.Authors.Count #else 0 #end + 2;
  var tag_count = #if($geometric.Tags.Count)$geometric.Tags.Count #else 0 #end + 2;
  var image_count = #if($geometric.Images.Count)$geometric.Images.Count #else 0 #end  + 2;
</script>

<script type="text/javascript">


  var availablecredits = [$credits];




  var availableTags = [$!locations];
  #* set up images*#
  #set($availableImages='')
  #capturefor(availableImages)
  #foreach ($image in $geometric.Images)
  #each
  {id:"${Image.id}",name:"${Image.FileName}",url:"/image/download.castle?id=${Image.id}&geometricid=${geometric.id}&m=crop&w=250&h=250&pre=TMP"}
  #between
  ,
  #end
  #end
  #* EOF set up  *#

  var tinyMCEImageList = new Array($!availableImages);

  var geometric_id=$geometric.id;
</script>
#end


#if($Flash.error)
<p style="color: red; font-weight: bold;">
    $Flash.error
</p>
#end
#if($geometric.id)
	#if($geometric.id!=0)<a href="$siteroot/read/${geometric.CustomUrl}" style="height:33px" target="_blank" title="View" class="PDF creation buttons ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
		<span class="ui-icon ui-icon-search"  style="margin-top: 3px;"> </span>
	</a>#end
#end

<div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all geometric_new">
  <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
      <a href="#tabs-1">Basic</a>
    </li>
    <li class="ui-state-default ui-corner-top">
      <a href="#tabs-2">Text</a>
    </li>
    <li class="ui-state-default ui-corner-top">
      <a href="#tabs-3">Detail</a>
    </li>
    <li class="ui-state-default ui-corner-top">
      <a href="#tabs-4">Images</a>
    </li>
    #if($comments.TotalItems&&$comments.TotalItems!=0)<li class="ui-state-default ui-corner-top">
      <a href="#tabs-5">Comments</a>
    </li>#end
  </ul>
  
<form action="update.castle" method="post">
  
  
  <div id="tabs-1">
    <input type="submit" value="Cancel" name="cancel" style="float:right"  class="cancel_btn"/>
    <input type="submit" value="#if($geometric.id!=0) Apply #else Save #end" name="apply" style="float:right" title="#if($geometric.id!=0)Apply #else Save #end and Return" />
    <input type="submit" value="Submit" style="float:right" class="submit_btn" />
    
    $Form.HiddenField("geometric.id")

    <h3>Geometric  #if($geometric.id!=0)($geometric.id)#end</h3>
    <p>
      Title:<br/>
      #*$Form.TextField("geometric.title")*#
      <input type="text" value="$!geometric.title" name="geometric.title" id="geometric_title" class="ui-widget ui-widget-content ui-corner-all w500" />
    </p>
    <p>
      Custom Url:<br/>
      #*$Form.TextField("geometric.CustomUrl")*#
      <input type="text" value="$!geometric.CustomUrl" name="geometric.CustomUrl" id="geometric_CustomUrl" class="ui-widget ui-widget-content ui-corner-all w500" />#if($geometric.CustomUrl)#if($Controller.NVchecktitle($geometric.CustomUrl,true)!=$geometric.id && $Controller.NVchecktitle($geometric.CustomUrl,true)!="false")<span id="hasTitle">This url is in use. (geometric id: $Controller.NVchecktitle($geometric.CustomUrl,true) )</span>#end#end<br/>
      <span style="font-size:10px;line-height:12px;">
        <strong>Note:</strong>
        <em>This is for SEO friendliness.  A suggested URL is put in for you the first time as you enter you title and publish date.  Once the article is publish, you will want to leave it as is.  If you wish to change it do so before you publish it.  If you change it after the article is published this will hinder the SEO for a bit and may leave any shared links broken.</em>
      </span>
    </p>


    <p>
      Sub Head : <br/>
      #*$Form.TextField("geometric.subHead")*#
      <input type="text" value="$!geometric.subHead" name="geometric.subHead" id="geometric_subHead" class="ui-widget ui-widget-content ui-corner-all w500" />
    </p>
    #*<p>
      Geometric Location:<br/>
      <input type="text" value="$!geometric.Location" name="geometric.Location" id="geometric_Location" class="ui-widget ui-widget-content ui-corner-all " />
    </p>*#
    #if($Controller.canPublish($loginUser)) <p class="wsu_ui">
      Publication Date:  <br/>
      <input type="text" value="$!geometric.publishtime" name="geometric.publishtime" id="geometric_publishtime" class="ui-widget ui-widget-content ui-corner-all w150" />
    </p>
    <p>
      Geometric Status:<br/>
      $Form.Select("geometric.status.id", $statuslists, "%{value='Id', text='Title'}")
    </p>
    #else
    <input type="hidden" value="1" name="geometric.status.id" />
    #end
    <p>
      Show in breaking News: <br/> $FormHelper.CheckboxField("geometric.BreakingNews")
    </p>
    <p>
      Show in featured News: <br/> $FormHelper.CheckboxField("geometric.FeaturedNews")
    </p>

    #set($count = 0)
    #set($id = 0)
    <div id="tagArea">
      <h3>Tags</h3>
      <h4 style="display:inline-block;">Existing tags</h4>
      <h5>Select or create new tag (if one isn't already created)</h5>
      <h6>Type a new tag name if not in the list.</h6>

      <ul style="list-style:none;">
        #foreach($geometrictag in $geometrictags)
        <li>
          <select name="tags[$!count].id" id="tag_$geometrictag.id">
            <option class="" value="">-select-</option>
            #foreach($tag in $tags)
            <option class="tag" value="$tag.id" #if($geometrictag == $tag) selected="selected" #end>$!tag.Name</option>
            #set($id = $geometrictag.id)
            #end
          </select>

          #if($geometrictag.id!=0)
          <a rel="$geometrictag.id" title="$geometric.id" style="cursor:pointer;display: inline-block;" class="DeleteTag ui-state-error ui-corner-all">
            <span class="ui-icon ui-icon-trash"></span>
          </a>
          #else
          <input type="text" class="tag ui-widget ui-widget-content ui-corner-all " name="newtag" value="" style="cursor:pointer;display: inline-block;" />
          #end
        </li>
        #set($count = $count + 1)
        #end
      </ul>

    </div>

    <div id="NewTagHolderDiv"></div>

    <a style="cursor:pointer;" onclick="AddTag()">+ add additional tags</a>
    <div class="clear">
      <br/>
      <input type="submit" value="Submit"  class="submit_btn"  style="float:left"/>
      <input type="submit" value="#if($geometric.id!=0) Apply #else Save #end" name="apply" style="float:left" title="#if($geometric.id!=0)Apply #else Save #end and Return" />
      <input type="submit" value="Cancel" name="cancel" style="float:left"  class="cancel_btn"/>
      <br/>
    </div>
  </div>
  <div id="tabs-2">
    <input type="submit" value="Cancel" name="cancel" style="float:right" class="cancel_btn" />
    <input type="submit" value="#if($geometric.id!=0) Apply #else Save #end" name="apply" style="float:right" title="#if($geometric.id!=0)Apply #else Save #end and Return" />
    <input type="submit" value="Submit" class="submit_btn"  style="float:right" />

      <h3>Teaser :</h3>
      #*$Form.TextArea("geometric.Teaser")*#
      <textarea id="geometric_Teaser" name="geometric.Teaser"  class="tinyEditor">$!geometric.Teaser</textarea>  

      <h3>Body Text :</h3>
      #*$Form.TextArea("geometric.Bodytext")*#
      <textarea id="geometric_Bodytext" name="geometric.Bodytext"  class="tinyEditor">$!geometric.Bodytext</textarea>

    <div class="clear">
      <br/>
      <input type="submit" value="Submit" class="submit_btn"  style="float:left"/>
      <input type="submit" value="#if($geometric.id!=0) Apply #else Save #end" name="apply" style="float:left" title="#if($geometric.id!=0)Apply #else Save #end and Return" />
      <input type="submit" value="Cancel" name="cancel" style="float:left"  class="cancel_btn"/>
      <br/>
    </div>
  </div>
  
  
  <div id="tabs-3">
    <input type="submit" value="Cancel" name="cancel" style="float:right" class="cancel_btn" />
    <input type="submit" value="#if($geometric.id!=0) Apply #else Save #end" name="apply" style="float:right" title="#if($geometric.id!=0)Apply #else Save #end and Return" />
    <input type="submit" value="Submit" class="submit_btn"  style="float:right" />

    <h3>Geometric Type :</h3>
    $Form.Select("geometric.geometricType.id", $geometrictype, "%{value='id', text='Name', firstoption='-select-',firstoptionvalue=''}") 	  	 <br/><br/>

    <div id="AuthorDiv">
      <h3>Authors</h3>
      <h4>Select or create new author (if one isn't already created)</h4>
      #set($count = 0)
      #set($id = 0)
      #foreach($geometricauthor in $geometricauthors)
      <div id="div$geometricauthor.id">
        <select name="Authors[$!count].id" id="author$geometricauthor" class="authorSelect">
          <option class="" value="">-select-</option>
          #foreach($author in $authors)
          <option class="author" value="$author.id" #if($geometricauthor == $author) selected="selected" #end>$!author.Name</option>
          #set($id = $geometricauthor.id)
          #end
        </select>

        #if($id!=0)
        <a title="$id" rel="$geometric.id"  style="cursor:pointer;display: inline-block;" class="deleteAuthor ui-state-error ui-corner-all">
          <span class="ui-icon ui-icon-trash"></span>
        </a>
        #end
        <div class="lightLine"></div>
      </div>
      #set($count = $count + 1)
      #end

      #*<select name="authors[$!count].id" id="author">
        <option class="" value="">-select-</option>
        #foreach($author in $authors)
        <option class="author" value="$author.id" #if($geometricauthor == $author) selected="selected" #end>$!author.Name</option>
        #end
      </select>*#


      <div class="lightLine"></div>
      <input type="hidden" id="NextAuthorID" name="NextAuthorID" value="$my_var"/>

      <div id="NewAuthorHolderDiv"></div>
    </div>

    <a style="cursor:pointer;" onclick="AddAuthor()">+ add additional authors</a>
    <div class="clear">
      <br/>
      <input type="submit" value="Submit" class="submit_btn"  style="float:left"/>
      <input type="submit" value="#if($geometric.id!=0) Apply #else Save #end" name="apply" style="float:left" title="#if($geometric.id!=0)Apply #else Save #end and Return" />
      <input type="submit" value="Cancel" name="cancel" style="float:left"  class="cancel_btn"/>
      <br/>
    </div>
  <br/>
    
  </div>
  
    <div id="tabs-4">
        <input type="submit" value="Cancel" name="cancel" style="float:right" class="cancel_btn" />
        <input type="submit" value="#if($geometric.id!=0) Apply #else Save #end" name="apply" style="float:right" title="#if($geometric.id!=0)Apply #else Save #end and Return" />
        <input type="submit" value="Submit" class="submit_btn"  style="float:right" />
    
        <div id="ImageDiv">
            <h3>Geometric Images</h3>
        
            <a href="#" class="insotryupload buttons">Upload Images</a>
            <br/><br/>
           <span id="img_layout_choice" class="grid"></span>
            <div id="browserBox" class="ui-corner-all grid">
                #foreach($geometricimage in $geometricimages)
                    #if($geometricimage.id!=0)
                    <input type="hidden" name="images[$!{geometricimage.id}].id" value="$!{geometricimage.id}" />
                        <span class="imageBox">
                            <img src="/image/download.castle?id=${geometricimage.id}&geometricid=${geometric.id}&m=crop&w=175&h=175&pre=borwser" class="previewImg" width="175" height="175"/>
                            <a title="$geometricimage.id" rel="$geometric.id" style="cursor:pointer;display: inline-block;" class="DeleteImage ui-state-error ui-corner-all">
                                <span class="ui-icon ui-icon-trash"></span>
                            </a>
                            <span class="imgInfo">
                              <span><label>Caption:</label><input type="text" value="$!{geometricimage.caption}" name="images[$!{geometricimage.id}].Caption" class=""/></span>
                              <span><label>Credit:</label><input type="text" value="$!{geometricimage.credit}" name="images[$!{geometricimage.id}].Credit" class="geometricCredit"/></span>
                              <span><label>Order:</label>
                              <input type="hidden" value="$!{geometricimage.GeometricImages.get_Item(0).id}" name="GeometricImages[$!{geometricimage.id}].id" class=""/>
                              <input type="text" value="$!{geometricimage.GeometricImages.get_Item(0).geometricOrder}" name="GeometricImages[$!{geometricimage.id}].geometricOrder" class="geometricOrder"/>
                              <input type="hidden" value="$!{geometricimage.id}" name="GeometricImages[$!{geometricimage.id}].Image.id" class="geometricOrderId"/>
                              </span>
                            </span>
                        </span>
                    #end
                #end
                <div class="clearings" style="clear:both;"></div>
            </div>
            <div class="clear">
                <br/>
                <input type="submit" value="Submit" class="submit_btn"  style="float:left"/>
                <input type="submit" value="#if($geometric.id!=0) Apply #else Save #end" name="apply" style="float:left" title="#if($geometric.id!=0)Apply #else Save #end and Return" />
                <input type="submit" value="Cancel" name="cancel" style="float:left"  class="cancel_btn"/>
                <br/>
            </div>
        </div>
    </div>
</form>
  #if($comments.TotalItems&&$comments.TotalItems!=0)
  <div id="tabs-5">

    <h3>Comment List</h3>

    <table width="100%" border="0" style="float:right;margin-right:5px;margin-top:7px;">
      <tr>
        <td>Showing $comments.FirstItem - $comments.LastItem of $comments.TotalItems</td>
        <td align="right">
          #if($comments.HasPrevious) $PaginationHelper.CreatePageLink( 1, "first" )
          | $PaginationHelper.CreatePageLink( $comments.PreviousIndex, "prev" ) #end
          #if($comments.HasNext) | $PaginationHelper.CreatePageLink( $comments.NextIndex, "next" )
          | $PaginationHelper.CreatePageLink( $comments.LastIndex, "last" ) #end
        </td>
      </tr>
    </table>
    <table  width="100%" class="ui-widget ui-widget-content">
      <thead>
        <tr class="ui-widget-header ">
          <th>Geometric</th>
          <th>Comments</th>
          <th>Flagged</th>
          <th>Published</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>

        #set ($c=0)
        #foreach($comment in $comments)
        <tr class="#if($c%2>0) even #else odd #end #if($comment.adminRead==false) ui-state-highlight #end ">
          <td>$!comment.Geometric.id</td>
          <td>$Text.Fold($Controller.StripHtml($!comment.Comments,false),100)</td>
          <td #if($comment.Flagged==true) class="ui-state-error" #end>$!comment.Flagged</td>
          <td>$!comment.published</td>
          <td class='actionArea'>

            <span style='font-size:0.7em;'>
              <a href="../comment/edit.castle?id=$!{comment.id}" title="Edit" class="buttons ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                <span class="ui-icon ui-icon-pencil"></span>
              </a>
              <a href="../comment/delete.castle?id=$!{comment.id}" title="Delete" class="buttons ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                <span class="ui-icon ui-icon-trash"></span>
              </a>
            </span>
          </td>
        </tr>
        #set ($c=$c+1)
        #end
      </tbody>
    </table>
    <table width="100%" border="0" >
      <tr>
        <td>Showing $comments.FirstItem - $comments.LastItem of $comments.TotalItems</td>
        <td align="right">
          #if($comments.HasPrevious) $PaginationHelper.CreatePageLink( 1, "first" )
          | $PaginationHelper.CreatePageLink( $comments.PreviousIndex, "prev" ) #end
          #if($comments.HasNext) | $PaginationHelper.CreatePageLink( $comments.NextIndex, "next" )
          | $PaginationHelper.CreatePageLink( $comments.LastIndex, "last" ) #end
        </td>
      </tr>
    </table>
  </div>
  #end


</div>
