#if($Flash.error)
<p style="color: red; font-weight: bold;">
    $Flash.error
</p>
#end
#capturefor(formbuttons)
    <input type="submit" value="Cancel" name="cancel" style="float:right"  class="cancel_btn ui-button ui-widget ui-state-default ui-corner-all"/>
    <input type="submit" value="#if($place.id!=0) Apply #else Save #end" name="apply" style="float:right" title="#if($place.id!=0)Apply #else Save #end and Return" class="ui-button ui-widget ui-state-default ui-corner-all" />
    <input type="submit" value="Submit" style="float:right" class="submit_btn ui-button ui-widget ui-state-default ui-corner-all" />
#end



<form action="update.castle" method="post" id="shapeEditor">
	$Form.HiddenField("geometric.id")
	#if( $geometric.id==0 || $geometric.tmp)
		<input type="hidden" name="forced_tmp" value="1" />
	#end
	
	<div style="height:35px;padding-bottom:5px;">
		<button id="drawingcontrolls" class="showing">Hide controlls</button>
		<button id="restart" >Restart</button>
		<button id="update" >Update</button>
		<button id="unselect" >un select selected</button>|  <button id="delete-button">Delete Selected Shape</button>
    <button id="delete-all-button">Delete All Shapes</button>
	<div id="color-palette"></div>

		<div class="clear"></div>
	</div>

	<div id="geometrics_drawing_map" style="width:100%;min-height:450px;opacity: 0.8;"></div>

	<div id="settings_wrap">
		<div id="side_tabs" class=" ui-widget ui-widget-content ui-corner-left place_new" >
			<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-left">
				<li class="ui-state-default ui-corner-left #if( $view.id==0 || $view.tmp) ui-state-active #end">
					<a href="#tabs_General" title="General Settings"><i class="fa fa-cog"></i></a>
				</li>
				<li class="ui-state-default ui-corner-left">
					<a href="#tab_Manual" title="Manual Entry"><i class="fa fa-pencil"></i></a>
				</li>
			</ul>
			<div id="tabs_General" class="mainAreaTabs" #if( $view.id!=0 && !$view.tmp) style="display: none;" #end>#parse("geometrics/tabs/tab_general.vm")</div>  
			<div id="tab_Manual" class="mainAreaTabs" style="display: none;">#parse("geometrics/tabs/tab_manual.vm")</div>  
		</div>
	</div>
</form>
