<li class="pod opRow ui-state-highlight op_marker op_polyline op_polygon op_rectangle op_circle">
	<span class="lable">Visible</span>
	<span class="controll"><br/>
		<input type="hidden" value="visible" name="ele.options[$o].label"/>
		<input type="checkbox" value="$!ele.options[$o].val" name="ele.options[$o].val"/>
	</span>
</li>