<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="monorail" type="Castle.MonoRail.Framework.Configuration.MonoRailSectionHandler, Castle.MonoRail.Framework" />
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <!-- 
		For more on MonoRail configuration see 
		http://www.castleproject.org/monorail/documentation/v1rc3/index.html
	-->
  <monorail smtpHost="mail.wsu.edu" useWindsorIntegration="true">
    <viewEngines viewPathRoot="Views">
      <add xhtml="false" type="Castle.MonoRail.Framework.Views.NVelocity.NVelocityViewEngine, Castle.MonoRail.Framework.Views.NVelocity" />
    </viewEngines>
    <routing>
      <!--
      <rule>
        <pattern>/</pattern>
        <replace><![CDATA[ ~/public/render.castle?everUrl=$1 ]]></replace>
      </rule>
       <rule>
        <pattern>/home</pattern>
        <replace><![CDATA[ /public/index.castle ]]></replace>
      </rule>
      -->
      <rule>
        <pattern>/central/</pattern>
        <replace><![CDATA[ /public/central.castle ]]></replace>
      </rule>
      <rule>
        <pattern>/rt/</pattern>
        <replace><![CDATA[ /public/render.castle?everUrl=$1 ]]></replace>
      </rule>
      <!--<rule>
        <pattern>/</pattern>
        <replace><![CDATA[ /public/central.castle  ]]></replace>
      </rule>
      <rule>
        <pattern>/public/(.+)</pattern>
        <replace><![CDATA[ /public/render.castle?everUrl=$1 ]]></replace>
      </rule>
      
      <rule>
        <pattern>/$</pattern>
        <replace><![CDATA[ ~/public/index.castle ]]></replace>
      </rule>
      <rule>
        <pattern>/index.html$</pattern>
        <replace><![CDATA[ ~/public/index.castle ]]></replace>
      </rule>
      <rule>
        <pattern>/manager$</pattern>
        <replace><![CDATA[ ~/place/list.castle ]]></replace>
      </rule>
      <rule>
        <pattern>/sitemap.xml</pattern>
        <replace><![CDATA[ ~/public/render.castle?everUrl=$1 ]]></replace>
      </rule>
      <rule>
        <pattern>/home</pattern>
        <replace><![CDATA[ ~/public/render.castle?everUrl=$1 ]]></replace>
      </rule>
      <rule>
        <pattern>/place-image/(.+)</pattern>
        <replace><![CDATA[ ~/public/render.castle?everUrl=$1 ]]></replace>
      </rule>
      <rule>
        <pattern>/media/download.castle?id=(.+)</pattern>
        <replace><![CDATA[ ~/media/download.castle?id=$1 ]]></replace>
      </rule>
      <rule>
        <pattern>/discussion/(.+)</pattern>
        <replace><![CDATA[ ~/public/render.castle?everUrl=$1 ]]></replace>
      </rule>
      <rule>
        <pattern>/read/(.+)</pattern>
        <replace><![CDATA[ /public/render.castle?everUrl=$1 ]]></replace>
      </rule>
      <rule>
        <pattern>/assets/js/</pattern>
        <replace><![CDATA[ /public/render.castle?everUrl=$1 ]]></replace>
      </rule>-->
      <rule>
        <pattern>/admin$</pattern>
        <replace><![CDATA[ ~/admin/admin.castle ]]></replace>
      </rule>
      <controllers>
        <assembly>Castle.Monorail.ViewComponents</assembly>
      </controllers>
    </routing>
  </monorail>
  <system.web>
    <sessionState timeout="1" />
    <httpHandlers>
      <!-- block direct user access to template files --> 
      <add verb="*" path="*.vm" type="System.Web.HttpForbiddenHandler" />
      <add verb="*" path="*.njs" type="System.Web.HttpForbiddenHandler" />
      <add verb="*" path="*.brail" type="System.Web.HttpForbiddenHandler" />
      <add verb="*" path="*.brailjs" type="System.Web.HttpForbiddenHandler" />
      <add verb="*" path="*.st" type="System.Web.HttpForbiddenHandler" />
      <add verb="*" path="*.castle" type="Castle.MonoRail.Framework.MonoRailHttpHandlerFactory, Castle.MonoRail.Framework" />
      <add verb="*" path="TinyMCEHandler.aspx" type="Moxiecode.TinyMCE.Web.HttpHandler, Moxiecode.TinyMCE" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="routing" type="Castle.MonoRail.Framework.RoutingModule, Castle.MonoRail.Framework" />
      <add name="ar_sessionscope" type="Castle.ActiveRecord.Framework.SessionScopeWebModule, Castle.ActiveRecord" />
    </httpModules>
    <customErrors mode="Off" />
    <httpRuntime executionTimeout="19600" maxRequestLength="1048576" />
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!--Container configuration. For more information see http://www.castleproject.org/container/documentation/trunk/manual/windsorconfigref.html-->
  <!--and http://www.castleproject.org/container/documentation/trunk/usersguide/compparams.html-->
  <castle>
    <include uri="file://Config/properties.config" />
    <include uri="file://Config/facilities.config" />
    <include uri="file://Config/controllers.config" />
    <include uri="file://Config/components.config" />
  </castle>
  <system.webServer>
	<modules>
		<add name="routing" type="Castle.MonoRail.Framework.RoutingModule, Castle.MonoRail.Framework" />
		<add name="ar_sessionscope" type="Castle.ActiveRecord.Framework.SessionScopeWebModule, Castle.ActiveRecord" preCondition="managedHandler" />
    </modules>
	 <handlers>
		<add name="MonoRail" path="*.castle" verb="*" type="Castle.MonoRail.Framework.MonoRailHttpHandlerFactory,Castle.MonoRail.Framework" preCondition="integratedMode" />
	 </handlers>
    <defaultDocument>
      <files>
        <clear />
        <!--<add value="default.aspx" />
                <add value="features.castle" />-->
        <add value="index.html" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors errorMode="Detailed" />
  </system.webServer>
  <runtime>

  </runtime>
</configuration>
