#* 
NOTE COMMENTED OUT PARTS ARE THE PART THAT THOU WORK FOR THE MOST PART ARE THERE AS A SHELL FOR FEATURE PARTS
*#


#capturefor(formbuttons)
    <input type="submit" value="Cancel" name="cancel" style="float:right"  class="cancel_btn ui-button ui-widget ui-state-default ui-corner-all"/>
    <input type="submit" value="#if($view.id!=0) Apply #else Save #end" name="apply" style="float:right" title="#if($view.id!=0)Apply #else Save #end and Return" class="ui-button ui-widget ui-state-default ui-corner-all" />
    <input type="submit" value="Submit" style="float:right" class="submit_btn ui-button ui-widget ui-state-default ui-corner-all" />
#end

<div id="runningOptions">$!options_json</div>
<div id="shape" style="position:absolute;top:-9999em;left:-9999em;">$!shapes</div>
<script type="text/javascript">
	var base = {#if(${baseJson})"mapTypeId":google.maps.MapTypeId.${baseJson}#end};
</script>
#if($Flash.error)
	<p style="color: red; font-weight: bold;">
		$Flash.error
	</p>
#end
<div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all place_new">
  <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
      <a href="#tabs_Basic">Basic</a>
    </li>
   <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
      <a href="#tabs_Options">Options</a>
    </li>
    <li class="ui-state-default ui-corner-top">
      <a href="#tabs_SAMPLE">Map Preview</a>
    </li>
   #* <li class="ui-state-default ui-corner-top">
      <a href="#tabs_Text">Text</a>
    </li> *#
    <li class="ui-state-default ui-corner-top">
      <a href="#tabs_Detail">Detail</a>
    </li>
     #if(${fields.count}>0)<li class="ui-state-default ui-corner-top">
      <a href="#tabs_FIELDS">Fields</a>
    </li>   #end
    #*<li class="ui-state-default ui-corner-top">
      <a href="#tabs_IMAGES">Images</a>
    </li>*#
    <li class="ui-state-default ui-corner-top">
      <a href="#tabs_OUTPUT">Output</a>
    </li>
    #if($comments.TotalItems&&$comments.TotalItems!=0)<li class="ui-state-default ui-corner-top">
      <a href="#tabs_COMMENTS">Comments</a>
    </li>#end
  </ul>
  
<form action="update.castle" method="post" id="editor_form">

  <div id="tabs_Basic" class="mainAreaTabs">
		$formbuttons
		<p class="validateTips">* fields are required.</p>
        $Form.HiddenField("view.id")
		#if( $view.id==0 || $view.tmp)
			<input type="hidden" name="forced_tmp" value="1" />
		#end
		<fieldset style="position:relative;"><legend>Map Basics</legend>
				
				<label for="Lat"><strong>Name: </strong></label>
				<input type="text" name="view.name" id="name" value="$!view.name" class="text ui-widget-content ui-corner-all w500" /><br/>
				<hr/>
				<label for="name">Alias</label>
				
				<input type="text" name="view.alias" value="$!{view.alias}" id="urlAlias" required="required"/>
				#set($mess="You must provide this url.  All output will be called with this string. Note you will not want to use characters such as &quot; _ | ' ? &map; % ^ &quot;  being that  those are going to destroy the optimal efficiency of the map displaying.")
				#parse("admin/noted.vm")<br/>
				<strong>The url is <span class="aliasState">needed to access your map view.</span></strong>
			
				<hr/>
			<label for="campus"><strong>Campus:</strong></label>&nbsp;
				<select name="view.campus" id="commentable">
					#foreach($campus in $campuses)
						<option class="type" value="$campus.id" #if($view.campus == $campus) selected="selected" #end>$!campus.name</option>
					#end
				</select>
				#set($mess="Every map is tied to down to a campus.  Thou you could make a map that incorporates other campus places, there has to be a home point for the map view.")
				#parse("admin/noted.vm")
				<hr/>
			<label for="commentable"><strong>Commentable:</strong></label>&nbsp;
				<select name="view.commentable" id="commentable">
					<option value="true" #if($view.commentable && $view.commentable=="true")selected="selected"#end >Yes</option>
					<option value="false" #if(!$view.commentable || $view.commentable=="false")selected="selected"#end >No</option>
				</select>
				#set($mess="Any item that gets any comments will ONLY show up under this view.  In no other view will the comment ever show up regardless if the item it's self is shared between any other map view.")
				#parse("admin/noted.vm")
				<hr/>
			<label for="sharable"><strong>Sharable:</strong></label>&nbsp;
				<select name="view.sharable" id="sharable">
					<option value="true" #if($view.sharable && $view.sharable=="true")selected="selected"#end >Yes</option>
					<option value="false" #if(!$view.sharable || $view.sharable=="false")selected="selected"#end >No</option>
				</select>
				#set($mess="Give the clients/end users access to the urls and code that would let them embed and or share socially this map view.")
				#parse("admin/noted.vm")
		</fieldset>

		<fieldset style="position:relative;">
			<legend>Dimensions</legend>
			<h6><em>Both will default to 100% if blank or 0</em></h6>
			<div class="col2"  style="">	
				<label for="Lat"><strong>Width</strong></label><br/>
				<input type="text" name="view.width" id="width" value="$!view.width" class="text ui-widget-content ui-corner-all" />
			</div><br/> 
			<div class="col2"  style="">	
				<label for="Lat"><strong>Height</strong></label><br/>
				<input type="text" name="view.height" id="height" value="$!view.height" class="text ui-widget-content ui-corner-all" />
				#set($mess="You may resize the map thru the <a href='#tabs_SAMPLE' onclick='$tabs.tabs(\"select\",\"#tabs_SAMPLE\");'>Preview tab</a> by simply draging the corner of the map to the size you wish to see")
				#parse("admin/noted.vm")
			</div>
		</fieldset>
		<fieldset style="position:relative;">
			<legend>Center</legend>
			<div class="col2"  style="">
				<label for="Lat"><strong>Latitude</strong></label><br/>
				<input type="text" name="Length" id="Lat" #if($lat && $lat!="") value="$!lat" #else #if($campus.latitude && $campus.latitude!="") value="$campus.latitude" #else value="46.73304697156661" #end #end class="text ui-widget-content ui-corner-all" required="required" />
			</div><br/> 
			<div class="col2"  style="">
				<label for="Long"><strong>Longitude</strong></label><br/>
				<input type="text" name="LongLength" id="Long" #if($long && $long!="") value="$!long" #else #if($campus.longitude && $campus.longitude!="") value="$campus.longitude" #else value="-117.15406340441444" #end #end class="text ui-widget-content ui-corner-all" required="required" />
				#set($mess="by draging the map with drag mode on thru the <a href='#tabs_SAMPLE' onclick='$tabs.tabs(\"select\",\"#tabs_SAMPLE\");'>Preview tab</a> and simple draging the map to the view you wish to see")
				#parse("admin/noted.vm")
			</div>
		</fieldset>
		<fieldset id="onMap"><legend>On The Map</legend>
			<fieldset style="display:inline-block; float:left;margin-right:13px;width:205px;" role="place">
				<legend><h3 style="padding: 0px; margin: 0px;">Used <span>Place</span>s</h3></legend>
				<div class="listPicker ui-widget-content ui-corner-top">	
					<ol id="places" class="sortable">
						#set($c=0)
						#foreach($place in $view.places)
							<li  id="list_${c}">
								<div style="padding: 1px;"><span style="font-size:0.5em; float:right;"> <a href="#" title="Remove" class="tiny buttons deleteplace ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"><span class="ui-icon ui-icon-trash"></span></a></span>
									$!place.prime_name<input type="hidden" name="placelist[]" class="list_place" value="$place.id" /><em></em>
								</div>	
							</li>
							#set($c=$c+1)
						#end
						#if($c==0)
							<li class="ini"><div><h5>Add place from below</h5></div></li>
						#end
					</ol>		
				</div>	
					<h6 style="color: #981E32;font-size: 9px; padding: 0px; line-height: 10px; text-align: center; height: 10px; margin-top: 2px;">Simply drag the bars to change the order.</h6>
				<hr style="margin: 2px 0px;"/>
				<label for="places">Add Places to the Map,</label><br/>
				<strong>Under:</strong>
				<select id="placeFilter" class="onfliterList">
                	<option value="">Filter Selection</option>
					<option value="authors_places">Your Places</option>
					<!--<option value="owned_sections">Your Sections</option>-->
					<option value="all_places">All</option>
					<option value="categories">Categories</option>
                    <option value="colleges">Colleges</option>
                    <option value="admindepartments">Admin Departments</option>
                    <option value="departments">Departments</option>
                    <option value="schools">Schools</option>
                    <option value="programs">Programs</option>
				</select><br/>
                <span class="subFilter" style="display:none;">
                    <strong>for:</strong>
                    <select id="placeSubFilter" class="onsubfliterList w200">
                        <option value="">All</option>
                        #foreach($cat in $listcats)
                            <option value="$cat.id" #if($searchId == $cat.id) selected="selected" #end>$Controller.repeatStr("- ",$cat.level)$cat.name</option>
                        #end
                    </select><br/>
                </span>
               
                <span class="mainFilter" style="display:none;">
                    <select id="place_select" class="finFill" style="width:171px;">
                        <option class="place" value="">Select to add</option>
                        #foreach($place in $places)
                            <option class="place" value="$place.id" #if($view.places.Contains($place))disabled="disabled"#end>$!place.prime_name</option>
                        #end
                    </select><a href="#" title="Add Place" id="addPlaceSelect" class="addSelecttion dynoList buttons ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"><span class="ui-icon ui-icon-plus"></span></a><br/>
				</span>
				
				<br/>
				#set($mess="If a place has a shape <br/>you may wish to not pick <br/>a Geometric Shape.")
				#parse("admin/noted.vm")
				
				
				
				<br/><strong>force marker style:</strong>
				<select name="view.forced_marker_style" id="forced_marker_style">
					<option class="geometric" value="" #if($!view.forced_marker_style) selected="selected" #end>Passthru (none)</option>
                    #set($i=0)
					#foreach($style in $styles_marker)
                   		#if($i==0)<optgroup label="Marker styles">#end
						<option class="geometric" value="$style.id" #if($view.forced_marker_style.id == $style.id) selected="selected" #end>$!style.name</option>
                        #set($i=$i+1)
					#end
				</select>
			</fieldset>
			<fieldset style="display:inline-block; float:left;margin-right:13px;width:205px;" role="geo">
			
				<legend><h3 style="padding: 0px; margin: 0px;">Used <span>Shape</span>s</h3></legend>
				<div class="listPicker ui-widget-content ui-corner-top">		
					<ol id="geos" class="sortable">
						#set($c=0)
						#foreach($geo in $view.geometrics)
							<li  id="list_${c}">
								<div style="padding: 1px;"><span style="font-size:0.5em; float:right;"> <a href="#" title="Remove" class="tiny buttons deleteplace ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"><span class="ui-icon ui-icon-trash"></span></a></span>
									$!geo.name<input type="hidden" name="geolist[]" class="list_geo" value="$geo.id" /><em></em>
								</div>	
							</li>
							#set($c=$c+1)
						#end
						#if($c==0)
							<li class="ini"><div><h5>Add shape from below</h5></div></li>
						#end
					</ol>		
				</div>	
					<h6 style="color: #981E32;font-size: 9px; padding: 0px; line-height: 10px; text-align: center; height: 10px; margin-top: 2px;">Simply drag the bars to change the order.</h6>
				<hr style="margin: 2px 0px;"/>

                <label for="name">Add Shapes to the Map,</label><br/>
				<strong>Under:</strong>
				<select id="geoFilter" class="onfliterList">
                	<option value="">Filter Selection</option>
					<option value="authors_geometrics">Your Shapes</option>
					<!--<option value="owned_sections">Your Sections</option>-->
					<option value="all_geometrics">All</option>
				</select><br/>
                <span class="mainFilter" style="display:none;"><br/>
                    <select id="geo_select" class="finFill" style="width:171px;">
                        <option class="place" value="">Select to add</option>
                        #foreach($geo in $geometrics)
                            <option class="geo" value="$geo.id" #if($view.geometrics.Contains($geo))disabled="disabled"#end>$!geo.name</option>
                        #end
                    </select><a href="#" title="Add Shapes" id="addGeoSelect" class="addSelecttion dynoList buttons ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"><span class="ui-icon ui-icon-plus"></span></a>
                    <br/>
				</span>
				
				<br/><strong>force shape style:</strong>
				<select name="view.forced_shapes_style" id="forced_shapes_style">
					<option class="geometric" value="" #if($!view.forced_shapes_style) selected="selected" #end>Passthru (none)</option>
                    #set($i=0)
					#foreach($style in $styles_polygon)
                   		#if($i==0)<optgroup label="Polygon styles">#end
						<option class="geometric" value="$style.id" #if($view.forced_shapes_style.id == $style.id) selected="selected" #end>$!style.name</option>
                        #set($i=$i+1)
					#end
                    #if($i>0)</optgroup>#end
                    
                    #set($j=0)
                    #foreach($style in $styles_polyline)
                    	#if($j==0)<optgroup label="Polyline styles">#end
						<option class="geometric" value="$style.id" #if($view.forced_shapes_style.id == $style.id) selected="selected" #end>$!style.name</option>
                        #set($j=$j+1)
					#end
                    #if($j>0)</optgroup>#end
				</select>
            </fieldset>  
			
			
			
			
		</fieldset>
     $formbuttons
    <div class="clear"></div>
  </div>
  
 <div id="tabs_Options" class="mainAreaTabs">
		$formbuttons <div class="clear"></div>
		
		
		<fieldset>
			<label for="show_global_nav"><strong>Show tab nav:</strong></label>&nbsp;
				<select name="view.show_global_nav" id="show_global_nav">
					<option value="true" #if($view.show_global_nav && $view.show_global_nav=="true")selected="selected"#end >Yes</option>
					<option value="false" #if(!$view.show_global_nav || $view.show_global_nav=="false")selected="selected"#end >No</option>
				</select>
				#set($mess="If true (yes), this will show a list of the point on the map to the left of the map.  It will start as a tab and on user click it will open.  Default is no.")
				#parse("admin/noted.vm")
		</fieldset>
		
		
		
		
		
		
		#* this is the google model fleshed out as a virtual model *#
		
		#* NOTE: how this works is that with the TryGetValue we can introduce new items
				to the virtual model, as the VM is a json format set stroed in the DB
				and pushed out to a list<Dic<str,dno>> so the test is via the TryGetValue
		*#
		
		#if($options.TryGetValue("mapTypeId",$value))	#set($mapTypeId=$!options.mapTypeId)#end	
		<fieldset>
			<label for="mapTypeId"><strong>Map Type Control Options:</strong></label>&nbsp;
				<select name="options.mapTypeId" >
					<option class="author" value="ROADMAP" #if($!{mapTypeId} || ${mapTypeId}=="ROADMAP") selected="selected" #end>ROADMAP</option>
					<option class="author" value="SATELLITE" #if(${mapTypeId}=="SATELLITE") selected="selected" #end>SATELLITE</option>
					<option class="author" value="HYBRID" #if(${mapTypeId}=="HYBRID") selected="selected" #end>HYBRID</option>
					<option class="author" value="TERRAIN" #if(${mapTypeId}=="TERRAIN") selected="selected" #end>TERRAIN</option>
				</select>
				#set($mess="The initial Map type. Required and defaults to ROADMAP.")
				#parse("admin/noted.vm") 
		</fieldset>

		#if($options.TryGetValue("zoom",$value))#set($zoom=$!options.zoom)#end	
		<fieldset>
			<label for="zoom"><strong>Zoom:</strong></label>&nbsp;
				<input type="text" name="options.zoom" id="zoom" value="$!zoom" class="text ui-widget-content ui-corner-all" />
				#set($mess="The initial Map zoom level.")
				#parse("admin/noted.vm")
		</fieldset>	

		#if($options.TryGetValue("maxZoom",$value))#set($mapTypeId=$!options.maxZoom)#end		
		<fieldset>
			<label for="maxZoom"><strong>Map maximum Zoom:</strong></label>&nbsp;
				<input type="text" name="options.maxZoom" id="maxZoom" value="$!maxZoom" class="text ui-widget-content ui-corner-all" />
				#set($mess="The maximum zoom level which will be displayed on the map. If omitted, or set to null, the maximum zoom from the current map type is used instead.")
				#parse("admin/noted.vm") 
			 
		</fieldset>

		#if($options.TryGetValue("minZoom",$value))	#set($minZoom=$!options.minZoom)#end		
		<fieldset>
			<label for="minZoom"><strong>Map minimum Zoom:</strong></label>&nbsp;
				<input type="text" name="options.minZoom" id="maxZoom" value="$!minZoom" class="text ui-widget-content ui-corner-all" />
				#set($mess="The minimum zoom level which will be displayed on the map. If omitted, or set to null, the minimum zoom from the current map type is used instead.")
				#parse("admin/noted.vm") 
			 
		</fieldset>
		
		#if($options.TryGetValue("backgroundColor",$value))#set($backgroundColor=$!options.backgroundColor)#end
			<fieldset>
				<label for="backgroundColor"><strong>Background Color:</strong></label>&nbsp;
					<input type="text" name="options.backgroundColor" id="backgroundColor" value="$!backgroundColor" class="text ui-widget-content ui-corner-all" />
					#set($mess="Color used for the background of the Map div. This color will be visible when tiles have not yet loaded as the user pans. This option can only be set when the map is initialized.")
					#parse("admin/noted.vm") 
				 
			</fieldset>

		#if($options.TryGetValue("disableDefaultUI",$value))#set($disableDefaultUI=$!options.disableDefaultUI)#end
		<fieldset>
			<label for="disableDefaultUI"><strong>Disable Default UI:</strong></label>&nbsp;
				<select name="options.disableDefaultUI" id="disableDefaultUI">
					<option value="true" #if($!disableDefaultUI=="true")selected="selected"#end >Yes</option>
					<option value="false" #if($!disableDefaultUI=="false")selected="selected"#end >No</option>
				</select>
					#set($mess="If true (checked), disables all default UI. May be overridden individually but is enabled by default")
					#parse("admin/noted.vm") 			
			 
		</fieldset>

		#if($options.TryGetValue("draggable",$value))#set($draggable=$!options.draggable)#end
		<fieldset>
			<label for="draggable"><strong>Draggable state:</strong></label>&nbsp;
				<select name="options.draggable" id="draggable">
					<option value="true" #if($!draggable=="true")selected="selected"#end >Yes</option>
					<option value="false" #if($!draggable=="false")selected="selected"#end >No</option>
				</select>
				#set($mess="If false (checked), prevents the map from being dragged. Dragging is enabled by default.")
				#parse("admin/noted.vm")	
			
		</fieldset>

		#if($options.TryGetValue("draggableCursor",$value))	#set($draggableCursor=$!options.draggableCursor)#end
		<fieldset>
			<label for="draggableCursor"><strong>Draggable Cursor:</strong></label>&nbsp;
				<input type="text" name="options.draggableCursor" id="draggableCursor" value="$!draggableCursor" class="text ui-widget-content ui-corner-all" />
				#set($mess="The name or url of the cursor to display on a draggable object.")
				#parse("admin/noted.vm")	
			 
		</fieldset>

		#if($options.TryGetValue("heading",$value))	#set($heading=$!options.heading)#end	
		<fieldset>
			<label for="heading"><strong>Heading:</strong></label>&nbsp;
				<input type="text" name="options.heading" id="heading" value="$!heading" class="text ui-widget-content ui-corner-all" />
				#set($mess="The heading for aerial imagery in degrees measured clockwise from cardinal direction North. Headings are snapped to the nearest available angle for which imagery is available.")
				#parse("admin/noted.vm")	
			
		</fieldset>

		#if($options.TryGetValue("keyboardShortcuts",$value))	#set($keyboardShortcuts=$!options.keyboardShortcuts)#end	
		<fieldset>
			<label for="keyboardShortcuts"><strong>Disable Keyboard Shortcuts:</strong></label>&nbsp;
				<select name="options.keyboardShortcuts" id="keyboardShortcuts">
					<option value="true" #if($!keyboardShortcuts=="true")selected="selected"#end >Yes</option>
					<option value="false" #if($!keyboardShortcuts=="false")selected="selected"#end >No</option>
				</select>	
			#set($mess="If false (checked), prevents the map from being controlled by the keyboard. Keyboard shortcuts are enabled by default.")
				#parse("admin/noted.vm")	
			
		</fieldset>

		#if($options.TryGetValue("mapMaker",$value))	#set($mapMaker=$!options.mapMaker)#end	
		<fieldset>
			<label for="mapMaker"><strong>Use Map Maker Tiles:</strong></label>&nbsp;			
				<select name="options.mapMaker" id="mapMaker">
					<option value="true" #if($!mapMaker=="true")selected="selected"#end >Yes</option>
					<option value="false" #if($!mapMaker=="false")selected="selected"#end >No</option>
				</select>
				#set($mess="If true (checked), Map Maker tiles should be used instead of regular tiles. Disabled by default.")
				#parse("admin/noted.vm")	
			
		</fieldset>

		

		#if($options.TryGetValue("noClear",$value))#set($noClear=$!options.noClear)#end	
		<fieldset>
			<label for="noClear"><strong>Clear Map Divs:</strong></label>&nbsp;
				<select name="options.noClear" id="noClear">
					<option value="true" #if($!noClear=="true")selected="selected"#end >Yes</option>
					<option value="false" #if($!noClear=="false")selected="selected"#end >No</option>
				</select>
				#set($mess="If true (checked), do not clear the contents of the Map div. Disabled by default.")
				#parse("admin/noted.vm")	
		</fieldset>	
		
		#if($options.TryGetValue("mapTypeControl",$value))#set($mapTypeControl=$!options.mapTypeControl)#end			
		<fieldset>
			<label for="mapTypeControl"><strong>Map Type Control:</strong></label>&nbsp;
				<select name="options.mapTypeControl" id="mapTypeControl">
					<option value="true" #if($!mapTypeControl=="true")selected="selected"#end >Yes</option>
					<option value="false" #if($!mapTypeControl=="false")selected="selected"#end >No</option>
				</select>
				#set($mess="If false (un-checked), this will disabled the Map type control state. Enabled by default.")
				#parse("admin/noted.vm")	
			
		</fieldset>		

		#if($options.TryGetValue("mapTypeControlOptions",$value))#set($mapTypeControlOptions=$!options.mapTypeControlOptions)#end			
		<fieldset>
			<label for="mapTypeControlOptions"><strong>Map Type Control Options:</strong></label>&nbsp;
				<input type="text" name="options.mapTypeControlOptions" id="mapTypeControlOptions" value="$!mapTypeControlOptions" class="text ui-widget-content ui-corner-all" />
				#set($mess="The initial display options for the Map type control.")
				#parse("admin/noted.vm")
		</fieldset>

		
		
		#if($options.TryGetValue("overviewMapControl",$value))#set($overviewMapControl=$!options.overviewMapControl)#end	
		<fieldset>
			<label for="overviewMapControl"><strong>Overview Map Control:</strong></label>&nbsp;
				<select name="options.overviewMapControl" id="overviewMapControl">
					<option value="true" #if($!overviewMapControl=="true")selected="selected"#end >Yes</option>
					<option value="false" #if($!overviewMapControl=="false")selected="selected"#end >No</option>
				</select>
				#set($mess="If false (un-checked), this will disabled the Overview Map control state. Enabled by default.")
				#parse("admin/noted.vm")
			
		</fieldset>
		
		
		#if($options.TryGetValue("overviewMapControlOptions",$value))#set($overviewMapControlOptions=$!options.overviewMapControlOptions)#end	
		<fieldset>
			<label for="overviewMapControlOptions"><strong>Overview Map Control Options:</strong></label>&nbsp;
				<input type="text" name="options.overviewMapControlOptions" id="overviewMapControlOptions" value="$!overviewMapControlOptions" class="text ui-widget-content ui-corner-all" />
				#set($mess="The initial display options for the Overview Map control.")
				#parse("admin/noted.vm")
			 
		</fieldset>
		
		

		#if($options.TryGetValue("panControl",$value))#set($panControl=$!options.panControl)#end
		<fieldset>
			<label for="panControl"><strong>Pan Control:</strong></label>&nbsp;
				<select name="options.panControl" id="panControl">
					<option value="true" #if($!panControl=="true")selected="selected"#end >Yes</option>
					<option value="false" #if($!panControl=="false")selected="selected"#end >No</option>
				</select>
				#set($mess="If false (un-checked), this will disabled the Pan control state. Enabled by default.")
				#parse("admin/noted.vm")
			
		</fieldset>
		
		#if($options.TryGetValue("panControlOptions",$value))	#set($panControlOptions=$!options.panControlOptions)#end	
		<fieldset>
			<label for="panControlOptions"><strong>Pan Control Options:</strong></label>&nbsp;
				<input type="text" name="options.panControlOptions" id="panControlOptions" value="$!panControlOptions" class="text ui-widget-content ui-corner-all" />
				#set($mess="The initial display options for the Pan control.")
				#parse("admin/noted.vm")
			 
		</fieldset>

		#if($options.TryGetValue("rotateControl",$value))	#set($rotateControl=$!options.rotateControl)#end	
		<fieldset>
			<label for="rotateControl"><strong>Rotate Control:</strong></label>&nbsp;
				<select name="options.rotateControl" id="rotateControl">
					<option value="true" #if($!rotateControl=="true")selected="selected"#end >Yes</option>
					<option value="false" #if($!rotateControl=="false")selected="selected"#end >No</option>
				</select>
				#set($mess="If false (un-checked), this will disabled the Rotate control state. Enabled by default.")
				#parse("admin/noted.vm")
			
		</fieldset>

		#if($options.TryGetValue("rotateControlOptions",$value))#set($rotateControlOptions=$!options.rotateControlOptions)#end	
		<fieldset>
			<label for="rotateControlOptions"><strong>Rotate Control Options:</strong></label>&nbsp;
				<input type="text" name="options.rotateControlOptions" id="rotateControlOptions" value="$!rotateControlOptions" class="text ui-widget-content ui-corner-all" />
				#set($mess="The initial display options for the Rotate control.")
				#parse("admin/noted.vm")
			 
		</fieldset>

		#if($options.TryGetValue("scaleControl",$value))	#set($scaleControl=$!options.scaleControl)#end	
		<fieldset>
			<label for="scaleControl"><strong>Scale Control:</strong></label>&nbsp;
				<select name="options.scaleControl" id="scaleControl">
					<option value="true" #if($!scaleControl=="true")selected="selected"#end >Yes</option>
					<option value="false" #if($!scaleControl=="false")selected="selected"#end >No</option>
				</select>
				#set($mess="If false (un-checked), this will disabled the Scale control state. Enabled by default.")
				#parse("admin/noted.vm")
			
		</fieldset>

		#if($options.TryGetValue("scaleControlOptions",$value))	#set($scaleControlOptions=$!options.scaleControlOptions)#end	
		<fieldset>
			<label for="scaleControlOptions"><strong>Scale Control Options:</strong></label>&nbsp;
				<input type="text" name="options.scaleControlOptions" id="scaleControlOptions" value="$!scaleControlOptions" class="text ui-widget-content ui-corner-all" />
				#set($mess="The initial display options for the Scale control.")
				#parse("admin/noted.vm")
			 
		</fieldset>

		#if($options.TryGetValue("streetView",$value))	#set($streetView=$!options.streetView)#end
		<fieldset>
			<label for="streetView"><strong>Street Control:</strong></label>&nbsp;
				<input type="text" name="options.streetView" id="streetView" value="$!streetView" class="text ui-widget-content ui-corner-all" />
				#set($mess="If false (un-checked), this will disabled the Street control state. Enabled by default.")
				#parse("admin/noted.vm")
			
		</fieldset>

		#if($options.TryGetValue("streetViewControl",$value))	#set($streetViewControl=$!options.streetViewControl)#end
		<fieldset>
			<label for="streetViewControl"><strong>Street Control Options:</strong></label>&nbsp;
				<select name="options.streetViewControl" id="streetViewControl">
					<option value="true" #if($!streetViewControl=="true")selected="selected"#end >Yes</option>
					<option value="false" #if($!streetViewControl=="false")selected="selected"#end >No</option>
				</select>
				#set($mess="The initial display options for the Street control.")
				#parse("admin/noted.vm")
		</fieldset>

		#if($options.TryGetValue("zoomControl",$value))	#set($zoomControl=$!options.zoomControl)#end
		<fieldset>
			<label for="zoomControl"><strong>Zoom Control:</strong></label>&nbsp;
				<select name="options.zoomControl" id="zoomControl">
					<option value="true" #if($!zoomControl=="true")selected="selected"#end >Yes</option>
					<option value="false" #if($!zoomControl=="false")selected="selected"#end >No</option>
				</select>
				#set($mess="If false (un-checked), this will disabled the Zoom  control state. Enabled by default.")
				#parse("admin/noted.vm")
			
		</fieldset>

		#if($options.TryGetValue("zoomControlOptions",$value))	#set($zoomControlOptions=$!options.zoomControlOptions)#end
		<fieldset>
			<label for="zoomControlOptions"><strong>Zoom Control Options:</strong></label>&nbsp;
				<input type="text" name="options.zoomControlOptions" id="zoomControlOptions" value="$!zoomControlOptions" class="text ui-widget-content ui-corner-all" />
				#set($mess="The initial display options for the Zoom control.")
				#parse("admin/noted.vm")
			 
		</fieldset>

		#if($options.TryGetValue("scrollwheel",$value))	#set($scrollwheel=$!options.scrollwheel)#end
		<fieldset>
			<label for="scrollwheel"><strong>Scrollwheel Zoom Control:</strong></label>&nbsp;
				<select name="options.scrollwheel" id="scrollwheel">
					<option value="true" #if($!scrollwheel=="true")selected="selected"#end >Yes</option>
					<option value="false" #if($!scrollwheel=="false")selected="selected"#end >No</option>
				</select>
				#set($mess="If false (un-checked), this will disabled the Scrollwheel Zoom  control state. Enabled by default.")
				#parse("admin/noted.vm")
			
		</fieldset>

		#if($options.TryGetValue("tilt",$value))	#set($tilt=$!options.tilt)#end
		<fieldset>
			<label for="tilt"><strong>tilt Control:</strong></label>&nbsp;
				<input type="text" name="options.tilt" id="tilt" value="$!tilt" class="text ui-widget-content ui-corner-all" />
				#set($mess="The angle of incidence of the map as measured in degrees from the viewport plane to the map plane. The only currently supported values are 0, indicating no angle of incidence (no tilt), and 45, indicating a tilt of 45deg;. 45deg; imagery is only available for SATELLITE and HYBRID map types, within some locations, and at some zoom levels.")
				#parse("admin/noted.vm")
		</fieldset>

		#if($options.TryGetValue("styles",$value))	#set($styles=$!options.styles)#end
			<fieldset>
			<label for="styles"><strong>Map styles:</strong></label>&nbsp;
				<input type="text" name="options.styles" id="styles" value="$!styles" class="text ui-widget-content ui-corner-all" />
				#set($mess="The initial display styles options for the map.")
				#parse("admin/noted.vm")
		</fieldset>

		
		
		
		
		
		
     $formbuttons
    <div class="clear"></div>
  </div>
  
  
<div id="tabs_SAMPLE" class="mainAreaTabs">
	$formbuttons <div class="clear"></div>

<style>
	#resizable { width: 150px; height: 150px; padding: 0.5em; }
	#resizable h3 { text-align: center; margin: 0; }
	.ui-resizable-helper { border: 2px dotted #00F; }
	</style>
		
		#if($view.height>0)
			#set($height = "${view.height}px")
		#else
			#set($height = "520px")
		#end
		
		#if($view.width>0)
			#set($width = "${view.width}px")
		#else
			#set($width = "100%")
		#end
		<lable for="dragCenter"><input type="checkbox" value="" id="dragCenter" /><strong>dragable</strong><b class="tips" title="">?<em>Turn this on if you have your option to include "dragable:no" so that you may use the drag feature of the map to set the center.  This will not overwirte the option set in the Options tab on output of this map view.  Only temperatally set this preview to be dragable.</em></b>
		</lable> | 
		<lable for="setZoom"><input type="checkbox" value="" id="setZoom" /><strong>Set Zoom</strong><b class="tips" title="">?<em>Turn this on if you have your options set to include "scaleControl:no", "zoomControl:no", and "scrollwheel:no" (which make the map un zoom-able) you may use this zoom feature of the map to set the zoom level.  This will not overwirte the option set in the Options tab on output of this map view.  Only temperatally set this scroll zoom to be working. <br/><strong>NOTE: this will only set the scrollwheel </strong></em></b>
		</lable><br/>
		<div id="size_guide_ticks"><div id="size_guide"><a href="http://identity.wsu.edu/web/guidelines/dimensions.aspx" target="_blank" style="float:right;">Other WSU sizes</a></div></div>
		<div id="campusmap">
		<div id="place_drawing_map" style="width:${width}; height:${height};"></div>
		</div>
	$formbuttons
	<div class="clear"></div>
  <br/>    
</div>
  
  #*
  <div id="tabs_Text" class="mainAreaTabs">
$formbuttons

	<style>
	#dialog label, #dialog input { display:block; }
	#dialog label { margin-top: 0.5em; }
	#dialog input, #dialog textarea { width: 95%; }
	#tabs { margin-top: 1em; }
	#tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
	#add_tab { cursor: pointer; }
	</style>



<div id="infotabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
$formbuttons


			<h3>Summary :</h3>
			
			<textarea id="place_summary" name="view.summary"  class="tinyEditor">$!view.summary</textarea>
						<br/>
			<hr/>
			<h3>Short codes <a href="#" title="show" id="shortcode">+</a></h3>
<div id="shortcodes">

	#foreach($short_code in $short_codes)
		$short_code<br/>
	#end
	
</div>
<h6><em>When using the short codes, adding the ! mark between the $ and { ( ie: &#36;!{notes_comments} ) will let the code retrun nothing if there is a value is unset.</em></h6>
			<br/>
			<hr/>
			<h3 style="display:inline-block;">Info Window Title:</h3><input type="text" value="$!view.infoTitle" placeholder="Title to show at top of each tab" name="view.infoTitle" style="width:50%;" id="infoTitle"/><label>Hide:<select name="view.hideTitles" >
				<option class="author" value="true" #if(${view.hideTitles}) selected="selected" #end>Yes</option>
				<option class="author" value="false" #if(!${view.hideTitles}) selected="selected" #end>No</option>
			</select></label>
			<h6><em>Shows up on all tabs of the info window; leaving this blank will default to the Primary Name of the view.  If it’s wished to only show a title on one tab, click the hide checkbox while using the wysiwyg with an H2 tag to do so.</em></h6>
			<br/>
			<hr/>
			<h3 style="display:inline-block;">Auto apply Accessibility Tab:</h3><label>Enable: <select name="view.autoAccessibility" >
				<option class="author" value="true" #if(${view.autoAccessibility}) selected="selected" #end>Yes</option>
				<option class="author" value="false" #if(!${view.autoAccessibility}) selected="selected" #end>No</option>
			</select></label>
			<h6><em>By using the Auto Accessibility feature, a default template is used to display all feilds defined.  You can always use the short codes and disableing this to design your own tab layout.</em></h6>
			<hr/>
			<br/>
			<button id="add_tab" style="float: right; margin:5px;">Add Tab</button>
			<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
				<li class="ui-state-default ui-corner-top nonsort"><a href="#dyno_tab1">Overview</a></li>
				#set($T = 0)
				#foreach($tab in $tabs) 
					<li class="ui-state-default ui-corner-top">
						<a href="#dyno_tabs_$T" hideFocus='true'>$tab.title</a>
						<input type="hidden" name="tabs[$T].id" value="" />
						<input type="hidden" name="tabs[$T].title" value="$!tab.title" /> 
						<input type='hidden' name='tabs[$T].sort' value='$!tab.sort'  class='sort' />
						<span class='ui-icon ui-icon-close'>Remove Tab</span>
					</li>
					#set($T = $T+1)
				#end
			</ul>
			<div id="dyno_tab1">
				<h3>Details:</h3>
				<textarea id="place_details" name="view.details"  class="tinyEditor full">$!view.details</textarea>
			</div>
			#set($T = 0)
			#foreach($tab in $tabs) 
				<div id="dyno_tabs_$T">
					<textarea id='tab_$T' class='tinyEditor dyno_tabs'  name="tabs[$T].content">$!tab.content</textarea>
				</div>
				#set($T = $T+1)
			#end
		</div>
		$formbuttons
    <div class="clear"></div>
  </div>
  *#
  
  <div id="tabs_Detail" class="mainAreaTabs">
$formbuttons <div class="clear"></div>



 	#if($userService.checkPrivleage("can_publish"))
		<div id="StatusDiv">
		  <h3 style="display:inline-block;">Place Status:</h3>
		  $Form.Select("view.status.id", $statuslists, "%{value='id', text='name'}")
		  <h6><em>Changing this will tell whether or not the public can see this place in a map view.</em></h6>
		</div>
		<hr/>
	#end
	
		<div id="publicDiv">
		  <h3 style="display:inline-block;">Public:</h3>
			<select name="view.isPublic" >
				<option class="author" value="true" #if(${view.isPublic}) selected="selected" #end>Yes</option>
				<option class="author" value="false" #if(!${view.isPublic}) selected="selected" #end>No</option>
			</select>
		  <h6><em>Changing this will tell whether or not the public can see this place in a map view <strong>even thou it's published</strong> ie: Internal to WSU only.</em></h6>
		</div>
		<hr/>
	
	
    <div id="AuthorDiv">
      <h3>Authors</h3>
      <h6><em>Select or create new author (if one isn't already created)</em></h6>
      #set($count = 0)
      #set($id = 0)
      #foreach($placeauthor in $placeauthors)
          <div id="div$placeauthor.id">
            <select name="Authors[$!count].id" id="author$placeauthor" class="authorSelect">
              <option class="" value="">-select-</option>
              #foreach($author in $authors)
              <option class="author" value="$author.id" #if($placeauthor == $author) selected="selected" #end>$!author.Name</option>
              #set($id = $placeauthor.id)
              #end
            </select>
    
            #if($id!=0)
            <a title="$id" rel="$view.id"  style="cursor:pointer;display: inline-block;" class="deleteAuthor ui-state-error ui-corner-all">
              <span class="ui-icon ui-icon-trash"></span>
            </a>
        #end
        <div class="lightLine"></div>
      </div>
      #set($count = $count + 1)
      #end

      #*<select name="authors[$!count].id" id="author">
        <option class="" value="">-select-</option>
        #foreach($author in $authors)
        <option class="author" value="$author.id" #if($placeauthor == $author) selected="selected" #end>$!author.Name</option>
        #end
      </select>*#


      <div class="lightLine"></div>
      <input type="hidden" id="NextAuthorID" name="NextAuthorID" value="$my_var"/>

      <div id="NewAuthorHolderDiv"></div>
    </div>

    <a style="cursor:pointer;" onclick="AddAuthor()">+ add additional authors</a>
    
    $formbuttons
    <div class="clear"></div>
  <br/>
    
  </div>

#if($fields.count>0)<div id="tabs_FIELDS" class="mainAreaTabs">
	$formbuttons <div class="clear"></div>
        <fieldset><legend>Place fields: </legend>

			#foreach($field in $fields)          
				$field
			#between
			<hr/>
			#end
        </fieldset> 
    $formbuttons
    <div class="clear"></div>
  <br/>    
</div>
  #end
   #* <div id="tabs_IMAGES" class="mainAreaTabs">
$formbuttons     
        <div id="ImageDiv">
            <h3>Place Images</h3>
        
            <a href="#" class="insotryupload buttons">Upload Images</a>
            
			 
           
		   <h6><strong>Note:</strong><em>The first image in the list is the main image.  Any layout that calls the Main image will be calling this first image.  To make another image be the main image, simply drag the desired image before the first.</em></h6>
		   <span id="img_layout_choice" class="grid"></span><br/>
            <div id="browserBox" class="ui-corner-all grid">
                #foreach($placeimage in $placeimages)
                    #if($placeimage.id!=0)
                    
                        <span class="imageBox">
							<input type="hidden" name="images[$!{placeimage.id}].id" value="$!{placeimage.id}" class="placeImages"/>
                            <img src="/media/download.castle?id=${placeimage.id}&placeid=${view.id}&m=crop&w=175&h=175&pre=borwser" class="previewImg" width="175" height="175"/>
                            <a title="$placeimage.id" rel="$view.id" style="cursor:pointer;display: inline-block;" class="DeleteImage ui-state-error ui-corner-all">
                                <span class="ui-icon ui-icon-trash"></span>
                            </a>
                            <span class="imgInfo">
                              <span><label>Caption:</label><input type="text" value="$!{placeimage.caption}" name="images[$!{placeimage.id}].Caption" class=""/></span>
                              <span><label>Credit:</label><input type="text" value="$!{placeimage.credit}" name="images[$!{placeimage.id}].Credit" class="placeCredit"/></span>
                              <span><label>Order:</label>
                              <input type="hidden" value="$!{placeimage.PlaceImages.get_Item(0).id}" name="PlaceImages[$!{placeimage.id}].id" class=""/>
                              <input type="text" value="$!{placeimage.PlaceImages.get_Item(0).placeOrder}" name="PlaceImages[$!{placeimage.id}].placeOrder" class="placeOrder"/>
                              <input type="hidden" value="$!{placeimage.id}" name="PlaceImages[$!{placeimage.id}].Image.id" class="placeOrderId"/>
                              </span>
                            </span>
                        </span>
                    #end
                #end
                <div class="clearings" style="clear:both;"></div>
            </div>
            $formbuttons
    <div class="clear"></div>
        </div>
    </div>*#
	
	
	
	
	
	
	
	
	
	
	
	
	

	<div id="tabs_OUTPUT" class="mainAreaTabs">
		$formbuttons
        <h3>NOTE: you must apply your changes to have them reflect here</h3>
		<fieldset><legend>Output url: </legend>
			<label for="name">URL</label><br/>	
			<pre>$siteroot/rt/<span class="outputurl">$!{view.alias}</span></pre>
		</fieldset> 


		<fieldset><legend>Themed Output: </legend>
			<pre>$siteroot/rt/<span class="outputurl">$!{view.alias}</span></pre>
		</fieldset>
			
		<fieldset><legend>Feed Output: </legend>
			<pre style="float:left; margin-right:15px;"  class="codeurl">$siteroot/rt/<span class="outputurl">$!{view.alias}</span>?mode=json</pre>
			<a style="float:left;" href="#" title="View Standalone Output" class="codeurllink buttons ui-button ui-widget "><span class="ui-icon ui-icon-search"></span></a>
			<h4 style="clear:left;">Callback for jsonp</h4>
			<pre>$siteroot/rt/<span class="outputurl">$!{view.alias}</span>?mode=json&callback=test</pre>
			 <h6><em><strong>Note:</strong> the url query value "test" for the name "callback" is an example and could be anything.  It's highly suggested to make this a random value to avoid any client side cache uses. <strong>ex: callback=jQuery172012056579411266988_1344368945782 via jquery jsonp using callback=?</strong> </em></h6>
		</fieldset>

		<fieldset><legend>Standalone Output: </legend>
			<pre style="float:left; margin-right:15px;"  class="codeurl">$siteroot/rt/<span class="outputurl">$!{view.alias}</span>?mode=standalone</pre>
			<a style="float:left;" href="#" title="View Standalone Output" class="codeurllink buttons ui-button ui-widget "><span class="ui-icon ui-icon-search"></span></a>
		</fieldset>		
		<fieldset><legend>Embed code example: </legend>
			<pre>&lt;iframe src=&quot;http://map.wsu.edu/rt/<span class="outputurl">$!{view.alias}</span>?mode=standalone&quot; width="<span class="widthOutput">$!{view.width}</span>" height="<span class="heightOutput">$!{view.height}</span>"  frameborder="0" scrolling="no" marginheight="0" marginwidth="0" &gt;&lt;/iframe&gt;</pre>
		</fieldset>

		$formbuttons
		<div class="clear"></div>
	  <br/>    
	</div>
</form>
  #if($comments.TotalItems&&$comments.TotalItems!=0)
  <div id="tabs_COMMENTS" class="mainAreaTabs">


    <h3>Comment List</h3>

    <table width="100%" border="0" style="float:right;margin-right:5px;margin-top:7px;">
      <tr>
        <td>Showing $comments.FirstItem - $comments.LastItem of $comments.TotalItems</td>
        <td align="right">
          #if($comments.HasPrevious) $PaginationHelper.CreatePageLink( 1, "first" )
          | $PaginationHelper.CreatePageLink( $comments.PreviousIndex, "prev" ) #end
          #if($comments.HasNext) | $PaginationHelper.CreatePageLink( $comments.NextIndex, "next" )
          | $PaginationHelper.CreatePageLink( $comments.LastIndex, "last" ) #end
        </td>
      </tr>
    </table>
    <table  width="100%" class="ui-widget ui-widget-content">
      <thead>
        <tr class="ui-widget-header ">
          <th>Place</th>
          <th>Comments</th>
          <th>Flagged</th>
          <th>Published</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>

        #set ($c=0)
        #foreach($comment in $comments)
        <tr class="#if($c%2>0) even #else odd #end #if($comment.adminRead==false) ui-state-highlight #end ">
          <td>$!comment.view.id</td>
          <td>$Text.Fold($Controller.StripHtml($!comment.Comments,false),100)</td>
          <td #if($comment.Flagged==true) class="ui-state-error" #end>$!comment.Flagged</td>
          <td>$!comment.published</td>
          <td class='actionArea'>

            <span style='font-size:0.7em;'>
              <a href="../comment/edit.castle?id=$!{comment.id}" title="Edit" class="buttons ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                <span class="ui-icon ui-icon-pencil"></span>
              </a>
              <a href="../comment/delete.castle?id=$!{comment.id}" title="Delete" class="buttons ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                <span class="ui-icon ui-icon-trash"></span>
              </a>
            </span>
          </td>
        </tr>
        #set ($c=$c+1)
        #end
      </tbody>
    </table>
    <table width="100%" border="0" >
      <tr>
        <td>Showing $comments.FirstItem - $comments.LastItem of $comments.TotalItems</td>
        <td align="right">
          #if($comments.HasPrevious) $PaginationHelper.CreatePageLink( 1, "first" )
          | $PaginationHelper.CreatePageLink( $comments.PreviousIndex, "prev" ) #end
          #if($comments.HasNext) | $PaginationHelper.CreatePageLink( $comments.NextIndex, "next" )
          | $PaginationHelper.CreatePageLink( $comments.LastIndex, "last" ) #end
        </td>
      </tr>
    </table>
  </div>
  #end


</div>



	<div id="page_dialog">
		<form id="taber" name="">
			<fieldset class="ui-helper-reset">
				<label for="tab_title">Title</label>
				<input type="text" name="tab_title" id="tab_title" value="" class="ui-widget-content ui-corner-all" />
				<label for="tab_content">Content</label>
				<textarea name="tab_content" id="tab_content" class="ui-widget-content ui-corner-all"></textarea>
			</fieldset>
		</form>
	</div>


