<table width="60%" border="0" style="float:right;margin-right:5px;margin-top:7px;">
  <tr>
    <td>Showing $publishedViews.FirstItem - $publishedViews.LastItem of $publishedViews.TotalItems</td>
    <td align="right">
      #if($publishedViews.HasPrevious) $PaginationHelper.CreatePageLink( 1, "first",null, "%{searchId=$!searchId,status='published'}" )  #end
      #if(!$publishedViews.HasPrevious) first #end
      #if($publishedViews.HasPrevious) | $PaginationHelper.CreatePageLink( $publishedViews.PreviousIndex, "prev",null, "%{searchId=$!searchId,status='published'}" )  #end
      #if(!$publishedViews.HasPrevious) | prev #end
      #if($publishedViews.HasNext) | $PaginationHelper.CreatePageLink( $publishedViews.NextIndex, "next",null, "%{searchId=$!searchId,status='published'}" )  #end
      #if(!$publishedViews.HasNext) | next #end
      #if($publishedViews.HasNext) | $PaginationHelper.CreatePageLink( $publishedViews.LastIndex, "last",null, "%{searchId=$!searchId,status='published'}" )  #end
      #if(!$publishedViews.HasNext) | last #end
    </td>
  </tr>
</table>

<ul class="viewlistUL list_3">

  #foreach($view in $publishedViews)
  #* set up authors*#
  #set($authors='')
  #capturefor(authors)
  #foreach ($author in $view.Authors)
  #each
  <span class="emailCol" rel="$!author.id">$!author.Name</span>
  #between
  /
  #end
  #end
  #* EOF set up  *#

  <li class="ui-widget-content ui-corner-all view_$!view.id con">
    #if($view.CheckedOutBy!=""  && $view.CheckedOutBy != $authorname)<span class="UinEdit ui-corner-bottom">
      &nbsp;&nbsp;&nbsp;$view.CheckedOutBy is editing this View <a href="#" title="Published" rel="$view.id" class="buttons steal ui-button ui-widget ui-state-default ui-corner-all">
        <span class="ui-icon ui-icon-unlocked"> </span> Click to Release View
      </a>
    </span><div class="inEdit ui-corner-all"> </div>#end
    <div class="view_aTar view_$!view.id" title="$!view.id">
      <div class='summaryCol'>
        <ul>
          #if($view.Title)<li class='Title'>
            <span>Title: </span>$!view.Title
          </li>#end
          #if($authors!='')<li class='Authors'>
            <span>Authors: </span>$authors
          </li>#end
          #if($view.Teaser)<li class='Teaser'>
            <span>Teaser: </span>
            <span class="Teaser">
              $Text.Fold($Controller.StripHtml($!view.Teaser,false),200)<br/>
            </span>
            <a href="$!siteroot/view/readmore.castle?id=$!{view.id}">more</a>
          </li>#end
          #if($view.BodyText)<li class="Body">
            <span>Body: </span>
            <span class="Body">$Text.Fold($Controller.StripHtml($!view.BodyText,false),100)</span>
            <a href="$!siteroot/view/readmore.castle?id=$!{view.id}">more</a>
          </li>#end
        </ul>
      </div>
      <div class='detailCol'>
        <ul>
          #if($view.Publishtime)<li class='date'>
            <span>Date: </span>$!view.Publishtime.ToString().Review('12:00:00 AM','')
          </li>#end
          #if($view.Status.Title)<li class='Status'>
            <div>
              <span>Status: </span>$!view.Status.Title
            </div>
          </li>#end
          #if($view.BreakingNews)<li>
            <span>Breaking: </span>$!view.BreakingNews
          </li>#end
          #if($view.Hottopic)<li>
            <span>Hottopic: </span>$!view.Hottopic
          </li>#end
         #* #if($view.Location)<li>
            <span>Location: </span>$!view.Location
          </li>#end*#
          #if($view.ViewType.Name)<li>
            <span>Type: </span>$!view.ViewType.Name
          </li>#end
          #if($view.id)<li>
            <span>Id: </span>$!view.id
          </li>#end
        </ul>
      </div>
      <div class='actionCol'>
        <ul>
          #if($Controller.canEdit($view,$loginUser) || $view.CheckedOutBy == $authorname || $view.isCheckedOutNull())
          <li>
            <a href="#if($view.CheckedOutBy=="" || $view.CheckedOutBy == $authorname)$siteroot/view/Edit_view.castle?id=$!{view.id} #else # #end" title="#if($view.CheckedOutBy)Is being edited by $view.CheckedOutBy #else Edit #end" class="buttons editIt ui-button ui-widget ui-state-default ui-corner-all ">
              <span class="ui-button-icon-primary ui-icon ui-icon-pencil"></span>
              <span class="actionText">Edit</span>
              <span class="actionpropt">&#187;</span>
            </a>
          </li>
          <li>
            <a href="$siteroot/view/delete.castle?id=$!{view.id}" title="Delete"  class="buttons ui-button ui-widget ui-state-default ui-corner-all ">
              <span class="ui-button-icon-primary ui-icon ui-icon-trash"> </span>
              <span class="actionText">Delete</span>
              <span class="actionpropt">&#187;</span>
            </a>
          </li>
          #end
          #if($Controller.canPublish($loginUser))
          <li>
            <a href="$siteroot/view/setStatus.castle?id=$!{view.id}" title="Published" class="buttons pubState ui-button ui-widget ui-state-default ui-corner-all">
              <span class="ui-button-icon-primary ui-icon ui-icon-star"> </span>
              <span class="actionText">Status</span>
              <span class="actionpropt">&#187;</span>
            </a>
          </li>
          <li>
            <a href="$siteroot/view/send_breaking_single.castle?id=$!{view.id}" title="Send a breaking News for this ONLY" class="buttons sendBR ui-button ui-widget ui-state-default ui-corner-all">
              <span class="ui-button-icon-primary ui-icon ui-icon-signal-diag"> </span>
              <span class="actionText">Broadcast</span>
              <span class="actionpropt">&#187;</span>
            </a>
          </li>
          #end
          <li>
            <a href="$siteroot/read/${view.CustomUrl}" target="_blank" title="View" class="buttons ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
              <span class="ui-button-icon-primary ui-icon ui-icon-search"> </span>
              <span class="actionText">View</span>
              <span class="actionpropt">&#187;</span>
            </a>
          </li>

          #if($searchId!=0&&$searchId!=-1)
          <li>
            #if($view.id != $firstview.id )
            <a href="$siteroot/view/moveup.castle?searchId=$!searchId&id=$!{view.id}" title="Move Up"  class="buttons  ui-button ui-widget ui-state-default ui-corner-all">
              <span class="ui-button-icon-primary ui-icon ui-icon-circle-arrow-n"> </span>
              <span class="actionText">Up</span>
              <span class="actionpropt">&#187;</span>
            </a>
            #end
          </li>
          <li>
            #if($view.id != $lastview.id )
            <a href="$siteroot/view/movedown.castle?searchId=$!searchId&id=$!{view.id}"  title="Move down" class="buttons  ui-button ui-widget ui-state-default ui-corner-all">
              <span class="ui-button-icon-primary ui-icon ui-icon-circle-arrow-s"> </span>
              <span class="actionText">Down</span>
              <span class="actionpropt">&#187;</span>
            </a>
            #end
          </li>
          #end
        </ul>
      </div>
    </div>
  </li>
  #end
</ul>


<table width="60%" border="0" >
  <tr>
    <td>Showing $publishedViews.FirstItem - $publishedViews.LastItem of $publishedViews.TotalItems</td>
    <td align="right">
      #if($publishedViews.HasPrevious) $PaginationHelper.CreatePageLink( 1, "first",null, "%{searchId=$searchId,status='published'}" ) #end
      #if(!$publishedViews.HasPrevious) first #end
      #if($publishedViews.HasPrevious) | $PaginationHelper.CreatePageLink( $publishedViews.PreviousIndex, "prev",null, "%{searchId=$searchId,status='published'}" ) #end
      #if(!$publishedViews.HasPrevious) | prev #end
      #if($publishedViews.HasNext) | $PaginationHelper.CreatePageLink( $publishedViews.NextIndex, "next",null, "%{searchId=$searchId,status='published'}" ) #end
      #if(!$publishedViews.HasNext) | next #end
      #if($publishedViews.HasNext) | $PaginationHelper.CreatePageLink( $publishedViews.LastIndex, "last",null, "%{searchId=$searchId,status='published'}" ) #end
      #if(!$publishedViews.HasNext) | last #end
    </td>
  </tr>
</table>