#* set up images*#
#set($availableImages='')
#capturefor(availableImages)
#foreach ($image in $view.Images)
#each
["${Image.caption}","http://localhost:1308/media/download.castle?id=${Image.id}&viewid=${view.id}&m=crop&w=250&h=250&pre=TMP"]
#between
,
#end
#end
#* EOF set up  *#

var tinyMCEImageList = new Array($!availableImages);

 