<div id="aerial">
    <a class="aerial_gouped" rel="aerial_gouped" hidefocus="true" alt="" href="/uploads/map/controll/Aerial_1640-1.jpg" style="outline: medium none;"></a>
    <a class="aerial_gouped" rel="aerial_gouped" hidefocus="true" alt="" href="/uploads/map/controll/Aerial_7543.jpg" style="outline: medium none;"></a>
    <a class="aerial_gouped" rel="aerial_gouped" hidefocus="true" alt="" href="/uploads/map/controll/Aerial_7586.jpg" style="outline: medium none;"></a>
</div>
