<!--Beginning of the WSU Global Footer Zone. Refer to www.wsu.edu/identity/ for more information. -->
<noscript>	<div id="wsufooter">Copyright &copy;  Board of Regents, <a href="http://www.wsu.edu">Washington State University</a>  </div><!--wsufooter-->
</noscript>
#*
<script language="javascript" type="text/javascript">var strFooter;strFooter = getFooter();document.write(strFooter);</script>
<!--End of the WSU Global Footer Zone. -->

<script type="text/javascript" src="../Scripts/open-collapse.js"></script>
<script type="text/javascript" src="../Scripts/open-collapseall.js"></script>
*#
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22127038-5']);
  _gaq.push(['_setDomainName', 'wsu.edu']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>


<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places,geometry&amp;sensor=false"></script>
<script type="text/javascript" src="http://www.google.com/uds/api?file=uds.js&amp;v=1.0"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<script type="text/javascript" src="$siteroot/Content/js/modernizr-2.0.6/modernizr.min.js"></script>


<script type="text/javascript" src="$siteroot/Content/js/utilities_general.js"></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<!--
<script type="text/javascript" src="http://images.wsu.edu/javascripts/jQuery_UI_addons/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="http://images.wsu.edu/javascripts/jQuery_UI_addons/jquery-ui-combobox.js"></script>
<script type="text/javascript" src="$siteroot/Content/js/external/jquery.cookie.js"></script>
-->
<script type="text/javascript" src="$siteroot/Content/js/infobox.js"></script>
<script type="text/javascript" src="$siteroot/Content/js/jquery.ui.map.js"></script>

<script type="text/javascript" src="$siteroot/Content/js/jquery.ui.map.extensions.js"></script>
<script type="text/javascript" src="$siteroot/Content/js/jquery.ui.map.services.js"></script>
<script type="text/javascript" src="$siteroot/Content/js/jquery.ui.map.overlays.js"></script>
<!--
<script type="text/javascript" src="http://images.wsu.edu/javascripts/jQuery.autoUpdate.js"></script>
-->
<script type="text/javascript" src="http://images.wsu.edu/javascripts/jquery.defaultvalue.js"></script>
<script type="text/javascript" src="$siteroot/Content/js/jquery.colorbox-min.js"></script>
<!--<script type="text/javascript" src="$siteroot/Content/js/jCell.js"></script>-->
<script type="text/javascript" src="$siteroot/Content/js/jquery.cycle.all.js"></script>

<script type="text/javascript" src="$siteroot/Content/js/map_editor_vars.js"></script>
<script type="text/javascript" src="$siteroot/Content/js/map_functions.js"></script>
<script type="text/javascript" src="$siteroot/Content/js/init_test.js"></script>
<script type="text/javascript" src="$siteroot/Content/js/admin_init.js"></script>



<!-- EOF UI SCRIPTS -->
<!--script for print tool-->
<script src="http://images.wsu.edu/javascripts/print.js" type="text/javascript"></script>





<script type="text/javascript">
   // To display the "Print" link pass in true.  To hide the "Print" link pass in false.
   addPrintLink(true);
</script> 

<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=mcwsu"></script>

<script type="text/javascript">
var addthis_config = {
          services_compact: 'email, facebook, twitter, myspace, google, more',
          services_exclude: 'print',
		  ui_click: true 
}
</script>
#parse("admin/google-analytics.vm")