#set($baseClass="parent")
#set($subULClass="")
#set($subNarrowClass="subNarrow")
#set($subClass="")

<form action="#" id="placeSearch">
	<input type="text" value="" placeholder="Search for a place" /><input type="submit" class="submit" value="placeSearching" />
</form>

#set($lastLevel=1)
#set($ulOpen="false")
#set($liOpen="false")
#set($c=0)
<ul id='main_nav'>
	#foreach($item in $menuItems)
		#if($item.active)
			#if($lastLevel == ${item.level} && $liOpen=="true" && $c>0)
				</li>
			#end
			#if($lastLevel > ${item.level} && $ulOpen=="true")
				#set($deepth=${lastLevel}-${item.level})
				$Controller.repeatStr("</li></ul>",$deepth)
				#set($ulOpen="false")
			#end
			#if($lastLevel != ${item.level} && $c>0)
				#if($lastLevel < ${item.level})
					<ul class='$subULClass'><!--<li class='$subNarrowClass'>Narrow view to:</li>-->#set($ulOpen="true")
				#end
			#end
			
			<li class='depth_${item.level} #if($item.level==1) $baseClass #elseif($item.level>1) $subClass #end  #if($item.asLink && $item.url) altAction #end' ><a href='#if($item.asLink && $item.url)${item.url}#else?cat[]=$!{item.friendly_name}#end' class=' #if($item.level==1) parentalLink #end ' #if($item.asLink && $item.url) target='_blank' #end">$!item.name</a>
	
			#*$Controller.repeatStr("- ",$cat.level)*#
			#set($lastLevel=${item.level})
			#set($liOpen="true")
			#set($c=$c+1)
		#end
	#end
		#if($ulOpen=="true")</li></ul>#end
		</li>
	<li class='$baseClass' ><br/></li>
	#*<li class='$baseClass' ><a href="?cat=Virtual%20Tours">Virtual Tours</a></li>*#
	
	
	<li class='$baseClass altAction ' ><a href="http://pullman.mapstrat.com/nextvehicle/Map.aspx" target='_blank'>Bus Routes</a></li>
	<li class='$baseClass altAction ' ><a id="printPdfs" href="#">Printable PDF Maps</a></li>
</ul>

<form action="#" id="getDirections">
	<span id="directionsFrom"><input type="text" value="" placeholder="Directions from..." /></span>
	<span id="directionsTo"><input type="text" value="WSU" placeholder="To..." /></span>
</form>


   