#set($baseClass="parent")
#set($subULClass="")
#set($subNarrowClass="subNarrow")
#set($subClass="")

<form action="#" id="placeSearch">
	<input type="text" value="" placeholder="Search for a place" /><input type="submit" class="submit" value="placeSearching" />
</form>

#set($lastLevel = 1 )
#set($c=0)
<ul id='main_nav'>
	#foreach($item in $menuItems)
		#*
			$velocityCount
		*#
	
		#set($Lev=$item.level)
		#if($Lev > $lastLevel)
			#set($val=$Lev - $lastLevel)
			$Controller.repeatStr("<ul>",$val)
		#elseif( $Lev < $lastLevel )
			#set($val=$lastLevel - $Lev)
			$Controller.repeatStr("</li></ul>",$val)
			</li>
		#elseif( $Lev > 1 )
			</li>
		#end

		<li class='depth_${item.level} #if($item.level==1) $baseClass #elseif($item.level>1) $subClass #end  #if($item.asLink && $item.url) altAction #end' >
			<a  hidefocus="true" href='/#if($item.asLink && $item.url)${item.url}#else?cat%5B%5D=$!{item.friendly_name}#end' class=' #if($item.level==1) parentalLink #end ' #if($item.asLink && $item.url) target='_blank' #end>
				$!item.name.Replace("&","&amp;")
			</a>
			#set($lastLevel=${item.level})
	#end
		#set($val=$lastLevel-1)
		$Controller.repeatStr("</li></ul>",$val)
	</li>
	<li class='$baseClass' ><br/></li>
	#*<li class='$baseClass' ><a href="?cat=Virtual%20Tours">Virtual Tours</a></li>*#
	<li class='$baseClass altAction ' ><a href="http://pullman.mapstrat.com/nextvehicle/Map.aspx" target='_blank'>Bus Routes</a></li>
	<li class='$baseClass altAction ' ><a id="printPdfs" href="#">Printable PDF Maps</a></li>
</ul>

<form action="#" id="getDirections">
	<span id="directionsFrom"><input type="text" value="" placeholder="Directions from..." /></span>
	<span id="directionsTo"><input type="text" value="WSU" placeholder="To..." /></span>
</form>


   