#set($baseClass="ui-button ui-widget ui-state-default mItem")
#set($quickaction_BaseClass="ui-button ui-widget ui-state-active")

<div id="navWrap">
	<div id="adminNav">
	
		<ul class="menu formAction Cancel"><li class="nosub"><a class="open " href="#"><b>Cancel</b></a></li></ul>
		<ul class="menu formAction Apply"><li class="nosub"><a class="open " href="#"><b>Apply</b></a></li></ul>
		<ul class="menu formAction Submit"><li class="nosub"><a class="open " href="#"><b>Submit</b></a></li></ul>
		
		
		<ul class="menu posRight">
			<li class="nosub"><a class="open" href="../admin"><b>Home</b></a></li>
		</ul>
		
		#if($userService.checkPrivleage("modify_views"))
			<ul class="menu">
				<li class="liTop"><a class="open #if($controller.getView()=='view')active#end" href="../view/list.castle"><b>Map views</b></a>
					<ul class="drop">
                        <li><a href="../view/list.castle">Map view list</a></li>
                        <li><a href="../view/new.castle">New Map view</a></li>
                        <li><hr/></li>
						#if($userService.checkPrivleage("modify_global_nav"))<li><a href="../view/list_nav.castle">Global Navagation</a></li>#end
					</ul>
				</li>
				<li class="close"><a href="#"></a></li>
			</ul>
		#end
		<ul class="menu">
			<li class="liTop"><a class="open #if($controller.getView()=='place')active#end" href="#"><b>Assests</b></a>
				<ul class="drop">
					<li class="liTop"><a class="open #if($controller.getView()=='place')active#end" href="../place/list.castle">Places</a>
						<ul class="drop">
							<li><a href="../place/list.castle">List</a></li>
							<li><a href="../place/new.castle">New Place</a></li>
							
						</ul>
					</li>
				#if($userService.checkPrivleage("modify_geometrics"))
					<li class="liTop"><a class="open #if($controller.getView()=='place')active#end" href="../geometrics/list.castle">Geometrics</a>
						<ul class="drop">
						<li><a href="../geometrics/list.castle">List</a></li>
						<li><a href="../geometrics/new.castle">New Shape</a></li>
						<li><a href="../geometrics/new_style.castle">New Style</a></li>
						#*
						<li><a href="../geometrics/list.castle#_Types">Types</a></li>
						<li><a href="../geometrics/list.castle#_Styles">Styles</a></li>
						<li><a href="../geometrics/list.castle#_Fields">Fields</a></li>
						*#
						</ul>
					</li>
				#end
				</ul>
			</li>
			<li class="close"><a href="#"></a></li>
		</ul>
		
		
		<ul class="menu">
			<li class="liTop"><a class="open #if($controller.getView()=='place')active#end" href="#"><b>Content</b></a>
				<ul class="drop">
				#if($userService.checkPrivleage("modify_media"))
					<li class="liTop"><a class="open #if($controller.getView()=='media')active#end" href="../media/_list.castle">Media</a>
						<ul class="drop">
							<li><a href="../media/_list.castle">List</a></li>
							<li><a href="geometrics/new.castle">New Media</a></li>
							#if($userService.checkPrivleage("modify_feu_media"))<li><a href="#">Front End User Media</a></li>#end
							#if($userService.checkPrivleage("modify_ads_n_notices"))<li><a href="advertisement/list.castle">Notices and Adverts</a></li>#end
						</ul>
					</li>
				#end
				#if($userService.checkPrivleage("modify_comments"))
					<li class="liTop nosub"><a class="open #if($controller.getView()=='comment')active#end" href="../comment/index.castle">Comments</a></li>
				#end
				#if($userService.checkPrivleage("modify_tags"))
					<li class="liTop"><a class="open #if($controller.getView()=='tags')active#end" href="../tags/index.castle">Tags</a>
						<ul class="drop">
							<li><a href="../tags/index.castle">List</a></li>
							<li><a href="../tags/new.castle">New Tag</a></li>
							<li><a href="../tags/index.castle#usertag">User Tags</a></li>
						</ul>
					</li>
				#end	
				</ul>
			</li>
			<li class="close"><a href="#"></a></li>
		</ul>


		<ul class="menu">
			<li class="liTop"><a class="open #if($controller.getView()=='authors')active#end" #if($userService.checkPrivleage("modify_users"))href="../authors/list.castle"#end><b>Authorized Users</b></a>
				<ul class="drop">
                	#if($userService.checkPrivleage("modify_users"))<li><a href="../authors/list.castle">List</a></li>#end
					#if($userService.checkPrivleage("modify_users"))<li><a href="../authors/new.castle">New User</a></li>#end
					#if($userService.checkPrivleage("modify_groups"))<li><a href="../accesslevel/list.castle">Groups</a></li>#end
					<li><a href="../authors/edit.castle?id=$userService.getUser().id">Your Profile</a></li>
					#if($userService.getUser().name==$user)<li><a href="../authors/edit.castle?id=$userService.getUser().id">Your Settings</a></li>#end
				</ul>
			</li>
			<li class="close"><a href="#"></a></li>
		</ul>
		
		#if($userService.checkPrivleage("modify_site_settings") || $userService.checkPrivleage("modify_wsu_matrix"))
            <ul class="menu">
                <li class="liTop"><a class="open"  href="#"><b>Site Controlls</b></a>
                    <ul class="drop">
                        #if($userService.checkPrivleage("modify_site_settings"))<li><a href="../admin/_list_siteSettings.castle"><b>Site Prefences</b></a></li> #end	
                        <li><hr/></li>
                        #if($userService.checkPrivleage("modify_wsu_matrix"))<li><a href="../place/wsu_matrix.castle">WSU Matrix</a></li>#end
                    </ul>
                </li>
                <li class="close"><a href="#"></a></li>
            </ul>					
        #end	     
		
		<ul class="menu"><li class="sep"><b>::</b></li></ul>
		<ul class="menu">
			<li class="nosub"><a class="open" href="../place/gamedaymanager.castle"><b>Game Day Parking</b></a></li>
		</ul>
		<ul class="menu">
			<li class="nosub"><a class="open" href="../admin/help.castle" target="_blank"><b>Help</b></a></li>
		</ul>
		<ul class="menu"><li class="nosub"><a class="open" href="../place/logout.castle"><b>Logout</b></a></li></ul>
	</div>
</div>